<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/js/jstree/style.min.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
<style>
body {
	margin: 0;
}

canvas {
	width: 100%;
	height: 100%;
}

#ccc {
	margin: 1px;
	padding: 0px;
}
.card{
 margin-right: 12px;
}
.bar {
    height: 18px;
    background: green;
}
.mtree{
 flex-basis: 28%;display: flex;flex-direction: column;min-width: 28%;
 }
.mcompose{
 flex-basis: 72%;flex-direction: column;min-width: 72%;
 }
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/jstree/jstree.min.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
				<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="wrapper content-wrapper edit-wrapper" style="overflow: scroll;">
				<div class="row">
				    <form class="col s12" th:action="@{/edunotice/update}" id="form-edit">
					    <div class="row" style="display: flex;">
					    	<div id="container" class="mtree"></div>
					    	
					    	<div class="mcompose">
				  		<div class="row">
	                        <div class="input-field col m12 s12 l12">
	                            <input id="username" type="text">
	                            <label for="username" th:text="#{tb.user.item.username}"></label>
	                        </div>
                    	</div>
	                    <div class="row">
	                        <div class="input-field col m12 s12 l12">
	                            <input id="name" type="text" class="validate">
	                            <label for="name" th:text="#{tb.user.item.name}"></label>
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="input-field col m12 s12 l12">
	                            <input id="telephone" type="text" name="telephone">
	                            <label for="telephone" id="telephone-label" th:attr="data-success=#{validate.right},data-error=#{validate.telephone.wrong},data-cache=#{validate.telephone.wrong}" th:text="#{tb.user.item.telephone}"></label>
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="input-field col m12 s12 l12">
	                            <input id="email" type="text" name="email">
	                            <label for="email" id="email-label" th:attr="data-success=#{validate.right},data-error=#{validate.email.wrong},data-cache=#{validate.email.wrong}" th:text="#{tb.user.item.email}"></label>
	                        </div>
	                    </div>
                    </div>
						</div>
				    </form>
				  </div>
				  
				</div>
			</section>
		</div>
		<div style="display:none" id="treeData" th:text="${classTreeStr}"></div>
		<div style="display:none" id="classes" th:text="${classes}"></div>
		
		<form th:replace="~{form :: gform}"></form>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>

<script th:inline="javascript">
/*<![CDATA[*/
	var classSelected=new Set();
	function isEmpty(str) {
	    return (!str || 0 === str.length);
	}
	$(document).ready(function() {
		const classet=new Set(JSON.parse($("#classes").text()));
		$("#btn-save").bind("click",function(){
			if(classSelected.size<1 || !$("#username").val() || !$("#name").val()){
				Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + '班级，用户名和姓名为必填字段', 1024, 'rounded fail');
				return;
			}
			let x = {"clazzId":Array.from(classSelected),"username":$("#username").val(),"name":$("#name").val(),"gender":$("#gender").val(),"telephone":$("#telephone").val()+"","email":$("#email").val()};
			let _pson=pro.ps(x);
			$(this).addClass("disabled");
			$.post(/*[[@{${baseUri + "/save"}}]]*/"/mycourse/edit"
					, _pson, function(data) {
	            var msg = pro.sp(data);
	            if (msg.statusCode == 200) {
	                if (msg.message) {
	                    Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded success');
	                }
	                if (msg.nextUrl) {
	                   window.location.href=msg.nextUrl;
	                }
	            } else {
	                Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
	            }
	        }, "json");
		});
		var x=JSON.parse($("#treeData").text());
		$('#container').on("changed.jstree", function (e, data) {
			var _selected=data.changed.selected;
			var _deselected=data.changed.deselected;
			if(_selected){
				_selected.forEach(function(element) {
					if(classet.has(element)){
						classSelected.add(element);
					}
				});
			}
			if(_deselected){
				_deselected.forEach(function(element) {
					classSelected.delete(element);
				});
			}
		    }).jstree({ 
			"plugins" : [ "checkbox","changed","types" ],
			'core' : {
		    'data' : x
		 } });
	});
	/*]]>*/
</script>
</html>
