<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<style>
body {
	margin: 0;
}
canvas {
	width: 100%;
	height: 100%;
}
#ccc {
	margin: 1px;
	padding: 0px;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
			<div th:replace="~{breadcrumbs :: crumbs}"></div>
			<div class="wrapper content-wrapper" style="overflow: scroll;">

			<div class="row">
				<table class="bordered responsive-table display dataTable">
						<thead>
							<tr>
								<th class="center">姓名</th>
								<th class="center">任课班级</th>
								<th class="center">班级数</th>
								<th class="center">用户名</th>
								<th class="center">电话</th>
								<th class="center">邮箱</th>
								<th class="center">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr class="" th:each="item : ${data}">
								<td class="center width-10" th:text="${item.name}"></td>
								<td class="center width-20">
									<ul>
									  <li th:each="clazz : ${item.classes}">
									  	<a href="JavaScript:Void(0);" class="chip" th:attr="data-clazzid=${clazz.classId},data-uname=${item.username}" th:text="${clazz.className}"></a>
									  </li>
									</ul>
								</td>
								<td class="center" th:text="${item.classCounts}"></td>
								<td class="center">
									<a href="JavaScript:Void(0);" th:attr="data-username=${item.username}" th:text="${item.username}"></a>
								</td>
								<td class="center" th:text="${item.telephone}"></td>
								<td class="center" th:text="${item.email}"></td>
								<td class="center">
									<a href="JavaScript:void(0);" th:attr="data-id=${item.username}">重置密码</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<ul th:replace="${pagination == null} ? ~{} : ~{pagination :: pagination}"></ul>
            </div>
			</section>
			<form th:replace="~{form :: gform}"></div>
		</div>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/list.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>
<script th:inline="javascript">
/*<![CDATA[*/

	$(document).ready(function() {
		$( "a[data-username]" ).click(function() {
			var bd={"username": $(this).data("username")+""};
			let pson=pro.ps(bd);
			let _location=/*[[@{${baseUri + "/edit"}}]]*/ "/iotproject/edit";
	    	window.location.href=_location+"?k="+pson.k;
		});
		$( "a[data-clazzid]" ).click(function() {
			if($(this).data("clazzid")=='-'){
				var bd={"username": $(this).data("uname")+""};
				let pson=pro.ps(bd);
				let _location=/*[[@{${baseUri + "/edit"}}]]*/ "/iotproject/edit";
		    	window.location.href=_location+"?k="+pson.k;
			}else{
				var bd={"levelThird":$(this).data("clazzid")+""};
				let pson=pro.ps(bd);
		    	window.location.href="edustudents?k="+pson.k;
			}

		});

		$("a[data-id]").click(function (){
			let id = $(this).data("id");
			var r=confirm("确定重置"+id+"的密码？");
			if (r==true){
				var bd={"username": id+""};
				let pson=pro.ps(bd);
				$.post("/resetpwd", pson, function(data) {
					var msg = pro.sp(data);
					if (msg.statusCode == 200) {
						Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded success');
					} else {
						Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
					}
				}, "json");
			}else{

			}
		});

	});
	/*]]>*/
</script>
</html>
