<!DOCTYPE html>
<html lang="en">
<head
	th:replace='head :: common_head(~{::title},~{},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="${titleName}"></title>
<style>
body {
	margin: 0;
}

canvas {
	width: 100%;
	height: 100%;
}

#ccc {
	margin: 1px;
	padding: 0px;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>


</head>
<body>
	<!-- Start Page Loading -->
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<!-- End Page Loading -->
	<!-- //////////////////////////////////////////////////////////////////////////// -->
	<!-- START HEADER -->
	<div th:replace="~{header :: head}"></div>
	<!-- END HEADER -->
	<!-- //////////////////////////////////////////////////////////////////////////// -->
	<!-- START MAIN -->
	<div id="main" class="main-full">
		<!-- START WRAPPER -->
		<div class="wrapper">
			<!-- START LEFT SIDEBAR NAV-->
			<div th:replace="~{laside :: nav}"></div>
			<!-- END LEFT SIDEBAR NAV-->
			<!-- //////////////////////////////////////////////////////////////////////////// -->
			<!-- START CONTENT -->
			<section id="content" class="section-content">
				<div th:replace="~{breadcrumbs :: crumbs}"></div>
				
				<div class="wrapper content-wrapper" style="overflow: scroll;">
				
					<table class="centered bordered">
						<thead>
							<tr>
								<th>
									<div>
										<input type="checkbox" class="filled-in" id="checkall">
										<label for="checkall"></label>
									</div>
								</th>
								<th th:text="#{tb.user.item.username}">Alvin</th>
								<th th:text="#{tb.user.item.email}">Alvin</th>
								<th th:text="#{tb.user.item.telephone}">Alvin</th>
								<th th:text="#{tb.user.item.enabled}">Alvin</th>
								<th th:text="#{tb.user.item.regDate}">Alvin</th>
								
							</tr> 
						</thead>
						<tbody>
							<tr th:each="item : ${data}">
								<td>
									<div>
										<input type="checkbox" name="foo" class="item-checkbox filled-in" th:id="${item.username}" th:attr="data-id=${item.username}" >
										<label th:for="${item.username}"></label>
									</div>
								</td>
								
								<td th:text="${item.username}">Alvin</td>
								<td th:text="${item.email}">Alvin</td>
								<td th:text="${item.telephone}">Alvin</td>
								<td th:if="${item.enabled == 1}"><span th:text="#{tb.device.item.enable}"></td>
								<td th:unless="${item.enabled == 1}"><span th:text="#{tb.device.item.disable}"></td>
								<td th:text="${#dates.format(item.regDate, 'yyyy-MM-dd')}">Alvin</td>
							</tr>
						</tbody>
					</table>
					<ul th:replace="${pagination == null} ? ~{} : ~{pagination :: pagination}"></ul>
				</div>
			</section>
			<!-- END CONTENT -->
			<!-- START RIGHT SIDEBAR NAV-->
			
			<!-- END RIGHT SIDEBAR NAV-->
		</div>
		<form th:replace="~{form :: gform}"></div>
		<!-- END WRAPPER -->
	</div>
	<!-- END MAIN -->
	<!-- START FOOTER -->
	<div th:replace="~{footer :: copy}"></div>
	<!--scrollbar-->
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<!--plugins.js - Some Specific JS codes for Plugin Settings-->
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<!--custom-script.js - Add your own theme custom JS-->
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/list.js' + #servletContext.getAttribute('vstatic')}}"></script>
	
</body>
</html>
