<!DOCTYPE html>
<html lang="en">
<head
	th:replace='head :: common_head(~{::title},~{},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="${titleName}"></title>
<style>
body {
	margin: 0;
}

canvas {
	width: 100%;
	height: 100%;
}

#ccc {
	margin: 1px;
	padding: 0px;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>

</head>
<body>
	<!-- Start Page Loading -->
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<!-- End Page Loading -->
	<!-- //////////////////////////////////////////////////////////////////////////// -->
	<!-- START HEADER -->
	<div th:replace="~{header :: head}"></div>
	<!-- END HEADER -->
	<!-- //////////////////////////////////////////////////////////////////////////// -->
	<!-- START MAIN -->
	<div id="main" class="main-full">
		<!-- START WRAPPER -->
		<div class="wrapper">
			<!-- START LEFT SIDEBAR NAV-->
			<div th:replace="~{laside :: nav}"></div>
			<!-- END LEFT SIDEBAR NAV-->
			<!-- //////////////////////////////////////////////////////////////////////////// -->
			<!-- START CONTENT -->
			<section id="content" class="section-content">
				<div th:replace="~{breadcrumbs :: crumbs}"></div>
				
				<div class="wrapper content-wrapper edit-wrapper" style="overflow: scroll;">
				
				
				<div class="row">
				    <form class="col s12" th:action="@{/adminuser/update}" th:object="${data}" id="form-edit" th:attr="data-id=*{username}">
				      
				      <div class="row">
				        <div class="input-field col s12">
				          <input disabled value="I am not editable" id="disabled" type="text" class="validate" th:value="*{username}"/>
				          <label for="disabled" th:text="#{tb.user.item.username}">Disabled</label>
				          <input type="hidden" name="pid" th:value="*{username}">
				        </div>
				      </div>
				     
				     
				     <div class="row">
				        <div class="input-field col s12">
				          <input disabled id="telephone" type="text" name="telephone" th:value="*{telephone}">
				          <label for="telephone" id="telephone-label" th:attr="data-success=#{validate.right},data-error=#{validate.telephone.wrong},data-cache=#{validate.telephone.wrong}" th:text="#{tb.user.item.telephone}"></label>
				        </div>
				      </div>
				      
				      
				      <div class="row">
				        <div class="input-field col s12">
				          <input disabled id="email" type="text" name="email" th:value="*{email}">
				          <label for="email" id="email-label" th:attr="data-success=#{validate.right},data-error=#{validate.email.wrong},data-cache=#{validate.email.wrong}" th:text="#{tb.user.item.email}"></label>
				        </div>
				      </div>
				     
				     
				      <div class="row">
						<div class="col s12">
							<label for="xxx" th:text="#{tb.user.item.enabled}"></label>
							<p class="p-radio" id="xxx">
								<input name="enabled" class="with-gap" type="radio" id="read" th:checked="*{enabled == 1}" value="1" /> 
								<label for="read" th:text="#{tb.user.item.enable}">启用</label>
							</p>
							<p class="p-radio">
								<input name="enabled" class="with-gap" type="radio" id="rw" th:checked="*{enabled == 0}" value="0" /> 
								<label for="rw" th:text="#{tb.user.item.disable}">禁用</label>
							</p>
						</div>
					</div>
				      
				    </form>
				  </div>
				</div>
			</section>
			<!-- END CONTENT -->
			<!-- START RIGHT SIDEBAR NAV-->
			
			<!-- END RIGHT SIDEBAR NAV-->
		</div>
		<form th:replace="~{form :: gform}"></form>
		<!-- END WRAPPER -->
	</div>
	<!-- END MAIN -->
	<!-- START FOOTER -->
	<div th:replace="~{footer :: copy}"></div>
	<!--scrollbar-->
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<!--plugins.js - Some Specific JS codes for Plugin Settings-->
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<!--custom-script.js - Add your own theme custom JS-->
</body>
</html>
