<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/js/jstree/style.min.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/node/node_modules/blueimp-file-upload/css/jquery.fileupload.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/node/node_modules/blueimp-file-upload/css/jquery.fileupload-ui.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
		
<style>
body {
	margin: 0;
}

canvas {
	width: 100%;
	height: 100%;
}

#ccc {
	margin: 1px;
	padding: 0px;
}
.card{
 margin-right: 12px;
}
.bar {
    height: 18px;
    background: green;
}
.mtree{
 flex-basis: 28%;display: flex;flex-direction: column;min-width: 28%;
 }
.mcompose{
 flex-basis: 72%;display: flex;flex-direction: column;min-width: 72%;
 }
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/jstree/jstree.min.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/node/node_modules/jquery.ui.widget/jquery.ui.widget.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/node/node_modules/blueimp-file-upload/js/jquery.iframe-transport.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/node/node_modules/blueimp-file-upload/js/jquery.fileupload.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>

</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
				<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="wrapper content-wrapper edit-wrapper" style="overflow: scroll;">
				<div class="row">
				    <form class="col s12" th:action="@{/edunotice/update}" id="form-edit">
				    <div class="row" style="display: flex;">
				    <div id="container" class="mtree">
					</div>
				      <div class="mcompose">
				      
				      <div class="row" sec:authorize="hasRole('ROLE_COADMIN')">
					      <div class="col s4 m4 l4" >
					       		<span>发送给：</span>
					       		</div>
					      	<div class="col s4 m4 l4" >
					       		<input type="checkbox" class="filled-in" id="toTeacher" checked="checked" />
	    					 	<label for="toTeacher">教师</label>
					       		</div>
					     	<div class="col s4 m4 l4" >
					       		<input type="checkbox" class="filled-in" id="toStudent" checked="checked" />
	    						<label for="toStudent">学生</label>
					       	</div>
				      </div>
				        <div class="input-field">
				          <input id="titleName" type="text" name="titleName" class="validate"/>
				          <label for="titleName">通知标题</label>
				        </div>
				        <div class="input-field">
				        <textarea id="body" class="materialize-textarea"></textarea>
    						<label for="body">通知内容</label>
				        </div>
				        <div class="input-field">
				       		<div class="col s12 m12 l12" >
				       		附件
				       		</div>
							<div id="attas" class="attas row s12 m12 l12">
							</div>
				      </div>
				        <form class="col s12" th:action="@{/sysmedia/upload}" th:attr="data-url=@{/sysmedia/upload}" enctype="multipart/form-data" id="uploadForm">
					      <div class="file-field input-field">
								<div class="btn">
									<span>选择文件</span>
									<input name="fileUpload" id="fileUploaded" type="file" data-height="400"  th:attr="data-url=@{/sysmedia/upload}" data-max-file-size="3M" data-allowed-file-extensions="jpg jpeg png heic mp4" multiple />
								</div>
<!-- 								<div class="file-path-wrapper"> -->
<!-- 									<input class="file-path validate" type="text" placeholder="上传一个或多个文件"> -->
<!-- 								</div> -->
<!-- 								<div id="progress"> -->
<!--  							    <div class="bar" style="width: 0%;"></div> -->
 							</div>
							</div>
						</form>
				      </div>
				     </div>
				    </form>
				  </div>
				</div>
			</section>
		</div>
		<div style="display:none" id="treeData" th:text="${classTreeStr}"></div>
		<div style="display:none" id="classes" th:text="${classes}"></div>
		<div id="atta" style="display:none">
			<div class="col card hoverable l5 s12 m12">
               <div class="card-content card-content-top-border">
                    <span class="card-title text-ellipsis file">
                    <span class="filename">阿道夫阿道夫</span>
                    <i class="icon-left left breadcrumbs-btn-icon mdi mdi-attachment"></i>
                    <i class="icon-right right breadcrumbs-btn-icon mdi mdi-close"></i>
                    </span>
                  </div>
            </div>
		</div>
		<form th:replace="~{form :: gform}"></form>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>

<script th:inline="javascript">
/*<![CDATA[*/

	var classSelected=new Set();
	function isEmpty(str) {
	    return (!str || 0 === str.length);
	}
	$(document).ready(function() {
		const classet=new Set(JSON.parse($("#classes").text()));
		$('#fileUploaded').fileupload({
	        dataType: 'json',
	        replaceFileInput:false,
	        add: function (e, data) {
	        	data.submit();
	        },
	        done:function (e,data) {
	        	var msg = pro.sp(data.result);
				if (msg.statusCode == 200) {
					$(".dropify-clear").trigger("click");
					if(msg.message&&msg.message!=null){
						Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded success');
					}
					if(msg.msgMap && msg.msgMap.keys){
						var _keys=JSON.parse(msg.msgMap.keys);
						if(_keys && _keys.length>0){
							for(var i=0;i<_keys.length;i++){
								var fname=_keys[i].substring(_keys[i].lastIndexOf('/')+1);
								var _attach=$("#atta").find('.card').clone(true);
								_attach.find('.card-content').find(".file").find(".filename").text(fname);
								_attach.data("sss",_keys[i]);
								$("#attas").append(_attach);
								$("#fileUploaded").val(null);
							}
						}
					}
				}
	        },
	        progressall: function (e, data) {
	            var progress = parseInt(data.loaded / data.total * 100, 10);
	            $('#progress .bar').css(
	                'width',
	                progress + '%'
	            );
	        }
	    });
		
		$("#btn-send").bind("click",function(){
			if(classSelected.size<1){
				Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + '请选择班级', 1024, 'rounded fail');
				return;
			}
			let attaId=[];
			var _attas=$("#attas").find(".card");
			if(_attas && _attas.length>0){
				$.each(_attas,function(index,value) {
					attaId.push($(value).data("sss"));
				});
			}
			
			let _ttype=0;
			let _stype=0;
			if($("#toTeacher").prop("checked") == true){
				_ttype=1;
			}
			if($("#toStudent").prop("checked") == true){
				_stype=1;
			}
			let _type=_ttype+""+_stype;
			let x={"type":_type,"clazzId":Array.from(classSelected),"attaId":attaId,"titleName":$("#titleName").val(),"projectDesc":$("#body").val()};
			let _pson=pro.ps(x);
			
			$(this).addClass("disabled");
			$.post(/*[[@{${baseUri + "/send"}}]]*/"/mycourse/edit"
					, _pson, function(data) {
				
	            var msg = pro.sp(data);
	            if (msg.statusCode == 200) {
	                if (msg.message) {
	                    Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded success');
	                    
	                }
	                if (msg.nextUrl) {
	                   window.location.href=msg.nextUrl;
	                }
	            } else {
	                Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
	            }
	        }, "json");
			
			
		});
		
		$(".mdi-close").bind("click",function(){
			$( this ).parent().parent().parent().remove();
		});
		var x=JSON.parse($("#treeData").text());
		$('#container').on("changed.jstree", function (e, data) {
			var _selected=data.changed.selected;
			var _deselected=data.changed.deselected;
			if(_selected){
				_selected.forEach(function(element) {
					if(classet.has(element)){
						classSelected.add(element);
					}
				});
			}
			if(_deselected){
				_deselected.forEach(function(element) {
					classSelected.delete(element);
				});
			}
		    }).jstree({ 
			"plugins" : [ "checkbox","changed","types" ],
			'core' : {
		    'data' : x
		 } });
	});
	/*]]>*/
</script>
</html>
