<!DOCTYPE html>
<html lang="en">
<head
	th:replace='head :: common_head(~{::title},~{},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<style>
body {
	margin: 0;
}

canvas {
	width: 100%;
	height: 100%;
}

#ccc {
	margin: 1px;
	padding: 0px;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>

</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
				<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="wrapper content-wrapper edit-wrapper" style="overflow: scroll;">
				<div class="row">
				    <form class="col s12" th:action="@{/edunotice/update}" th:object="${data}" id="form-edit" th:attr="data-id=*{noticeId}">
				      <div class="row">
				        <div class="input-field col s12">
				          <input disabled value="I am not editable" id="disabled" type="text" class="validate" th:value="*{noticeSubject}"/>
				          <label for="disabled">通知标题</label>
				        </div>
				      </div>
				     <div class="row">
				        <div class="input-field col s12">
				          <input id="body" disabled type="text" name="telephone" th:value="*{noticeBody}">
				          <label for="body" id="telephone-label">通知内容</label>
				        </div>
				      </div>
				       <div id="att" class="row" th:if="${attachments!=null}">
				       		<div class="col s12 m12 l12" >
				       		附件
				       		</div>
							<div class="col s3 m3 l3" th:each="attachment : ${attachments}" >
								<div class="card hoverable">
				                        
				                        <div class="card-content card-content-top-border">
				                          <a href="JavaScript:void(0);" class="card-title text-ellipsis" th:attr="data-id=${attachment.attachmentId}" >
				                            <i class="icon-left left breadcrumbs-btn-icon mdi" th:classappend="${attachment.cssClass}"></i>
				                            <div class="card-title-div-inline" th:text="${attachment.location}"></div>
				                          </a>
				                        </div>
				                  </div>
							</div>
				      </div>
				    </form>
				  </div>
				</div>
			</section>
		</div>
		<form th:replace="~{form :: gform}"></form>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>

<script th:inline="javascript">
/*<![CDATA[*/

	$(document).ready(function() {
		$( "a[data-id]" ).click(function() {
			var bd={"pid": $(this).data("id")+""};
			let pson=pro.ps(bd);
	    	window.location.href="/edunotice/downlood?k="+pson.k;
		});
	});
	/*]]>*/
</script>
</html>
