<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/js/jstree/style.min.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/node/node_modules/blueimp-file-upload/css/jquery.fileupload.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/node/node_modules/blueimp-file-upload/css/jquery.fileupload-ui.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
		
<style>
body {
	margin: 0;
}

canvas {
	width: 100%;
	height: 100%;
}

#ccc {
	margin: 1px;
	padding: 0px;
}
.card{
 margin-right: 12px;
}
.bar {
    height: 18px;
    background: green;
}
.mtree{
 flex-basis: 28%;display: flex;flex-direction: column;min-width: 28%;
 }
.mcompose{
 flex-basis: 72%;display: flex;flex-direction: column;min-width: 72%;
 }
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/jstree/jstree.min.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>

</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
				<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="wrapper content-wrapper edit-wrapper" style="overflow: scroll;">
				<div class="row">
				    
				    <div class="row" style="display: flex;">
				    <div id="container" class="mtree">
					</div>
				      <div class="mcompose" th:object="${data}" >
				        <div class="input-field">
				          <input id="titleName" disabled type="text" name="titleName" class="validate" th:value="*{noticeSubject}"/>
				          <label for="titleName">通知标题</label>
				        </div>
				        <div class="input-field">
				        <textarea id="body" rows="8" style="overflow: scroll;height: auto;" class="materialize-textarea"></textarea>
    						<label for="body">通知内容</label>
				        </div>
				        <div th:if="${attachments!=null}" class="input-field">
				       		<div class="col s12 m12 l12" >
				       		附件
				       		</div>
							<div th:each="attachment : ${attachments}" >
							
							<div class="col card hoverable l5 s12 m12">
				               <div class="card-content card-content-top-border">
				                    <span class="card-title text-ellipsis">
				                    <i class="icon-left left breadcrumbs-btn-icon mdi" th:classappend="${attachment.cssClass}"></i>
				                    <a href="JavaScript:void(0);" style="display: inline-flex;" class="card-title text-ellipsis" th:attr="data-id=${attachment.attachmentId}" th:text="${attachment.attaName}"></a>
				                    </span>
				                  </div>
				            </div>
							
							</div>
				      </div>
				      </div>
				     </div>
				  </div>
				</div>
			</section>
		</div>
		<div style="display:none" id="treeData" th:text="${classTreeStr}"></div>
		<div style="display:none" id="noticeBodyData" th:utext="${data.noticeBody}"></div>
		
		<form th:replace="~{form :: gform}"></form>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>

<script th:inline="javascript">
/*<![CDATA[*/

	$(document).ready(function() {
		$("#body").text($("#noticeBodyData").text());
		
		var x=JSON.parse($("#treeData").text());
		$('#container').on("changed.jstree", function (e, data) {
			
		    }).jstree({ 
			"plugins" : [ "checkbox" ],
			'core' : {
		    'data' : x
		 } });
		
		$( "a[data-id]" ).click(function() {
			var bd={"pid": $(this).data("id")+""};
			let pson=pro.ps(bd);
	    	window.location.href="/edunotice/downlood?k="+pson.k;
		});
	});
	/*]]>*/
</script>
</html>
