<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/lib/prism.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/custom/icons.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<style>
html, body {
  height: 100%;
}
body {
  background-color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}
#blockly {
  float: right;
  height: 95%;
  width: 70%;
}
#importExport {
  font-family: monospace;
}

body {
	margin: 0;
}
canvas {
	width: 100%;
	height: 100%;
}
#ccc {
	margin: 1px;
	padding: 0px;
}
</style>
<!-- <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/xblockly/blockly_c.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script> -->
<!-- <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/xblockly/blocks_c.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script> -->
<!-- <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/xblockly/javascript_compressed.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script> -->
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/vblockly/appengine/maze/generated/en/compressed.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<!-- <script th:src="#{blockly.msg.js(${#servletContext.getAttribute('dnstatic')},${#servletContext.getAttribute('vstatic')})}" data-info="th"></script> -->
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/prism.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<form th:object="${data}" id="form-edit" th:attr="data-id=123"></form>
	<form th:replace="~{form :: gform}"></form>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
			<div th:replace="~{breadcrumbs :: crumbs}"></div>
			<div class="container" id="workspace" th:object="${data}" data-action="/mycodenestblock/apdate" data-faction="flash" data-caction="complete" data-saction="/codenestblock/share" data-haction="history">
			<div id="blockly" style="position: absolute"></div>
			<div style="display: none">
				<span id="Games_name">Blockly Games</span> <span id="Games_puzzle">Puzzle</span>
				<span id="Games_maze">Maze</span> <span id="Games_bird">Bird</span>
				<span id="Games_turtle">Turtle</span> <span id="Games_movie">Movie</span>
				<span id="Games_music">Music</span>
				<span id="Games_pondTutor">Pond Tutor</span>
				<span id="Games_pond">Pond</span>
				<span id="Games_genetics">Genetics</span>
				<span id="Games_linesOfCode1">You solved this level with 1 line of Python:</span>
				<span id="Games_linesOfCode2">You solved this level with %1 lines of Python:</span>
				<span id="Games_nextLevel">Are you ready for level %1?</span>
				<span id="Games_finalLevel">Are you ready for the next challenge?</span>
				<span id="Games_submitTitle">Title:</span>
				<span id="Games_linkTooltip">Save and link to blocks.</span>
				<span id="Games_runTooltip">Run the program you wrote.</span>
				<span id="Games_runProgram">Run Program</span>
				<span id="Games_resetTooltip">Stop the program and reset the level.</span>
				<span id="Games_resetProgram">Reset</span>
				<span id="Games_help">Help</span>
				<span id="Games_dialogOk">OK</span>
				<span id="Games_dialogCancel">Cancel</span>
				<span id="Games_catLogic">Logic</span>
				<span id="Games_catLoops">Loops</span>
				<span id="Games_catMath">Math</span>
				<span id="Games_catText">Text</span>
				<span id="Games_catLists">Lists</span>
				<span id="Games_catColour">Colour</span>
				<span id="Games_catVariables">Variables</span>
				<span id="Games_catProcedures">Functions</span>
				<span id="Games_httpRequestError">There was a problem with the request.</span>
				<span id="Games_linkAlert">Share your blocks with this link:\n\n%1</span>
				<span id="Games_hashError">Sorry, '%1' doesn't correspond with any saved program.</span>
				<span id="Games_xmlError">Could not load your saved file. Perhaps it was created with a different version of Blockly?</span>
				<span id="Games_submitted">Thank you for this program! If our staff of trained monkeys like it, they will publish it to the gallery within a couple of days.</span>
				<span id="Games_listVariable">list</span>
				<span id="Games_textVariable">text</span>
				<span id="Games_breakLink">Once you start editing JavaScript, you can't go back to editing blocks. Is this OK?</span>
				<span id="Games_blocks">Blocks</span>
				</div>
				<div style="display: none">
					<span id="Maze_moveForward">move forward</span>
					<span id="Maze_turnLeft">turn left</span>
					<span id="Maze_turnRight">turn right</span> <span id="Maze_doCode">do</span>
					<span id="Maze_elseCode">else</span>
					<span id="Maze_helpIfElse">If-else blocks will do one thing or the other.</span>
					<span id="Maze_pathAhead">if path ahead</span>
					<span id="Maze_pathLeft">if path to the left</span>
					<span id="Maze_pathRight">if path to the right</span>
					<span id="Maze_repeatUntil">repeat until</span>
					<span id="Maze_moveForwardTooltip">Moves the player forward one space.</span>
					<span id="Maze_turnTooltip">Turns the player left or right by 90 degrees.</span>
					<span id="Maze_ifTooltip">If there is a path in the specified direction, then do some actions.</span>
					<span id="Maze_ifelseTooltip">If there is a path in the specified direction, then do the first block of actions. Otherwise, do the second block of actions.</span>
					<span id="Maze_whileTooltip">Repeat the enclosed actions until finish point is reached.</span>
					<span id="Maze_capacity0">You have %0 blocks left.</span>
					<span id="Maze_capacity1">You have %1 block left.</span>
					<span id="Maze_capacity2">You have %2 blocks left.</span>
				</div>
<table width="100%"></table>
<div id="dialogShadow" class="dialogAnimate" style="visibility: visible; opacity: 0.3; z-index: 9;"></div>
<div id="dialogBorder" style="visibility: hidden;"></div>
<div id="dialog" class="dialog" style="visibility:hidden; z-index: 999;">
	
	<div id="dialogDone" class="card dialog-content gradient-45deg-yellow-teal" style="z-index: 1111;position: absolute;left: 50%;">
	
		<h5 class="center">Congratulations!</h5>
		<div id="dialogLinesText" style="font-size: large; margin: 1em;">You solved this level with 2 lines of JavaScript:</div>
		<pre id="containerCode">
			<span class="pln">moveForward</span>
			<span class="pun">();</span>
			<span class="pln">moveForward</span>
			<span class="pun">();</span>
		</pre>
		<div id="dialogDoneText" style="font-size: large; margin: 1em;">Are you ready for level 2?</div>
		<img id="pegSpin" src="/code/vblockly/appengine/common/1x1.gif" style="background-image: url('/code/vblockly/appengine/maze/pegman.png'); background-position: -245px 0px;">
		<div id="dialogDoneButtons" class="farSide dialog-footer" >
			<button id="doneCancel" class="waves-effect waves-light btn left">Cancel</button>
			<button id="doneOk" class="secondary waves-effect waves-light btn right">OK</button>
		</div>
		
	</div>
</div>

<div id="dialogStorage" class="dialogHiddenContent">
	<div id="containerStorage"></div>
	
</div>

			</div>
			<div class="container fixedjs card" >
				<div class="card-content">
					<div class="card-title" style="border-bottom: 1px solid rgba(160, 160, 160, 0.2)">
					Python
					</div>
					<pre><code id="code" class="language-python"></code></pre>
				</div>
			</div>
			<div class="fixedsvg card" id="visualization">
			   	<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="svgMaze" width="400px" height="400px">
			      <g id="look">
			        <path d="M 0,-15 a 15 15 0 0 1 15 15" />
			        <path d="M 0,-35 a 35 35 0 0 1 35 35" />
			        <path d="M 0,-55 a 55 55 0 0 1 55 55" />
			      </g>
			    </svg>
			    <div id="capacityBubble">
			      <div id="capacity"></div>
			    </div>
			</div>
				
			</section>
		</div>
	</div>
	<div th:replace="~{footer :: copy}"></div>
    <div id="wikiModal" class="modal">
        <div class="modal-content">
            <h5>分享到网络</h5>
            <p></p>
        </div>
        <div class="modal-footer"> 
        <button class="btn waves-effect waves-light modal-action modal-close">关闭</button></div>
    </div>
</body>
<div th:replace="~{toolboxmaze :: toolbox}"></div>
</div>
</div>
<script th:inline="javascript">
/*<![CDATA[*/
    var options={
    		  "toolbox": document.getElementById('toolbox'),
    		  "comments": true,
    		  "grid": {
    		    "spacing": 20,
    		    "length": 30,
    		    "colour": "#eee",
    		    "snap": false
    		  },
    		  "zoom": {
    		    "controls": true,
    		    "wheel": true,
    		    "startScale": 1,
    		    "maxScale": 2,
    		    "minScale": 0.01,
    		    "scaleSpeed": 1.2
    		  },
    		    "media": /*[[${#servletContext.getAttribute('dnstatic') + '/xblockly/media/'}]]*/ "/xblockly/media/"
    		        ,"toolboxOptions": {
    		    "border": true,
    		    "colour": true,
    		    "inverted": true,
    		    "invertedMultiplier": 0.3,
    		    "disabledOpacity": 0.4
    		  }
    		};
$(document).ready(function() {
	Maze.init('blockly','visualization',options);
	var workspacePlayground = BlocklyInterface.getWorkspace();
    function myUpdateFunction(event) {
        var code = BlocklyInterface.getPyCode();
        code=code.replace(/(,\s*)?'block_id_[^']+'\)/g, ')');
        $("#code").text(code);
        Prism.highlightElement($("#code")[0]);
    }
    workspacePlayground.addChangeListener(myUpdateFunction);
    var resize = function() {
    	let ww = window.innerWidth - STEPIOT.size.nav.width - 2;
    	let codewidth=0;
    	var codedisplay=$(".fixedjs").css("display");
    	if(codedisplay!='none'){
    		codewidth=$(".fixedjs").width()+20;
    		ww = ww - codewidth -5 ;
    	}
        let hh = window.innerHeight - STEPIOT.size.top.height - 50 - STEPIOT.size.bottom.height - 2;
        $(".fixedsvg").height(400);
        $(".fixedjs").height((hh-8)-400);
        $("#workspace").width(ww);
        $("#workspace").height(hh);
        $("#blockly").offset({
            top: (STEPIOT.size.top.height + 50),
            left: (STEPIOT.size.nav.width + 2)
        });
        $("#blockly").width(ww);
        $("#blockly").height(hh);
        $(".fixedjs").offset({
            top: (STEPIOT.size.top.height + 50)+4,
            left: window.innerWidth - codewidth 
        });
        $(".fixedsvg").offset({
            top: (STEPIOT.size.top.height + 50)+8+$(".fixedjs").height(),
            left: window.innerWidth - codewidth 
        });
        
        BlocklyInterface.svgResize();
    }
    STEPIOT.updateWorkspaceSize(resize);
    

    
    var doComplete=function(){
		let _pson=pro.ps({"pid":($("#workspace").data("id")+""),"courseId":$("#workspace").data("cid")});
		var _action=$("#workspace").data("caction");
		$.post(_action, _pson, function(data) {
			var msg = pro.sp(data);
			if (msg.statusCode == 200) {
				if(msg.message&&msg.message!=null){
					Materialize.toast('<i class="material-icons">settings_input_antenna</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded success');
				}
			}else{
				Materialize.toast('<i class="material-icons">settings_input_antenna</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
			}
		}, "json");
    }
    $("#btn-complete").bind("click",doComplete);
   

    var showhideCode=function(){
    	$(".fixedjs").toggle();
    	STEPIOT.updateWorkspaceSize(resize);
    }
    var doShare=function(){
    	var _xml = BlocklyInterface.getCode();
		let _pson=pro.ps({"blocklyXml":_xml});
		var _action=$("#workspace").data("saction");
		$.post(_action, _pson, function(data) {
			var msg = pro.sp(data);
			if (msg.statusCode == 200) {
				if(msg.message&&msg.message!=null){
					 $('#wikiModal .modal-content p').html(window.location.origin+"/codenestblock?key="+msg.message);
				     $('#wikiModal').modal('open');
				}
			}else{
				Materialize.toast('<i class="material-icons">settings_input_antenna</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
			}
		}, "json");
    }
    $("#btn-share").bind("click",doShare);
    $("#btn-history").bind("click",function(){
    	let _pson=pro.ps({"pid":($("#workspace").data("id")+"")});
    	let ids=[];
		ids.push($("#workspace").data("id")+"");
		let x={"id": ids};
		let pson=pro.ps(x);
		$("#gform input[name=k]").val(pson.k);
		$("#gform").attr("action",/*[[@{${baseUri + "/history"}}]]*/ "/mycourse/edit");
		$("#gform").submit();
    });
    $("#btn-code").bind("click",showhideCode);
    var xml_text = $("#workspace").data("xml");
    if(xml_text){
    	BlocklyInterface.setCode(xml_text);
    }
    BlocklyInterface.zoomToFit();
    $('.modal').modal();
});
/*]]>*/
</script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</html>
