<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/lib/prism.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/custom/icons.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<style>
html, body {
  height: 100%;
}
body {
  background-color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/code/vblockly/appengine/maze/generated/en/compressed.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<form th:replace="~{form :: gform}"></form>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
			<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="container" id="workspace"></div>
				
			</section>
		</div>
	</div>
	<div th:replace="~{footer :: copy}"></div>

</body>

</div>
</div>

	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</html>
