<div style="display: none">
	<span id="Games_name">Blockly Games</span> <span id="Games_puzzle">Puzzle</span>
	<span id="Games_maze">Maze</span> <span id="Games_bird">Bird</span> <span
		id="Games_turtle">Turtle</span> <span id="Games_movie">Movie</span> <span
		id="Games_music">Music</span> <span id="Games_pondTutor">Pond
		Tutor</span> <span id="Games_pond">Pond</span> <span id="Games_genetics">Genetics</span>
	<span id="Games_linesOfCode1">You solved this level with 1 line
		of JavaScript:</span> <span id="Games_linesOfCode2">You solved this
		level with %1 lines of JavaScript:</span> <span id="Games_nextLevel">Are
		you ready for level %1?</span> <span id="Games_finalLevel">Are you
		ready for the next challenge?</span> <span id="Games_submitTitle">Title:</span>
	<span id="Games_linkTooltip">Save and link to blocks.</span> <span
		id="Games_runTooltip">Run the program you wrote.</span> <span
		id="Games_runProgram">Run Program</span> <span id="Games_resetTooltip">Stop
		the program and reset the level.</span> <span id="Games_resetProgram">Reset</span>
	<span id="Games_help">Help</span> <span id="Games_dialogOk">OK</span> <span
		id="Games_dialogCancel">Cancel</span> <span id="Games_catLogic">Logic</span>
	<span id="Games_catLoops">Loops</span> <span id="Games_catMath">Math</span>
	<span id="Games_catText">Text</span> <span id="Games_catLists">Lists</span>
	<span id="Games_catColour">Colour</span> <span id="Games_catVariables">Variables</span>
	<span id="Games_catProcedures">Functions</span> <span
		id="Games_httpRequestError">There was a problem with the
		request.</span> <span id="Games_linkAlert">Share your blocks with this
		link:\n\n%1</span> <span id="Games_hashError">Sorry, '%1' doesn't
		correspond with any saved program.</span> <span id="Games_xmlError">Could
		not load your saved file. Perhaps it was created with a different
		version of Blockly?</span> <span id="Games_submitted">Thank you for
		this program! If our staff of trained monkeys like it, they will
		publish it to the gallery within a couple of days.</span> <span
		id="Games_listVariable">list</span> <span id="Games_textVariable">text</span>
	<span id="Games_breakLink">Once you start editing JavaScript,
		you can't go back to editing blocks. Is this OK?</span> <span
		id="Games_blocks">Blocks</span>
</div>
<div style="display: none">
	<span id="Maze_moveForward">move forward</span> <span
		id="Maze_turnLeft">turn left</span> <span id="Maze_turnRight">turn
		right</span> <span id="Maze_doCode">do</span> <span id="Maze_elseCode">else</span>
	<span id="Maze_helpIfElse">If-else blocks will do one thing or
		the other.</span> <span id="Maze_pathAhead">if path ahead</span> <span
		id="Maze_pathLeft">if path to the left</span> <span
		id="Maze_pathRight">if path to the right</span> <span
		id="Maze_repeatUntil">repeat until</span> <span
		id="Maze_moveForwardTooltip">Moves the player forward one
		space.</span> <span id="Maze_turnTooltip">Turns the player left or
		right by 90 degrees.</span> <span id="Maze_ifTooltip">If there is a
		path in the specified direction, then do some actions.</span> <span
		id="Maze_ifelseTooltip">If there is a path in the specified
		direction, then do the first block of actions. Otherwise, do the
		second block of actions.</span> <span id="Maze_whileTooltip">Repeat
		the enclosed actions until finish point is reached.</span> <span
		id="Maze_capacity0">You have %0 blocks left.</span> <span
		id="Maze_capacity1">You have %1 block left.</span> <span
		id="Maze_capacity2">You have %2 blocks left.</span>
</div>
<table width="100%"></table>
<div id="dialogShadow" class="dialogAnimate"
	style="visibility: visible; opacity: 0.3; z-index: 9;"></div>
<div id="dialogBorder" style="visibility: hidden;"></div>
<div id="dialog"
	style="width: 40%; left: 30%; top: 3em; visibility: visible; z-index: 10;">
	<div id="dialogHeader"></div>
	<div id="dialogDone" class="">
		<div style="font-size: large; margin: 1em;">Congratulations!</div>
		<div id="dialogLinesText" style="font-size: large; margin: 1em;">You
			solved this level with 2 lines of JavaScript:</div>
		<pre id="containerCode">
										<span class="pln">moveForward</span>
										<span class="pun">();</span>
										<span class="pln">moveForward</span>
										<span class="pun">();</span>
									</pre>
		<div id="dialogDoneText" style="font-size: large; margin: 1em;">Are
			you ready for level 2?</div>
		<img id="pegSpin" src="/code/vblockly/appengine/common/1x1.gif"
			style="background-image: url(&quot;/code/vblockly/appengine/maze/pegman.png&quot;); background-position: -245px 0px;">
		<div id="dialogDoneButtons" class="farSide" style="padding: 1ex 3ex 0">
			<button id="doneCancel">Cancel</button>
			<button id="doneOk" class="secondary">OK</button>
		</div>
	</div>
</div>

<div id="dialogAbort" class="dialogHiddenContent">
	This level is extremely difficult. Would you like to skip it and go
	onto the next game? You can always come back later.
	<div class="farSide" style="padding: 1ex 3ex 0">
		<button id="abortCancel">Cancel</button>
		<button id="abortOk" class="secondary">OK</button>
	</div>
</div>
<div id="dialogStorage" class="dialogHiddenContent">
	<div id="containerStorage"></div>
	<div class="farSide" style="padding: 1ex 3ex 0">
		<button class="secondary" onclick="BlocklyDialogs.hideDialog(true)">OK</button>
	</div>
</div>
<div id="dialogHelpStack" class="dialogHiddenContent">
	<table>
		<tbody>
			<tr>
				<td><img src="/code/vblockly/appengine/common/help.png">
				</td>
				<td>&nbsp;</td>
				<td>Stack a couple of 'move forward' blocks together to help me
					reach the goal.</td>
				<td valign="top"><img
					src="/code/vblockly/appengine/maze/help_stack.png"
					class="mirrorImg" height="63" width="136"></td>
			</tr>
		</tbody>
	</table>
</div>
<div id="dialogHelpOneTopBlock" class="dialogHiddenContent">
	<table>
		<tbody>
			<tr>
				<td><img src="/code/vblockly/appengine/common/help.png">
				</td>
				<td>&nbsp;</td>
				<td>On this level, you need to stack together all of the blocks
					in the white workspace.
					<div id="sampleOneTopBlock" class="readonly"></div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div id="dialogHelpRun" class="dialogHiddenContent">
	<table>
		<tbody>
			<tr>
				<td>Run your program to see what happens.</td>
				<td rowspan="2"><img
					src="/code/vblockly/appengine/common/help.png"></td>
			</tr>
			<tr>
				<td>
					<div>
						<img src="/code/vblockly/appengine/maze/help_run.png"
							class="mirrorImg" height="27" width="141">
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
