<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/lib/prism.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/custom/icons.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<style>
html, body {
  height: 100%;
}
body {
  background-color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}
#blockly {
  float: right;
  height: 95%;
  width: 70%;
}
#importExport {
  font-family: monospace;
}

.ioLabel>.blocklyFlyoutLabelText {
  font-style: italic;
}

.blocklyFlyoutHeading>.blocklyFlyoutLabelText {
  font-size: 1.5rem;
}
line.blocklyFlyoutLine {
  stroke: white;
}
.blocklyFlyoutLabelIcon {
  font-family: 'Font Awesome\ 5 Free';
  font-size: 1.5rem;
  font-weight: 900;
  fill: #575E75;
}

.blocklyTreeRow {
  height: 45px !important;
}

.blocklyTreeSelected .blocklyTreeIcon{
 color: #fff;
}

.blocklyTreeIconCustom {
  background: none !important;
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  font-size: 1.3rem;
  margin: 0 .25em;
  width: 16px !important;
  height: 100% !important;
  line-height: 45px;
  min-height: 45px;
  vertical-align: middle;
  padding-left: 8px;
}
.blocklyTreeIconCustom::before {
  content: "\f12e";
}
.blocklyTreeIconCustom.logic::before {
  content: "\f074";
}
.blocklyTreeIconCustom.loops::before {
  content: "\f01e";
}
.blocklyTreeIconCustom.math::before {
  content: "\f1ec";
}
.blocklyTreeIconCustom.text::before {
  content: "\f031";
}
.blocklyTreeIconCustom.lists::before {
  content: "\f0ca";
}
.blocklyTreeIconCustom.colour::before {
  content: "\f53f";
}
.blocklyTreeIconCustom.variables::before {
  content: "\f0c9";
}
.blocklyTreeIconCustom.functions::before {
  content: "\f141";
}
.blocklyTreeIconCustom.volume-up::before {
  content: "\f028";
}
.blocklyTreeIconCustom.wifi::before {
  content: "\f1eb";
}
.blocklyTreeIconCustom.ruler-horizontal::before {
  content: "\f547";
}
.blocklyTreeIconCustom.spinner::before {
  content: "\f110";
}
.blocklyTreeIconCustom.music::before {
  content: "\f001";
}
.blocklyTreeIconCustom.microchip::before {
  content: "\f2db";
}
.blocklyTreeIconCustom.image::before {
  content: "\f03e";
}
.blocklyTreeIconCustom.chart-area::before {
  content: "\f1fe";
}
.blocklyTreeIconCustom.compass::before {
  content: "\f14e";
}
.blocklyTreeIconCustom.toggle-on::before {
  content: "\f205";
}
.blocklyTreeIconCustom.crosshairs::before {
  content: "\f05b";
}
.blocklyTreeIconCustom.square-root-alt::before {
  content: "\f698";
}
.blocklyTreeIconCustom.sliders-h::before {
  content: "\f1de";
}
.blocklyTreeIconCustom.code::before {
  content: "\f121";
}
.blocklyTreeIconCustom.robot::before {
  content: "\f544";
}
.blocklyTreeIconCustom.thermometer::before {
  content: "\f491";
}
body {
	margin: 0;
}
canvas {
	width: 100%;
	height: 100%;
}
#ccc {
	margin: 1px;
	padding: 0px;
}
</style>
<!-- <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/xblockly/blockly_c.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script> -->
<!-- <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/xblockly/blocks_c.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script> -->
<!-- <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/xblockly/javascript_compressed.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script> -->
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/vblockly/appengine/turtle/generated/en/compressed.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<!-- <script th:src="#{blockly.msg.js(${#servletContext.getAttribute('dnstatic')},${#servletContext.getAttribute('vstatic')})}" data-info="th"></script> -->
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/prism.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<form th:object="${data}" id="form-edit" th:attr="data-id=123"></form>
	<form th:replace="~{form :: gform}"></form>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
			<div th:replace="~{breadcrumbs :: crumbs}"></div>
			<div class="container" id="workspace" th:object="${data}" data-action="/mycodenestblock/apdate" data-faction="flash" data-caction="complete" data-saction="/codenestblock/share" data-haction="history">
			<div id="blockly" style="position: absolute"></div>
			<div style="display: none">
				<span id="Games_name">Blockly Games</span> <span id="Games_puzzle">Puzzle</span>
				<span id="Games_maze">Maze</span> <span id="Games_bird">Bird</span>
				<span id="Games_turtle">Turtle</span> <span id="Games_movie">Movie</span>
				<span id="Games_music">Music</span>
				<span id="Games_pondTutor">Pond Tutor</span>
				<span id="Games_pond">Pond</span>
				<span id="Games_genetics">Genetics</span>
				<span id="Games_linesOfCode1">You solved this level with 1 line of Python:</span>
				<span id="Games_linesOfCode2">You solved this level with %1 lines of Python:</span>
				<span id="Games_nextLevel">Are you ready for level %1?</span>
				<span id="Games_finalLevel">Are you ready for the next challenge?</span>
				<span id="Games_submitTitle">Title:</span>
				<span id="Games_linkTooltip">Save and link to blocks.</span>
				<span id="Games_runTooltip">Run the program you wrote.</span>
				<span id="Games_runProgram">Run Program</span>
				<span id="Games_resetTooltip">Stop the program and reset the level.</span>
				<span id="Games_resetProgram">Reset</span>
				<span id="Games_help">Help</span>
				<span id="Games_dialogOk">OK</span>
				<span id="Games_dialogCancel">Cancel</span>
				<span id="Games_catLogic">Logic</span>
				<span id="Games_catLoops">Loops</span>
				<span id="Games_catMath">Math</span>
				<span id="Games_catText">Text</span>
				<span id="Games_catLists">Lists</span>
				<span id="Games_catColour">Colour</span>
				<span id="Games_catVariables">Variables</span>
				<span id="Games_catProcedures">Functions</span>
				<span id="Games_httpRequestError">There was a problem with the request.</span>
				<span id="Games_linkAlert">Share your blocks with this link:\n\n%1</span>
				<span id="Games_hashError">Sorry, '%1' doesn't correspond with any saved program.</span>
				<span id="Games_xmlError">Could not load your saved file. Perhaps it was created with a different version of Blockly?</span>
				<span id="Games_submitted">Thank you for this program! If our staff of trained monkeys like it, they will publish it to the gallery within a couple of days.</span>
				<span id="Games_listVariable">list</span>
				<span id="Games_textVariable">text</span>
				<span id="Games_breakLink">Once you start editing JavaScript, you can't go back to editing blocks. Is this OK?</span>
				<span id="Games_blocks">Blocks</span>
				</div>
				<div style="display: none">
					<span id="Turtle_moveTooltip">Moves the turtle forward or backward by the \nspecified amount. </span>
					<span id="Turtle_moveForward">move forward by</span>
					<span id="Turtle_moveBackward">move backward by</span>
					<span id="Turtle_turnTooltip">Turns the turtle left or right by the specified \nnumber of degrees. </span>
					<span id="Turtle_turnRight">turn right by</span>
					<span id="Turtle_turnLeft">turn left by</span>
					<span id="Turtle_widthTooltip">Changes the width of the pen.</span>
					<span id="Turtle_setWidth">set width to</span>
					<span id="Turtle_colourTooltip">Changes the colour of the pen. </span>
					<span id="Turtle_setColour">set colour to</span>
					<span id="Turtle_penTooltip">Lifts or lowers the pen, to stop or start drawing.</span>
					<span id="Turtle_penUp">pen up</span>
					<span id="Turtle_penDown">pen down</span>
					<span id="Turtle_turtleVisibilityTooltip">Makes the turtle (circle and arrow) visible or \ninvisible. </span>
					<span id="Turtle_hideTurtle">hide turtle</span>
					<span id="Turtle_showTurtle">show turtle</span>
					<span id="Turtle_printHelpUrl">https://en.wikipedia.org/wiki/Printing</span>
					<span id="Turtle_printTooltip">Draws text in the turtle's direction at its \nlocation. </span>
					<span id="Turtle_print">print</span>
					<span id="Turtle_fontHelpUrl">https://en.wikipedia.org/wiki/Font</span>
					<span id="Turtle_fontTooltip">Sets the font used by the print block.</span>
					<span id="Turtle_font">font</span>
					<span id="Turtle_fontSize">font size</span>
					<span id="Turtle_fontNormal">normal</span>
					<span id="Turtle_fontBold">bold</span>
					<span id="Turtle_fontItalic">italic</span>
					<span id="Turtle_submitDisabled">Run your program until it stops. Then you may submit your drawing to the gallery.</span>
				</div>
<table width="100%"></table>
<div id="dialogShadow" class="dialogAnimate" style="visibility: visible; opacity: 0.3; z-index: 9;"></div>
<div id="dialogBorder" style="visibility: hidden;"></div>
<div id="dialog" class="dialog" style="visibility:hidden; z-index: 999;">
	
	
	<div id="dialogDone" class="card dialog-content gradient-45deg-yellow-teal" style="z-index: 1111;position: absolute;left: 50%;">
	
		<h5 class="center">Congratulations!</h5>
		<div id="dialogLinesText" style="font-size: large; margin: 1em;">You solved this level with 2 lines of JavaScript:</div>
		<pre id="containerCode">
			<span class="pln">moveForward</span>
			<span class="pun">();</span>
			<span class="pln">moveForward</span>
			<span class="pun">();</span>
		</pre>
		<div id="dialogDoneText" style="font-size: large; margin: 1em;">Are you ready for level 2?</div>
		<img id="pegSpin" src="/code/vblockly/appengine/common/1x1.gif" style="background-image: url('/code/vblockly/appengine/maze/pegman.png'); background-position: -245px 0px;">
		<div id="dialogDoneButtons" class="farSide dialog-footer" >
			<button id="doneCancel" class="waves-effect waves-light btn left">Cancel</button>
			<button id="doneOk" class="secondary waves-effect waves-light btn right">OK</button>
		</div>
		
	</div>
</div>

<div id="dialogStorage" class="dialogHiddenContent">
	<div id="containerStorage"></div>
	<div class="farSide" style="padding: 1ex 3ex 0">
		<button class="secondary" onclick="BlocklyDialogs.hideDialog(true)">OK</button>
	</div>
</div>
<div id="dialogHelpStack" class="dialogHiddenContent">
	<table>
		<tbody>
			<tr>
				<td><img src="/code/vblockly/appengine/common/help.png">
				</td>
				<td>&nbsp;</td>
				<td>Stack a couple of 'move forward' blocks together to help me
					reach the goal.</td>
				<td valign="top"><img
					src="/code/vblockly/appengine/maze/help_stack.png"
					class="mirrorImg" height="63" width="136"></td>
			</tr>
		</tbody>
	</table>
</div>
			</div>
			<div class="container fixedjs card" >
				<div class="card-content">
					<div class="card-title" style="border-bottom: 1px solid rgba(160, 160, 160, 0.2)">
					Python
					</div>
					<pre><code id="code" class="language-python"></code></pre>
				</div>
			</div>
			<div class="fixedsvg card" id="visualization">
				<canvas id="scratch" width="400" height="400" style="display: none"></canvas>
				<canvas id="answer" width="400" height="400" style="display: none"></canvas>
				<canvas id="display" width="400" height="400"></canvas>
			</div>
				
			</section>
		</div>
	</div>
	<div th:replace="~{footer :: copy}"></div>
    <div id="wikiModal" class="modal">
        <div class="modal-content">
            <h5>分享到网络</h5>
            <p></p>
        </div>
        <div class="modal-footer"> 
        <button class="btn waves-effect waves-light modal-action modal-close">关闭</button></div>
    </div>
</body>
<div th:replace="~{toolboxturtle :: toolbox}"></div>
</div>
</div>
<script th:inline="javascript">
/*<![CDATA[*/
    var options={
    		  "toolbox": document.getElementById('toolbox'),
    		  "comments": true,
    		  "grid": {
    		    "spacing": 20,
    		    "length": 30,
    		    "colour": "#eee",
    		    "snap": false
    		  },
    		  "zoom": {
    		    "controls": true,
    		    "wheel": true,
    		    "startScale": 1,
    		    "maxScale": 2,
    		    "minScale": 0.01,
    		    "scaleSpeed": 1.2
    		  },
    		    "media": /*[[${#servletContext.getAttribute('dnstatic') + '/xblockly/media/'}]]*/ "/xblockly/media/"
    		        ,"toolboxOptions": {
    		    "border": true,
    		    "colour": true,
    		    "inverted": true,
    		    "invertedMultiplier": 0.3,
    		    "disabledOpacity": 0.4
    		  }
    		};
$(document).ready(function() {
	Turtle.init('blockly','visualization',options);
	var workspacePlayground = BlocklyInterface.getWorkspace();
    function myUpdateFunction(event) {
        var code = BlocklyInterface.getPyCode();
        code=code.replace(/(,\s*)?'block_id_[^']+'\)/g, ')');
        $("#code").text(code);
        Prism.highlightElement($("#code")[0]);
    }
    workspacePlayground.addChangeListener(myUpdateFunction);
    var resize = function() {
    	let ww = window.innerWidth - STEPIOT.size.nav.width - 2;
    	let codewidth=0;
    	var codedisplay=$(".fixedjs").css("display");
    	if(codedisplay!='none'){
    		codewidth=$(".fixedjs").width()+20;
    		ww = ww - codewidth -5 ;
    	}
        let hh = window.innerHeight - STEPIOT.size.top.height - 50 - STEPIOT.size.bottom.height - 2;
        $(".fixedsvg").height(400);
        $(".fixedjs").height((hh-8)-400);
        $("#workspace").width(ww);
        $("#workspace").height(hh);
        $("#blockly").offset({
            top: (STEPIOT.size.top.height + 50),
            left: (STEPIOT.size.nav.width + 2)
        });
        $("#blockly").width(ww);
        $("#blockly").height(hh);
        $(".fixedjs").offset({
            top: (STEPIOT.size.top.height + 50)+4,
            left: window.innerWidth - codewidth 
        });
        $(".fixedsvg").offset({
            top: (STEPIOT.size.top.height + 50)+8+$(".fixedjs").height(),
            left: window.innerWidth - codewidth 
        });
        
        BlocklyInterface.svgResize();
    }
    STEPIOT.updateWorkspaceSize(resize);
    
    var doComplete=function(){
		let _pson=pro.ps({"pid":($("#workspace").data("id")+""),"courseId":$("#workspace").data("cid")});
		var _action=$("#workspace").data("caction");
		$.post(_action, _pson, function(data) {
			var msg = pro.sp(data);
			if (msg.statusCode == 200) {
				if(msg.message&&msg.message!=null){
					Materialize.toast('<i class="material-icons">settings_input_antenna</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded success');
				}
			}else{
				Materialize.toast('<i class="material-icons">settings_input_antenna</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
			}
		}, "json");
    }
    $("#btn-complete").bind("click",doComplete);
   

    var showhideCode=function(){
    	$(".fixedjs").toggle();
    	STEPIOT.updateWorkspaceSize(resize);
    }
    var doShare=function(){
    	var _xml = BlocklyInterface.getCode();
		let _pson=pro.ps({"blocklyXml":_xml});
		var _action=$("#workspace").data("saction");
		$.post(_action, _pson, function(data) {
			var msg = pro.sp(data);
			if (msg.statusCode == 200) {
				if(msg.message&&msg.message!=null){
					 $('#wikiModal .modal-content p').html(window.location.origin+"/codenestblock?key="+msg.message);
				     $('#wikiModal').modal('open');
				}
			}else{
				Materialize.toast('<i class="material-icons">settings_input_antenna</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
			}
		}, "json");
    }
    $("#btn-share").bind("click",doShare);
    $("#btn-history").bind("click",function(){
    	let _pson=pro.ps({"pid":($("#workspace").data("id")+"")});
    	let ids=[];
		ids.push($("#workspace").data("id")+"");
		let x={"id": ids};
		let pson=pro.ps(x);
		$("#gform input[name=k]").val(pson.k);
		$("#gform").attr("action",/*[[@{${baseUri + "/history"}}]]*/ "/mycourse/edit");
		$("#gform").submit();
    });
    $("#btn-code").bind("click",showhideCode);
    var xml_text = $("#workspace").data("xml");
    if(xml_text){
    	BlocklyInterface.setCode(xml_text);
    }
    BlocklyInterface.zoomToFit();
    $('.modal').modal();
});
/*]]>*/
</script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</html>
