<!DOCTYPE html>
<html lang="en">
	<head th:replace='head :: common_head(~{::title},~{},~{::style},~{::[//script[@data-info="th"]]})'>
		<title th:text="#{${titleName}}"></title>
		<style>
		body {
			margin: 0;
		}
		canvas {
			width: 100%;
			height: 100%;
		}
		#ccc {
			margin: 1px;
			padding: 0px;
		}
		</style>
		<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
	</head>
	<body>
		<div id="loader-wrapper">
			<div id="loader"></div>
			<div class="loader-section section-left"></div>
			<div class="loader-section section-right"></div>
		</div>
		<div th:replace="~{header :: head}"></div>
		<div id="main" class="main-full">
			<div class="wrapper">
				<div th:replace="~{laside :: nav}"></div>
				<section id="content" class="section-content">
					<div th:replace="~{breadcrumbs :: crumbs}"></div>
					<div class="wrapper content-wrapper" style="overflow: scroll;">
						<div class="row">
						<table class="bordered">
						<thead>
							<tr>
								<th class="left-align">文件名称</th>
								<th class="left-align">访问地址</th>
								<th class="left-align">文件大小</th>
							</tr>
						</thead>
						<tbody>
							<tr role="row" class="primary-color-text" style="cursor: pointer;" th:each="item : ${data}" th:attr="data-id=${item.mediaId}" >
								<td class="left-align">
									<a style="cursor: pointer;" th:text="${item.mediaName}"></a>
								</td>
								<td class="left-align">
									<a style="cursor: pointer;"  th:text="|${#servletContext.getAttribute('devestatic')}${item.mediaSrc}|"></a>
								</td>
								<td class="left-align">
									<a style="cursor: pointer;"  th:text="${item.mediaSize}"></a>
								</td>
							</tr>
						</tbody>
					</table>
						</div>
					<ul th:replace="${pagination == null} ? ~{} : ~{pagination :: pagination}"></ul>
		            </div>
				</section>
				<form th:replace="~{form :: gform}"></div>
			</div>
		</div>
		<div th:replace="~{footer :: copy}"></div>
		<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
		<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
		<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/list.js' + #servletContext.getAttribute('vstatic')}}"></script>
	</body>
	<script th:inline="javascript">
	/*<![CDATA[*/
		$(document).ready(function() {});
		/*]]>*/
	</script>
</html>
