<!DOCTYPE html>
<html lang="en">
	<head th:replace='head :: common_head(~{::title},~{},~{::style},~{::[//script[@data-info="th"]]})'>
		<title th:text="#{${titleName}}"></title>
		<style>
		body {
			margin: 0;
		}
		canvas {
			width: 100%;
			height: 100%;
		}
		#ccc {
			margin: 1px;
			padding: 0px;
		}
		</style>
		<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
	</head>
	<body>
		<div id="loader-wrapper">
			<div id="loader"></div>
			<div class="loader-section section-left"></div>
			<div class="loader-section section-right"></div>
		</div>
		<div th:replace="~{header :: head}"></div>
		<div id="main" class="main-full">
			<div class="wrapper">
				<div th:replace="~{laside :: nav}"></div>
				<section id="content" class="section-content">
					<div th:replace="~{breadcrumbs :: crumbs}"></div>
					<div class="wrapper content-wrapper" style="overflow: scroll;">
						<div class="row">
							<div class="col s12 m3 l3" th:each="item : ${data}">
								<div class="card hoverable tooltipped" th:id="${item.mediaId}" data-position="bottom" data-delay="5" th:attr="data-tooltip=${item.mediaName}">
			                        <div class="card-image card-image-center waves-effect waves-block waves-green">
			                             <img class="activator card-image-padding card-image-media" th:src="@{${#servletContext.getAttribute('devestatic') + item.mediaSrc + #servletContext.getAttribute('vstatic')}}" alt="office">
			                        </div>
				                </div>
							</div>
						</div>
					<ul th:replace="${pagination == null} ? ~{} : ~{pagination :: pagination}"></ul>
		            </div>
				</section>
				<form th:replace="~{form :: gform}"></div>
			</div>
		</div>
		<div th:replace="~{footer :: copy}"></div>
		<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
		<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
		<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/list.js' + #servletContext.getAttribute('vstatic')}}"></script>
	</body>
	<script th:inline="javascript">
	/*<![CDATA[*/
		$(document).ready(function() {});
		/*]]>*/
	</script>
</html>
