<!DOCTYPE html>
<html lang="en">
	<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
		<title th:text="#{${titleName}}"></title>
		<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/node/node_modules/blueimp-file-upload/css/jquery.fileupload.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
		<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/node/node_modules/blueimp-file-upload/css/jquery.fileupload-ui.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
		<style>
		body {
			margin: 0;
		}
		canvas {
			width: 100%;
			height: 100%;
		}
		#ccc {
			margin: 1px;
			padding: 0px;
		}         
		.bar {
    height: 18px;
    background: green;
}
		</style>
		<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/dropify.min.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
		<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/node/node_modules/jquery.ui.widget/jquery.ui.widget.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
		<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/node/node_modules/blueimp-file-upload/js/jquery.iframe-transport.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
		<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/node/node_modules/blueimp-file-upload/js/jquery.fileupload.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
		<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
	</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
				<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="wrapper content-wrapper" style="overflow: scroll;">
					<div class="row">
						<form class="col s12" th:action="@{/sysmedia/upload}" th:attr="data-url=@{/sysmedia/upload}" enctype="multipart/form-data" id="uploadForm">
					      <div class="file-field input-field">
								<div class="btn">
									<span>选择文件</span>
									<input name="fileUpload" id="fileUploaded" type="file" data-height="400"  th:attr="data-url=@{/sysmedia/upload}" data-max-file-size="3M" data-allowed-file-extensions="jpg jpeg png heic mp4" multiple />
								</div>
								<div class="file-path-wrapper">
									<input class="file-path validate" type="text" placeholder="上传一个或多个文件">
								</div>
								<div id="progress">
 							    <div class="bar" style="width: 0%;"></div>
 							</div>
							</div>
						</form>
					</div>
	            </div>
			</section>
			<form th:replace="~{form :: gform}">
		</div>
	</div>
<div th:replace="~{footer :: copy}"></div>
<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>
</html>
<script th:inline="javascript">
/*<![CDATA[*/

$(function () {
    $('#fileUploaded').fileupload({
        dataType: 'json',
        replaceFileInput:false,
        add: function (e, data) {
            $("#btn-upload").removeClass("disabled");
            $("#btn-upload").bind("click",function(){
            	data.submit();
            });
        },
        done:function (e,data) {
        	var msg = pro.sp(data.result);
			if (msg.statusCode == 200) {
				$(".dropify-clear").trigger("click");
				if(msg.message&&msg.message!=null){
					Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded success');
				}
			}
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .bar').css(
                'width',
                progress + '%'
            );
        }
    });
});



/*]]>*/
</script>
