<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<style>
body {
	margin: 0;
}
canvas {
	width: 100%;
	height: 100%;
}
#ccc {
	margin: 1px;
	padding: 0px;
}
.card-aiedu {
    min-height: 280px;
    background-size: cover !important;
    background-position: bottom !important;
    background-repeat: no-repeat !important;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
			<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="wrapper content-wrapper" style="overflow: scroll;">
			<div class="row">
			<div class="col s12 m3 l3" th:each="item : ${data}">
				<div class="card hoverable tooltipped" th:id="${item.id}" data-position="bottom" data-delay="5" th:attr="data-tooltip=${item.description}">
                       <div class="card-image waves-effect waves-block waves-green" th:attr="data-link=${item.actionLink}">
                       <img alt="" th:src="@{${#servletContext.getAttribute('devestatic') + item.photo + #servletContext.getAttribute('vstatic')}}">
                        </div>
                        <div class="center-align card-content card-content-top-border primary-color-text font-weight-400">
                            <span class="code card-title" th:inline="text">
                            <i class="mdi" th:classappend="${item.types}"></i>
                            [[${item.hardwareName}]]
                            </span>
                            
                           <a class="right font-size-x-small" th:href="@{${item.docLink}}" th:inline="text">
                          <i class="mdi mdi-information-variant"></i>[[#{system.howtoget}]]</a>
                        </div>
                         <div class="center-align left-align card-action">
                          <a class="btn" href="#" th:attr="data-link=${item.actionLink}">编码
                          <i class="mdi mdi-robot-industrial icon-left left"></i>
                          </a>
                        </div>
                  </div>
			</div>
			</div>
			<ul th:replace="${pagination == null} ? ~{} : ~{pagination :: pagination}"></ul>
            </div>
			</section>
			<form th:replace="~{form :: gform}"></div>
		</div>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/list.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>
<script th:inline="javascript">
/*<![CDATA[*/
	$(document).ready(function() {
		$(".card").each(function(){
			if($(this).data("uid")){
				$(this).find("img").removeClass("card-image-disable");
				if($(this).data("status")==1){// 待下发
					$(this).find(".card-content").find(".card-title").removeClass("grey-text text-darken-2");
					//$(this).addClass("card-active");
				}else if($(this).data("status")==2){//已下发
					$(this).find(".card-content").find(".card-title").removeClass("grey-text text-darken-2");
				}else if($(this).data("status")==3){//已完成
					$(this).find(".card-content").addClass("teal accent-1");
					$(this).find(".card-content").find(".card-title").removeClass("grey-text text-darken-2").addClass("teal-text text-darken-1");
				}else{
					$(this).find(".card-content").find(".material-icons").text("");
					$(this).find(".card-content").find(".card-title").removeClass("grey-text text-darken-2");
				}
			}else{
				if(($(this).data("id")=='1') && ($(this).data("status")==0)){
					//$(this).find(".card-content").addClass("gradient-45deg-amber-amber");
				}
				$(this).find(".card-content").find(".card-title").removeClass("text-darken-2").addClass("text-lighten-1");
			}
		});
		$( "div[data-link],a[data-link]" ).click(function() {
			if(!$(this).data("link")){
				return;
			}
			window.location.href = $(this).data("link");
		});
	});
	/*]]>*/
</script>
</html>