<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/lib/prism.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/custom/icons.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<style>
body {
	margin: 0;
}
canvas {
	width: 100%;
	height: 100%;
}
#ccc {
	margin: 1px;
	padding: 0px;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/vblockly/appengine/turtle/generated/en/compressed.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/prism.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
			<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="wrapper content-wrapper" style="overflow: scroll;">
			<div class="row">
			<div class="col s12 m3 l3" th:each="item : ${data}">
			<div class="card hoverable tooltipped" th:attr="data-id=${item.blocklyId},data-tooltip=${item.titleName}">
                 <div class="card-image waves-effect waves-block waves-light"  th:attr="data-uid=${item.blocklyId}">
                   <div th:id="${item.blocklyId}" th:attr='data-xml=${item.blocklyXml}' class="card-blockly" ></div>
                 </div>
                 <div class="card-content card-content-top-border">
                   <a href="JavaScript:void(0);" class="card-title blue-grey-text text-ellipsis" th:attr="data-id=${item.blocklyId}">
                     <div class="card-title-div-inline turquoise-text text-darken-2 font-weight-400" th:text="${item.titleName}"></div>
                   </a>
                 </div>
               </div>
			</div>
			</div>
				<ul th:replace="${pagination == null} ? ~{} : ~{pagination :: pagination}"></ul>
                    </div>
			</section>
			<form th:replace="~{form :: gform}"></div>
		</div>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<div id="visualization">
				<canvas id="scratch" width="400" height="400" style="display: none"></canvas>
				<canvas id="answer" width="400" height="400" style="display: none"></canvas>
				<canvas id="display" width="400" height="400" style="display: none"></canvas>
				<span id="runButton"></span>
				<span id="resetButton"></span>
				<div th:switch="${localeStr}">
			  <div th:case="'de'">
			   <div th:replace="~{turtle_zh_HK :: turtle}"></div>
			  </div>
			  <div th:case="'zh'">
			  	<div th:replace="~{turtle_zh_CN :: turtle}"></div></div>
			  <div th:case="*">
			  	<div th:replace="~{turtle :: turtle}"></div>
			  </div>
			</div>
			</div>
	<script type="text/javascript"
		th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/list.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>

<script th:inline="javascript">
/*<![CDATA[*/
	
	var options={
  		  "grid": {
  		    "spacing": 20,
  		    "length": 30,
  		    "colour": "#eee",
  		    "snap": false
  		  },
  		"version": /*[[${#servletContext.getAttribute('vstatic') }]]*/ "1"
		    ,"media": /*[[${#servletContext.getAttribute('dnstatic') + '/xblockly/media/'}]]*/ "/xblockly/media/"
  	      
  		};
	
	options.theme=BlocklyInterface.Themes[$("#theme").text()];
	$(document).ready(function() {
		$(".card-blockly").each(function(){
			
			let _vid=$(this).attr("id");
			Turtle.init(_vid,'visualization',options);
			let _xml_text=$(this).data("xml");
			if(_xml_text){
		    	BlocklyInterface.setCode(_xml_text);
		    }
			BlocklyInterface.zoomToFit();
			
		});
		
		$( "a[data-id]" ).click(function() {
			let ids=[];
			ids.push($(this).data("id"));
			let pson=pro.ps({"id": ids});
			$("#gform input[name=k]").val(pson.k);
			$("#gform").attr("action",/*[[@{${baseUri + "/edit"}}]]*/ "/iotproject/edit");
			$("#gform").submit();
			  
		});
		
		$( "div[data-uid]" ).click(function() {
			if(!$(this).data("uid")){
				return;
			}
			let ids=[];
			ids.push($(this).data("uid"));
			let pson=pro.ps({"id": ids});
			$("#gform input[name=k]").val(pson.k);
			$("#gform").attr("action",/*[[@{${baseUri + "/edit"}}]]*/ "/iotproject/edit");
			$("#gform").submit();
		});
		
		
	});
	/*]]>*/
</script>
</html>
