<!DOCTYPE html>
<html lang="en">
<div id="current_level" style="display:none">40</div>
<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/lib/prism.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/custom/icons.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<style>
body, html {
	height: 100%
}

body {
	background-color: #fff;
	font-family: sans-serif;
	overflow: hidden
}

h1 {
	font-weight: 400;
	font-size: 140%
}

#blockly {
	float: right;
	height: 95%;
	width: 70%
}
.blocklyTreeLabel {
    padding-left: 16px;
}

#importExport {
	font-family: monospace
}

body {
	margin: 0
}

canvas {
	width: 100%;
	height: 100%
}

#ccc {
	margin: 1px;
	padding: 0
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/vblockly/appengine/turtle/generated/en/compressed.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/prism.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<form th:object="${data}" id="form-edit" th:attr="data-id=123"></form>
	<form th:replace="~{form :: gform}"></form>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
			<div th:replace="~{breadcrumbs :: crumbs}"></div>
			<div class="container" id="workspace" th:object="${data}" th:attr="data-blockly=*{blocklyXml},data-id=*{blocklyId},data-titlename=*{titleName}" data-action="/mycreationtt/apdate">
			<div id="blockly" style="position: absolute"></div>
			
			<div th:switch="${localeStr}">
			  <div th:case="'de'">
			   <div th:replace="~{turtle_zh_HK :: turtle}"></div>
			  </div>
			  <div th:case="'zh'">
			  	<div th:replace="~{turtle_zh_CN :: turtle}"></div></div>
			  <div th:case="*">
			  	<div th:replace="~{turtle :: turtle}"></div>
			  </div>
			</div>
			
			</div>
			<div class="container fixedjs card" >
				<div class="card-content">
					<div class="card-title" style="border-bottom: 1px solid rgba(160, 160, 160, 0.2)">
					Python
					</div>
					<pre><code id="code" class="language-python"></code></pre>
				</div>
			</div>
			<div class="fixedsvg card" id="visualization">
				<canvas id="scratch" width="360" height="360" style="display: none"></canvas>
				<canvas id="answer" width="360" height="360" style="display: none"></canvas>
				<canvas id="display" width="360" height="360"></canvas>
			</div>
			</section>
		</div>
		<ul id="speeddrop" class="dropdown-content">
             <li class="changeSpeed" data-icon="mdi-tortoise" data-speed="0.3"><a style="font-size: 28px;" href="#!" class=""><i class="mdi mdi-tortoise"></i></a>
             </li>
             <li class="changeSpeed" data-icon="mdi-donkey"  data-speed="0.5"><a style="font-size: 28px;" href="#!" class=""><i class="mdi mdi-donkey"></i></a>
             </li>
             <li class="changeSpeed" data-icon="mdi-rabbit" data-speed="0.9"><a style="font-size: 28px;" href="#!" class=""><i class="mdi mdi-rabbit"></i></a>
             </li>
           </ul>
		
	</div>
	<div th:replace="~{footer :: copy}"></div>
</body>
<div style="display:none" id="theme" th:text="${blocklyTheme}"></div>
<div th:replace="~{toolboxturtle :: toolbox}"></div>
<script th:inline="javascript">
/*<![CDATA[*/
    var options={
  		  "toolbox": document.getElementById('toolbox'),
  		  "comments": true,
  		  "trashcan": true,
  		  "scrollbars" : true, 
  		  "grid": {
  		    "spacing": 20,
  		    "length": 30,
  		    "colour": "#eee",
  		    "snap": false
  		  },
  		  "zoom": {
  		    "controls": true,
  		    "wheel": true,
  		    "startScale": 1,
  		    "maxScale": 2,
  		    "minScale": 0.5,
  		    "scaleSpeed": 1.1
  		  },
  		"version": /*[[${#servletContext.getAttribute('vstatic') }]]*/ "1"
		    ,"media": /*[[${#servletContext.getAttribute('dnstatic') + '/xblockly/media/'}]]*/ "/xblockly/media/"
  	      ,"toolboxOptions": {
  		    "border": true,
  		    "colour": true,
  		    "inverted": true,
  		    "invertedMultiplier": 0.3,
  		    "disabledOpacity": 0.4
  		  }
  		};
	
	options.theme=BlocklyInterface.Themes[$("#theme").text()];

    		
$(document).ready(function() {
	
	
	window['vblocklySave']=function(xml){
		var current_level=document.getElementById("current_level").innerText;
		var _code = BlocklyInterface.getPyCode();
		
		var _tname=$("#workspace").data("titlename");
		var _tid=$("#workspace").data("id")+"";
		if(!$("#workspace").data("id")){
			_tid="-1";
		}
		if(!_tname){
			_tname=window.prompt('请输入名称');
			if (_tname === null) {
		        return; //break out of the function early
		    }
			while(!_tname){
				_tname=window.prompt('请输入名称');
			}
		}else{
			_tname=window.prompt('请输入名称',_tname);
		}
		
		let _pson=pro.ps({"pid":_tid,"blocklyXml":xml,"titleName":_tname,"blocklyCode":_code});
		var _action=$("#workspace").data("action");
		$.post(_action, _pson, function(data) {
			var msg = pro.sp(data);
			if (msg.statusCode == 200) {
				if(msg.message&&msg.message!=null){
					Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded success');
					BlocklyDialogs.hideDialog();
				}
				
			}else{
				Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
			}
		}, "json").fail(function(){
			Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;Fail' , 1024, 'rounded fail');
		});
	}
	
	Turtle.init('blockly','visualization',options);
	var workspacePlayground = BlocklyInterface.getWorkspace();
    function myUpdateFunction(event) {
        var code = BlocklyInterface.getPyCode();
        code=code.replace(/(,\s*)?'block_id_[^']+'\)/g, ')');
        $("#code").text(code);
        Prism.highlightElement($("#code")[0]);
    }
    workspacePlayground.addChangeListener(myUpdateFunction);
    var resize = function() {
    	let ww = window.innerWidth - STEPIOT.size.nav.width - 2;
    	let codewidth=0;
    	var codedisplay=$(".fixedjs").css("display");
    	if(codedisplay!='none'){
    		codewidth=$(".fixedjs").width()+20;
    		ww = ww - codewidth -5 ;
    	}
        let hh = window.innerHeight - STEPIOT.size.top.height - 50 - STEPIOT.size.bottom.height - 2;
        $(".fixedsvg").height(360);
        $(".fixedjs").height((hh-8)-360);
        $("#workspace").width(ww);
        $("#workspace").height(hh);
        $("#blockly").offset({
            top: (STEPIOT.size.top.height + 50),
            left: (STEPIOT.size.nav.width + 2)
        });
        $("#blockly").width(ww);
        $("#blockly").height(hh);
        $(".fixedjs").offset({
            top: (STEPIOT.size.top.height + 50)+4,
            left: window.innerWidth - codewidth 
        });
        $(".fixedsvg").offset({
            top: (STEPIOT.size.top.height + 50)+8+$(".fixedjs").height(),
            left: window.innerWidth - codewidth 
        });
        
        BlocklyInterface.svgResize();
    }
    STEPIOT.updateWorkspaceSize(resize);
    
    var showhideCode=function(){
    	$(".fixedjs").toggle();
    	STEPIOT.updateWorkspaceSize(resize);
    }
   
    $("#btn-code").bind("click",showhideCode);
    var xml_text = $("#workspace").data("blockly");
    if(xml_text){
    	BlocklyInterface.setCode(xml_text);
    }
    BlocklyInterface.zoomToFit();
    $('.modal').modal();
    
    $(".changeSpeed").bind("click",function(){
    	var spd=$(this).data("speed");
    	Turtle.speed=function(){
    		return spd;
    	};
    	$("#btn-speed").find("i").removeClass( "mdi-chevron-down mdi-tortoise mdi-donkey mdi-rabbit" ).addClass( $(this).data("icon") );
    });
});
/*]]>*/
</script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</html>
