<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{},~{::style},~{::[//script[@data-info="th"]]})'>
    <title th:text="#{${titleName}}"></title>
    <style>
        body {
            margin: 0;
        }
        canvas {
            width: 100%;
            height: 100%;
        }
        #ccc {
            margin: 1px;
            padding: 0px;
        }
    </style>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div th:replace="~{header :: head}"></div>
    <div id="main" class="main-full">
        <div class="wrapper">
            <div th:replace="~{laside :: nav}"></div>
            <section id="content" class="section-content">
                <div th:replace="~{breadcrumbs :: crumbs}"></div>
                <div class="wrapper content-wrapper edit-wrapper" style="overflow: scroll;">

                    <div class="row">
                        <div class="col m3 s3 l3">
                            <select th:if="${allDepartmentSelector!=null}" id="levelTop" class="level-select browser-default">
                                <option th:each="item : ${allDepartmentSelector.data}" th:value="${item.value}" th:text="${item.text}" th:attr="data-icon=${item.icon}" class="left circle" th:selected="(${item.value} == ${allDepartmentSelector.selectedKey})"> </option>
                            </select>
                        </div>
                        <div class="col m3 s3 l3">
                            <select th:if="${allDisciplineSelector!=null}" id="levelSecond" class="level-select browser-default">
                                <option th:each="item : ${allDisciplineSelector.data}" th:value="${item.value}" th:text="${item.text}" th:attr="data-icon=${item.icon}" class="left circle" th:selected="(${item.value} == ${allDisciplineSelector.selectedKey})"> </option>
                            </select>
                        </div>
                        <div class="col m3 s3 l3">
                            <select th:if="${allClassSelector!=null}" id="levelThird" class="level-select browser-default">
                                <option th:each="item : ${allClassSelector.data}" th:value="${item.value}" th:text="${item.text}" th:attr="data-icon=${item.icon}" class="left circle" th:selected="(${item.value} == ${allClassSelector.selectedKey})"> </option>
                            </select>
                        </div>
                        <div class="col m3 s3 l3">
                            <select th:if="${genderSelector!=null}" id="gender" class="level-select browser-default">
                                <option th:each="item : ${genderSelector.data}" th:value="${item.value}" th:text="${item.text}" th:attr="data-icon=${item.icon}" class="left circle" th:selected="(${item.value} == ${genderSelector.selectedKey})"> </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m12 s12 l12">
                            <input id="username" type="text">
                            <label for="username" th:text="#{tb.user.item.username}"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m12 s12 l12">
                            <input id="name" type="text" class="validate">
                            <label for="name" th:text="#{tb.user.item.name}"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m12 s12 l12">
                            <input id="age" type="text" class="validate" />
                            <label for="age" th:text="#{tb.user.item.age}"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m12 s12 l12">
                            <input id="telephone" type="text" name="telephone">
                            <label for="telephone" id="telephone-label" th:attr="data-success=#{validate.right},data-error=#{validate.telephone.wrong},data-cache=#{validate.telephone.wrong}" th:text="#{tb.user.item.telephone}"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m12 s12 l12">
                            <input id="email" type="text" name="email">
                            <label for="email" id="email-label" th:attr="data-success=#{validate.right},data-error=#{validate.email.wrong},data-cache=#{validate.email.wrong}" th:text="#{tb.user.item.email}"></label>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <form th:replace="~{form :: gform}"></form>
    </div>
    <div th:replace="~{footer :: copy}"></div>
    <script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
    <script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
    	$('.level-select').bind('change', (event) => {
            var fireSelect;
            var bd = {};
            bd['' + event.target.id + ''] = event.target.value;
            if(event.target.id=='levelTop'){
				fireSelect=$("#levelSecond");
				$("#levelThird").empty();
			}else if(event.target.id=='levelSecond'){
				fireSelect=$("#levelThird");
			}else{
				return;
			}
            let pson = pro.ps(bd);
            $.post("/select/allSubItems", pson, function(data) {
                var msg = pro.sp(data);
                if (msg.statusCode == 200) {
                    if (msg.msgMap && msg.msgMap.items) {
                        var ops = JSON.parse(msg.msgMap.items);
                        if (ops.data && ops.data.length > 0) {
                            fireSelect.empty();
                            for (var i = 0; i < ops.data.length; i++) {
                                var _option = ops.data[i];
                                fireSelect.append(new Option(_option['text'], _option['value'], false, false));
                            }
                        }
                    }

                } else {
                    Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
                }
            }, "json");
        });
    	
        $("#btn-save").click(function() {
        	
        	if(!$("#username").val()||!$("#name").val()||!$("#levelThird").val()){
        		alert("班级，用户名和姓名为必填字段。");
        	}
        	
            var bd = {
                "levelThird": $("#levelThird").val(),"username":$("#username").val(),"name":$("#name").val(),"age":$("#age").val(),"gender":$("#gender").val(),"telephone":$("#telephone").val()+"","email":$("#email").val()
            };
            let pson = pro.ps(bd);
            $.post("/edustudents/save", pson, function(data) {
                var msg = pro.sp(data);
                if (msg.statusCode == 200) {
    				if(msg.message&&msg.message!=null){
    					Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded success');
    				}
    				
    			}else if (msg.statusCode == 400) {
                    if (msg.msgMap) {
                        for (var key in msg.msgMap) {
                            var keys = "#" + key;
                            var lkeys = keys + "-label";
                            $(keys).removeClass("validate");
                            $(lkeys).attr("data-error", msg.msgMap[key]);
                            $(keys).addClass("invalid");
                            $(keys).addClass("validate");
                            //$(keys).trigger("blur");
                           
                            Materialize.toast('<i class="material-icons">error</i> &nbsp;&nbsp;' + msg.msgMap[key], 1024, 'rounded fail');
                        }
                    }
                    if(msg.message && msg.message!=null){
    					Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
    				}
                }else{
    				Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
    			}
            }, "json");
        });
    });
    /*]]>*/
</script>

</html>