<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<style>
body {
	margin: 0;
}
canvas {
	width: 100%;
	height: 100%;
}
#ccc {
	margin: 1px;
	padding: 0px;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
			<div th:replace="~{breadcrumbs :: crumbs}"></div>
			<div class="wrapper content-wrapper" style="overflow: scroll;">

			<div class="row">
				<div class="col s4 m4">
                    <select th:if="${allDepartmentSelector!=null}" id="levelTop" class="level-select browser-default">
                      <option th:each="item : ${allDepartmentSelector.data}" th:value="${item.value}" th:text="${item.text}" th:attr="data-icon=${item.icon}" class="left circle" th:selected="(${item.value} == ${allDepartmentSelector.selectedKey})"> </option>
                    </select>
                </div>
                <div class="col s4 m4">
                  <select th:if="${allDisciplineSelector!=null}" id="levelSecond" class="level-select browser-default">
                      <option th:each="item : ${allDisciplineSelector.data}" th:value="${item.value}" th:text="${item.text}" th:attr="data-icon=${item.icon}" class="left circle" th:selected="(${item.value} == ${allDisciplineSelector.selectedKey})"> </option>
                    </select>
                </div>
                <div class="col s4 m4">
                  <select th:if="${allClassSelector!=null}" id="levelThird" class="level-select browser-default">
                      <option th:each="item : ${allClassSelector.data}" th:value="${item.value}" th:text="${item.text}" th:attr="data-icon=${item.icon}" class="left circle" th:selected="(${item.value} == ${allClassSelector.selectedKey})"> </option>
                    </select>
                </div>
			</div>

			<div class="row">
				<table class="bordered responsive-table display dataTable">
						<thead>
							<tr>
								<th class="center">用户名</th>
								<th class="center">姓名</th>
								<th class="center">性别</th>
								<th class="center">最近登录</th>
								<th class="center">登录次数</th>
								<th class="center">年龄</th>
								<th class="center">班级</th>
								<th class="center">专业</th>
								<th class="center">院校</th>
								<th class="center">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr class="" th:each="item : ${data}">
								<td class="center">
									<a href="JavaScript:Void(0);" th:attr="data-id=${item.username}" th:text="${item.username}"></a>
								</td>
								<td class="center" th:text="${item.name}"></td>
								<td class="center" th:switch="${item.gender}">
								  <span th:case="'1'">男</span>
								  <span th:case="'2'">女</span>
								  <span th:case="*">未知</span>
								</td>
								<td class="center" th:text="${item.lastLoginTime}"></td>
								<td class="center" th:text="${item.logintimes}"></td>
								<td class="center" th:text="${item.age}"></td>
								<td class="center" th:text="${item.className}"></td>
								<td class="center" th:text="${item.disciplineName}"></td>
								<td class="center" th:text="${item.departmentName}"></td>
								<td class="center">
									<a href="JavaScript:void(0);" th:attr="data-username=${item.username}">重置密码</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<ul th:replace="${pagination == null} ? ~{} : ~{pagination :: pagination}"></ul>
            </div>
			</section>
			<form th:replace="~{form :: gform}"></div>
		</div>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/list.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>
<script th:inline="javascript">
/*<![CDATA[*/

	$(document).ready(function() {
		var bd={"levelTop":$("#levelTop").val(),"levelSecond":$("#levelSecond").val(),"levelThird":$("#levelThird").val()};

		$('.level-select').bind('change', (event) => {
			if(event.target.id=='levelTop'){
				bd['levelSecond']=null;
				bd['levelThird']=null;
			}else if(event.target.id=='levelSecond'){
				bd['levelThird']=null;
			}
			bd[''+event.target.id+'']=event.target.value;
			let pson=pro.ps(bd);
			let _location=/*[[@{${baseUri}}]]*/ "/iotproject/edit";
	    	window.location.href=_location+"?k="+pson.k;
		});


		$( "a[data-id]" ).click(function() {
			var bd={"username": $(this).data("id")+""};
			let pson=pro.ps(bd);
			let _location=/*[[@{${baseUri + "/edit"}}]]*/ "/iotproject/edit";
	    	window.location.href=_location+"?k="+pson.k;
		});


		$("a[data-username]").click(function (){
			let username = $(this).data("username");
			var r=confirm("确定重置"+username+"的密码？");
			if (r==true){
				var bd={"username": username};
				let pson=pro.ps(bd);
				$.post("/resetpwd", pson, function(data) {
					var msg = pro.sp(data);
					if (msg.statusCode == 200) {
						Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded success');
					} else {
						Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
					}
				}, "json");
			}else{

			}
		});
	});
	/*]]>*/
</script>
</html>
