<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<style>
body {
	margin: 0;
}
canvas {
	width: 100%;
	height: 100%;
}
#ccc {
	margin: 1px;
	padding: 0px;
}
.bolder{
font-weight: bolder;
}
.pointer{
    cursor: pointer;
    }
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
			<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="wrapper content-wrapper" style="overflow: scroll;">
			<div class="row">
			
			<table class="bordered">
						<thead>
							<tr>
								<th class="center-align">
									<div>
										<input type="checkbox" class="filled-in" id="checkall" >
										<label for="checkall"></label>
									</div>
								</th>
								<th class="center-align">主题</th>
								<th class="center-align">内容</th>
								<th class="width-10 center-align">发布日期</th>
								<th class="width-10 center-align">状态</th>
								<th class="width-10 center-align">附件</th>
							</tr>
						</thead>
						<tbody>
							<tr role="row" th:each="item : ${data}" th:classappend="${item.recipientStatus==0} ? 'bolder' : ''" th:attr="data-id=${item.noticeId}" >
								<td class="center-align">
								    <div>
										<input type="checkbox" name="foo" class="filled-in item-checkbox" th:id="${item.noticeId}" th:attr="data-id=${item.noticeId}" >
										<label th:for="${item.noticeId}"></label>
									</div>
								</td>
							
								<td class="center-align pointer">
									<a th:id="${item.noticeId}" th:attr="data-id=${item.noticeId}"  th:text="${item.omittedNoticeSubject}"></a>
								</td>
								<td class="center-align">
									<span th:text="${item.omittedNoticeBody}"></span>
								</td>
								<td class="center-align width-10">
									<span th:text="${item.pageCreateTime}"></span>
								</td>
								<td class="center-align width-10">
									<span th:text="${item.recipientStatus == 1 ? '已读' : '未读'}"></span>
								</td>
								
								<td class="center-align width-10" style="font-size: 24px;">
								<div th:if="${item.attachmentIds!=null}">
								<i class="breadcrumbs-btn-icon mdi mdi-attachment"></i>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<ul th:replace="${pagination == null} ? ~{} : ~{pagination :: pagination}"></ul>
            </div>
			</section>
			<form th:replace="~{form :: gform}"></div>
		</div>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/list.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>
<script th:inline="javascript">
/*<![CDATA[*/

	$(document).ready(function() {
		$( "a[data-id]" ).click(function() {
			let ids=[];
			ids.push($(this).data("id")+'');
			var bd={"id": ids};
			let pson=pro.ps(bd);
	    	var location="/edunotice/edit";
	    	window.location.href=location+"?k="+pson.k;
		});
		
		var markRead=function(){
			event.preventDefault();
			event.stopImmediatePropagation();
			let ele=$('input[type="checkbox"].item-checkbox').filter(":checked").toArray();
			if(ele && ele.length<1){
				alert("请选择通知");
				return;
			}
			let ids=[];
			//let ele=$('input[type="checkbox"].item-checkbox').filter(":checked").toArray();
			ele.forEach(function(element){
				ids.push($(element).data("id")+"");
			});
			let pson=pro.ps({"id": ids});
			$("#gform input[name=k]").val(pson.k);
			$("#gform").attr("action",/*[[@{${baseUri + "/markAsRead"}}]]*/ "/iotproject/edit");
			$("#gform").submit();
		}
		$("#btn-markAsRead").bind("click",markRead);
	});
	/*]]>*/
</script>
</html>
