<!DOCTYPE html>
<html lang="en">
<head
	th:replace='head :: common_head(~{::title},~{},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<style>
body {
	margin: 0;
}

canvas {
	width: 100%;
	height: 100%;
}

#ccc {
	margin: 1px;
	padding: 0px;
}
.progress {
    height: 6px;
    margin: unset;
    background-color: "use parent";
}
tr{
cursor: pointer;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
				<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="wrapper content-wrapper edit-wrapper" style="overflow: scroll;">
				<div class="row">
<!-- 				<div class="col s4 m4"> -->
<!--                     <select th:if="${departmentSelector!=null}" id="levelTop" class="level-select browser-default"> -->
<!--                       <option th:each="item : ${departmentSelector.data}" th:value="${item.value}" th:text="${item.text}" th:attr="data-icon=${item.icon}" class="left circle" th:selected="(${item.value} == ${departmentSelector.selectedKey})"> </option> -->
<!--                     </select> -->
<!--                 </div> -->
<!--                 <div class="col s4 m4"> -->
<!--                   <select th:if="${disciplineSelector!=null}" id="levelSecond" class="level-select browser-default"> -->
<!--                       <option th:each="item : ${disciplineSelector.data}" th:value="${item.value}" th:text="${item.text}" th:attr="data-icon=${item.icon}" class="left circle" th:selected="(${item.value} == ${disciplineSelector.selectedKey})"> </option> -->
<!--                     </select> -->
<!--                 </div> -->
                <div class="col s6 m6">
                  <select th:if="${singleClassSelect!=null}" id="levelThird" class="level-select browser-default">
                      <option th:each="item : ${singleClassSelect.data}" th:value="${item.value}" th:text="${item.text}" th:attr="data-icon=${item.icon}" class="left circle" th:selected="(${item.value} == ${singleClassSelect.selectedKey})"> </option>
                    </select>
                </div>
			</div>
				<div th:if="${data != null && data.size() > 0 }" class="row">
				      <table class="bordered responsive-table display dataTable">
						<thead>
							<tr>
								<th class="center width-10">学号</th>
								<th class="center width-20">姓名</th>
								<th class="center">课程进度</th>
								<th class="center width-10">百分比</th>
							</tr>
						</thead>
						<tbody>
							<tr class="hoverable" th:each="item : ${data}" th:attr="data-id=${item.studentId}" >
								<td class="center" th:text="${item.studentId}"></td>
								<td class="center" th:text="${item.name}"></td>
								<td class="center" >
									<div class="progress">
								      <div class="determinate" th:attrappend="style=${'width: ' + item.percent}"></div>
								  	</div>
								</td>
								<td class="center" th:text="${item.percent}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</section>
		</div>
		<form th:replace="~{form :: gform}"></form>
	</div>
	
	<div th:replace="~{footer :: copy}"></div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>

<script th:inline="javascript">
/*<![CDATA[*/

	$(document).ready(function() {
		$( "tr[data-id]" ).click(function() {
			var bd={"username": $(this).data("id")+""};
			let pson=pro.ps(bd);
	    	window.location.href="/courseprogress?k="+pson.k;
		});
		
		$('.level-select').bind('change', (event) => {
			var fireSelect;
			var bd={};
			bd[''+event.target.id+'']=event.target.value;
			
			if(event.target.id=='levelTop'){
				fireSelect=$("#levelSecond");
				$("#levelThird").empty();
			}else if(event.target.id=='levelSecond'){
				fireSelect=$("#levelThird");
			}else{
				bd['levelTop']=$("#levelTop").val();
				bd['levelSecond']=$("#levelSecond").val();
				let pson=pro.ps(bd);
				var baseUri=/*[[@{${baseUri}}]]*/ "#";
				window.location.href=baseUri+"?k="+pson.k;
				return;
			}
			let pson=pro.ps(bd);
			$.post("/select/subItems", pson, function(data) {
				var msg = pro.sp(data);
				if (msg.statusCode == 200) {
					if(msg.msgMap && msg.msgMap.items){
						var ops=JSON.parse(msg.msgMap.items);
						if(ops.data && ops.data.length>0){
							fireSelect.empty();
							for(var i=0;i<ops.data.length;i++){
								var _option=ops.data[i];
								fireSelect.append(new Option(_option['text'], _option['value'], false, false));
							}
						}
					}
				}else{
					Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
				}
			}, "json");
		});
		
	});
	/*]]>*/
</script>
</html>
