<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<style>
body {
	margin: 0;
}
canvas {
	width: 100%;
	height: 100%;
}
#ccc {
	margin: 1px;
	padding: 0px;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
			<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="wrapper content-wrapper" style="overflow: scroll;">
			<div class="row">
			
			<table class="bordered responsive-table display dataTable">
						<thead>
							<tr>
								<th class="center">院系名称</th>
								<th class="center">专业名称</th>
								<th class="center">班级名称</th>
								<th class="center">入学日期</th>
								<th class="center">学生数量</th>
							</tr>
						</thead>
						<tbody>
							<tr class="hoverable" th:each="item : ${data}">
								<td class="center" th:text="${item.departmentName}">Alvin</td>
								<td class="center" th:text="${item.disciplineName}">Alvin</td>
								<td class="center" th:text="${item.className}">Alvin</td>
								<td class="center" th:text="${item.createDate}">Alvin</td>
								<td class="center" th:text="${item.amount}">Alvin</td>
							</tr>
						</tbody>
					</table>
					
			
						</div>
						<ul th:replace="${pagination == null} ? ~{} : ~{pagination :: pagination}"></ul>
            </div>
			</section>
			<form th:replace="~{form :: gform}"></div>
		</div>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/list.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>
<script th:inline="javascript">
/*<![CDATA[*/

	$(document).ready(function() {
		$( "div[data-id]" ).click(function() {
			let ids=[];
			ids.push($(this).data("id")+'');
			var bd={"id": ids,"userCourseId":"0","currentLevel":$(this).data("from")};
			let pson=pro.ps(bd);
			$("#gform input[name=k]").val(pson.k);
			$("#gform").attr("action",/*[[@{${baseUri + "/edit"}}]]*/ "/iotproject/edit");
			$("#gform").submit();
		});
	});
	/*]]>*/
</script>
</html>
