<!DOCTYPE html>
<html lang="en">
<head
	th:replace='head :: common_head(~{::title},~{},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<style>
body {
	margin: 0;
}
canvas {
	width: 100%;
	height: 100%;
}
#ccc {
	margin: 1px;
	padding: 0px;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/blockly/blockly_compressed.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/blockly/blocks_compressed.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/blockly/python_compressed.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="#{blockly.msg.msg(${#servletContext.getAttribute('dnstatic')},${#servletContext.getAttribute('vstatic')})}" data-info="th"></script>
<script th:src="#{blockly.msg.js(${#servletContext.getAttribute('dnstatic')},${#servletContext.getAttribute('vstatic')})}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
				<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="wrapper content-wrapper edit-wrapper" style="overflow: scroll;">
				<div class="row">
				    <form class="col s12" th:action="@{/coursemanage/update}" th:object="${data}" id="form-edit" th:attr="data-id=*{courseId}">
				      <div class="row">
				        <div class="input-field col s12">
				          <input disabled value="I am not editable" id="disabled" type="text" class="validate" th:value="*{courseName}"/>
				          <label for="disabled" th:text="#{tb.user.item.username}">Disabled</label>
				          <input type="hidden" name="courseStage" th:value="*{courseStage}">
				        </div>
				      </div>
				     <div class="row">
				        <div class="input-field col s12">
				          <input id="telephone" type="text" name="telephone" th:value="*{courseName}">
				          <label for="telephone" id="telephone-label" th:attr="data-success=#{validate.right},data-error=#{validate.telephone.wrong},data-cache=#{validate.telephone.wrong}" th:text="#{tb.user.item.telephone}"></label>
				        </div>
				      </div>
				      <div class="row">
				        <div class="input-field col s12">
				          <input id="email" type="text" name="email" th:value="*{courseName}">
				          <label for="email" id="email-label" th:attr="data-success=#{validate.right},data-error=#{validate.email.wrong},data-cache=#{validate.email.wrong}" th:text="#{tb.user.item.email}"></label>
				        </div>
				      </div>
				    </form>
				  </div>
				</div>
			</section>
		</div>
		<form th:replace="~{form :: gform}"></form>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script th:inline="javascript">
/*<![CDATA[*/
	 
	$(document).ready(function() {
		$( "div[data-id]" ).click(function() {
			if(!$(this).data("id")){
				return;
			}
			
			var type=$(this).find('input[name="courseStage"]').val()
			let ids=[];
			ids.push($(this).data("id"));
			let pson=pro.ps({"id": ids,"courseStage":(type+"")});
			$("#gform input[name=k]").val(pson.k);
			$("#gform").attr("action",/*[[@{${baseUri + "/edit"}}]]*/ "/iotproject/edit");
			$("#gform").submit();
		});
	});
	/*]]>*/
</script>
</body>
</html>
