<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<style>
body {
	margin: 0;
}
canvas {
	width: 100%;
	height: 100%;
}
#ccc {
	margin: 1px;
	padding: 0px;
}
.card-title-div-inline {
    display: inline;
    font-size: 14px;
    font-weight: normal;
}
.card .card-content {
    padding: 8px;
    border-radius: 0 0 5px 5px;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
			<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="wrapper content-wrapper" style="overflow: scroll;">
			
			
			<div class="row">
			
			<table class="bordered responsive-table display dataTable">
						<thead>
							<tr>
								<th class="center">操作系统</th>
								<th class="center">BIT</th>
								<th class="center">文件名称</th>
								<th class="center">下载</th>
								<th class="center">版本号</th>
								<th class="center">文件大小</th>
							</tr>
						</thead>
						<tbody>
							<tr class="" th:each="item : ${data}">
								<td class="center">
								<i class="mdi" th:classappend="${'mdi-'+item.os}"></i>
								</td>
								<td class="center" th:text="${item.osbit}"></td>
								<td class="center" th:text="${item.filename}"></td>
								<td class="center">
									<a th:href="@{${#servletContext.getAttribute('devestatic') +  {item.s3Path} + #servletContext.getAttribute('vstatic')}}">
										<i class="mdi mdi-download"></i>
									</a>
								</td>
								<td class="center" th:text="${item.version}"></td>
								<td class="center" th:text="${item.filesize+' MB'}"></td>
							</tr>
						</tbody>
					</table>
					
			
						</div>
			
			
			
			
            </div>
			</section>
		</div>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/list.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>
</html>
