<!DOCTYPE html>
<html lang="en">
<head
	th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/plugins/media-hover-effects.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
<style>
body {
	margin: 0;
}

canvas {
	width: 100%;
	height: 100%;
}

#ccc {
	margin: 1px;
	padding: 0px;
}
h4{
    margin: unset;
    margin-top: 5em;
    color: #4285F4;
    }
    figure{
    }
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>

</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
				<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="wrapper content-wrapper" style="overflow: scroll;">
				
				
				
				<div class="row">
					<table class="bordered responsive-table display dataTable">
							<thead>
							<tr>
								<th class="center width-20">项目</th>
								<th class="center">选项</th>
							</tr>	
							</thead>
							<tbody>
								<tr>
									<td class="center width-20">
									系统主题设置
									</td>
									<td class="center">
										<div class="card col s2 m2 grid theme" style="margin: 20px 10px;" data-theme="sysThemecss">
						                  <figure class="card effect-milo" style="margin: 10px 0%; min-width: min-content;">
						                    <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/theme/m.png' + #servletContext.getAttribute('vstatic')}}"  alt="img11">
						                    <figcaption>
						                      <h4>标准色调
						                      </h4>
						                    </figcaption>
						                  </figure>
						                </div>
										<div class="card col s2 m2 grid theme" style="margin: 20px 10px;" data-theme="sysThemecsss">
						                  <figure class="card effect-milo" style="margin: 10px 0%; min-width: min-content;">
						                    <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/theme/f.png' + #servletContext.getAttribute('vstatic')}}"  alt="img12">
						                    <figcaption>
						                       <h4>强对比色调
						                      </h4>
						                    </figcaption>
						                  </figure>
						                </div>
									</td>
								</tr>
								<tr>
									<td class="center width-20">
									积木主题设置
									</td>
									<td class="center">
										<div class="card col s2 m2 grid theme" style="margin: 20px 10px;" data-theme="blocklyThemeTurtle">
						                  <figure class="card effect-milo" style="margin: 10px 0%; min-width: min-content;">
						                    <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/theme/11.png' + #servletContext.getAttribute('vstatic')}}"  alt="img11">
						                    <figcaption>
						                      <h4>标准色调
						                      </h4>
						                    </figcaption>
						                  </figure>
						                </div>
										<div class="card col s2 m2 grid theme" style="margin: 20px 10px;" data-theme="blocklyThemeHighContrast">
						                  <figure class="card effect-milo" style="margin: 10px 0%; min-width: min-content;">
						                    <img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/theme/12.png' + #servletContext.getAttribute('vstatic')}}"  alt="img12">
						                    <figcaption>
						                       <h4>强对比色调
						                      </h4>
						                    </figcaption>
						                  </figure>
						                </div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section>
		</div>
		<form th:replace="~{form :: gform}"></form>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	
	<script th:inline="javascript">
/*<![CDATA[*/
	$(document).ready(function() {
		$("div.theme").bind("click",function(){
			$("div.theme").removeClass("accent-1 blue");
			$( this ).toggleClass("accent-1 blue");
			var _theme=$( this ).data("theme");
			var dd={"value":_theme};
			let _pson=pro.ps(dd);
			$.post("/settheme/apdate", _pson, function(data) {
				var msg = pro.sp(data);
				if (msg.statusCode == 200) {
					if(msg.message&&msg.message!=null){
						Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded success');
					}
					
				}else{
					Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
				}
			}, "json");
		});
	});
	
	
	/*]]>*/
</script>
	
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>
</html>
