<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<style>
body {
	margin: 0;
}
canvas {
	width: 100%;
	height: 100%;
}
#ccc {
	margin: 1px;
	padding: 0px;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
			<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="wrapper content-wrapper" style="overflow: scroll;">
			<div class="row">
			<div class="col s12 m3 l3" th:each="item : ${data}">
				<div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                          <div th:id="${item.blocklyId}" th:attr='data-xml=${item.blocklyXml}' class="card-blockly" ></div>
                        </div>
                        <div class="card-content card-content-top-border">
                          <a href="JavaScript:void(0);" class="card-title grey-text text-darken-4 text-ellipsis" th:attr="data-id=${item.blocklyId}">
                            <div class="card-title-div-inline" th:text="${item.titleName}"></div>
                          </a>
                        </div>
                      </div>
			</div>
			</div>
				<ul th:replace="${pagination == null} ? ~{} : ~{pagination :: pagination}"></ul>
                    </div>
			</section>
			<form th:replace="~{form :: gform}"></div>
		</div>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<script type="text/javascript"
		th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/list.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>
<script th:inline="javascript">
/*<![CDATA[*/

	$(document).ready(function() {
		$(".card-blockly").each(function(){
			let _vid=$(this).attr("id");
			let _xml_text=$(this).data("xml");
			let _workspacke = Blockly.inject(_vid, options);
			let _xml = Blockly.Xml.textToDom(_xml_text);
			Blockly.Xml.domToWorkspace(_xml, _workspacke);
			_workspacke.zoomToFit();
		});
		$( "a[data-id]" ).click(function() {
			let ids=[];
			ids.push($(this).data("id"));
			let pson=pro.ps({"id": ids});
			$("#gform input[name=k]").val(pson.k);
			$("#gform").attr("action",/*[[@{${baseUri + "/edit"}}]]*/ "/iotproject/edit");
			$("#gform").submit();
		});
	});
	/*]]>*/
</script>
</html>
