<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/lib/prism.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/lib/awesome/css/fontawesome-all.min.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<style>
html, body {
  height: 100%;
}
body {
  background-color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}
#blocklyDiv {
  float: right;
  height: 95%;
  width: 70%;
}
#importExport {
  font-family: monospace;
}

.ioLabel>.blocklyFlyoutLabelText {
  font-style: italic;
}

.blocklyFlyoutHeading>.blocklyFlyoutLabelText {
  font-size: 1.5rem;
}
line.blocklyFlyoutLine {
  stroke: white;
}
.blocklyFlyoutLabelIcon {
  font-family: 'Font Awesome\ 5 Free';
  font-size: 1.5rem;
  font-weight: 900;
  fill: #575E75;
}

.blocklyTreeRow {
  height: 45px !important;
}

.blocklyTreeSelected .blocklyTreeIcon{
 color: #fff;
}

.blocklyTreeIconCustom {
  background: none !important;
  font-family: 'Font Awesome\ 5 Free';
  font-weight: 900;
  font-size: 1.3rem;
  margin: 0 .25em;
  width: 16px !important;
  height: 100% !important;
  line-height: 45px;
  min-height: 45px;
  vertical-align: middle;
  padding-left: 8px;
}
.blocklyTreeIconCustom::before {
  content: "\f12e";
}
.blocklyTreeIconCustom.logic::before {
  content: "\f074";
}
.blocklyTreeIconCustom.loops::before {
  content: "\f01e";
}
.blocklyTreeIconCustom.math::before {
  content: "\f1ec";
}
.blocklyTreeIconCustom.text::before {
  content: "\f031";
}
.blocklyTreeIconCustom.lists::before {
  content: "\f0ca";
}
.blocklyTreeIconCustom.colour::before {
  content: "\f53f";
}
.blocklyTreeIconCustom.variables::before {
  content: "\f0c9";
}
.blocklyTreeIconCustom.functions::before {
  content: "\f141";
}
.blocklyTreeIconCustom.square-root-alt::before {
  content: "\f698";
}
.blocklyTreeIconCustom.sliders-h::before {
  content: "\f1de";
}
.blocklyTreeIconCustom.code::before {
  content: "\f121";
}
.blocklyTreeIconCustom.robot::before {
  content: "\f544";
}
.blocklyTreeIconCustom.thermometer::before {
  content: "\f491";
}

body {
	margin: 0;
}
canvas {
	width: 100%;
	height: 100%;
}
#ccc {
	margin: 1px;
	padding: 0px;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/xblockly/blockly_c.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/xblockly/blocks_c.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/xblockly/python_c.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="#{blockly.msg.js(${#servletContext.getAttribute('dnstatic')},${#servletContext.getAttribute('vstatic')})}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/prism.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<form th:object="${data}" id="form-edit" th:attr="data-id=*{courseUid}"></form>
	<form th:replace="~{form :: gform}"></form>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
			<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="container" id="workspace" th:object="${data}" data-action="apdate" data-faction="flash" data-caction="complete"  data-haction="history" th:attr="data-id=*{courseUid},data-cid=*{courseId},data-xml=*{courseBlockly}">
					<div id="blocklyDiv" style="position: absolute"></div>
				</div>
				<div class="container fixedcode card" >
					<div class="card-content">
						<div class="card-title" style="border-bottom: 1px solid rgba(160, 160, 160, 0.2)">
						Python
						</div>
						<pre><code id="code" class="language-python" th:text="${data.blocklyCode}"></code></pre>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div th:replace="~{footer :: copy}"></div>

</body>
<div style="display:none" th:utext="${course.blocklyToolbox}">
</div>
<script th:inline="javascript">
/*<![CDATA[*/
Blockly.HSV_SATURATION = 0.55;
Blockly.HSV_VALUE = 0.65;
    var toolboxText = document.getElementById('toolbox').outerHTML;
    toolboxText = toolboxText.replace(/(^|[^%]){(\w+)}/g,
            function(m, p1, p2) {
                return p1 + Blockly.Msg[p2.toUpperCase()];
            });
    var toolboxXml = Blockly.Xml.textToDom(toolboxText);
    
    var options = [(${course.blocklyOptions})];
    options.toolbox = toolboxXml;
    var workspacePlayground = Blockly.inject('blocklyDiv', options);
$(document).ready(function() {
    function myUpdateFunction(event) {
        var code = Blockly.Python.workspaceToCode(workspacePlayground);
        $("#code").text(code);
        Prism.highlightElement($("#code")[0]);
    }
    workspacePlayground.addChangeListener(myUpdateFunction);
    var resize = function() {
    	let ww = window.innerWidth - STEPIOT.size.nav.width - 2;
    	let codewidth=0;
    	var codedisplay=$(".fixedcode").css("display");
    	if(codedisplay!='none'){
    		codewidth=$(".fixedcode").width()+20;
    		ww = ww - codewidth -5 ;
    	}
        let hh = window.innerHeight - STEPIOT.size.top.height - 50 - STEPIOT.size.bottom.height - 2;
        $(".fixedcode").height(hh-8);
        $("#workspace").width(ww);
        $("#workspace").height(hh);
        $("#blocklyDiv").offset({
            top: (STEPIOT.size.top.height + 50),
            left: (STEPIOT.size.nav.width + 2)
        });
        $("#blocklyDiv").width(ww);
        $("#blocklyDiv").height(hh);
        $(".fixedcode").offset({
            top: (STEPIOT.size.top.height + 50)+4,
            left: window.innerWidth - codewidth 
        });
        
        Blockly.svgResize(workspacePlayground);
    }
    STEPIOT.updateWorkspaceSize(resize);
    
    var flashToDevice=function(){
    	var _xml = Blockly.Xml.domToText(Blockly.Xml.workspaceToDom(workspacePlayground));
		var _code = Blockly.Python.workspaceToCode(workspacePlayground);
		let _pson=pro.ps({"pid":($("#workspace").data("id")+""),"blocklyXml":_xml,"blocklyCode":_code});
		var _action=$("#workspace").data("faction");
		$.post(_action, _pson, function(data) {
			var msg = pro.sp(data);
			if (msg.statusCode == 200) {
				if(msg.message&&msg.message!=null){
					Materialize.toast('<i class="material-icons">settings_input_antenna</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded success');
				}
			}else{
				Materialize.toast('<i class="material-icons">settings_input_antenna</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
			}
		}, "json");
    }
    $("#btn-download").bind("click",flashToDevice);
    var doComplete=function(){
		let _pson=pro.ps({"pid":($("#workspace").data("id")+""),"courseId":$("#workspace").data("cid")});
		var _action=$("#workspace").data("caction");
		$.post(_action, _pson, function(data) {
			var msg = pro.sp(data);
			if (msg.statusCode == 200) {
				if(msg.message&&msg.message!=null){
					Materialize.toast('<i class="material-icons">settings_input_antenna</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded success');
				}
			}else{
				Materialize.toast('<i class="material-icons">settings_input_antenna</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
			}
		}, "json");
    }
    $("#btn-complete").bind("click",doComplete);
    var showhideCode=function(){
    	$(".fixedcode").toggle();
    	STEPIOT.updateWorkspaceSize(resize);
    }
    $("#btn-history").bind("click",function(){
    	let _pson=pro.ps({"pid":($("#workspace").data("id")+"")});
    	let ids=[];
		ids.push($("#workspace").data("id")+"");
		let x={"id": ids};
		let pson=pro.ps(x);
		$("#gform input[name=k]").val(pson.k);
		$("#gform").attr("action",/*[[@{${baseUri + "/history"}}]]*/ "/mycourse/edit");
		$("#gform").submit();
    });
    $("#btn-code").bind("click",showhideCode);
    var xml_text = $("#workspace").data("xml");
    if(xml_text){
    	Blockly.Xml.domToWorkspace(Blockly.Xml.textToDom(xml_text), workspacePlayground);
    }
    workspacePlayground.zoomToFit();

});
/*]]>*/
</script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</html>
