<!DOCTYPE html>
<html lang="en">
<head
	th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/lib/prism.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<style>
body {
	margin: 0;
}

canvas {
	width: 100%;
	height: 100%;
}

#ccc {
	margin: 1px;
	padding: 0px;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/prism.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<form th:replace="~{form :: gform}"></form>
	<!-- Start Page Loading -->
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
				<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="container">
					<div class="wrapper content-wrapper"
						style="overflow: scroll;">
						<div id="chips" class="section">
							<div class="row">
								<div class="col s12">
									<h4 class="header" th:text="${data.courseName}">认识温度传感器</h4>
									<div class="divider"></div>
									<p>
										传感器（英语：Sensor）是用于侦测环境中所生事件或变化，并将此消息发送出至其他电子设备（如中央处理器）的设备，通常由敏感组件和转换组件组成。
									</p>
									<dl>
										<dt>按工作原理分类</dt>
										<dd>电阻式传感器、电容式传感器、电感式传感器、压电式传感器、热电式传感器、阻抗式传感器、磁电式传感器、压电式传感器、光电式传感器、谐振式传感器、霍尔式传感器、超声式传感器、同位素式传感器、电化学式传感器、微波式传感器</dd>
									</dl>
									<dl>
										<dt>按技术分类</dt>
										<dd>超声波传感器、 温度传感器、 湿度传感器、 气体传感器、 气体报警器、 压力传感器、 加速度传感器、
											紫外线传感器、 磁敏传感器、 磁阻传感器、 图像传感器、 电量传感器、 位移传感器</dd>
									</dl>
									<dl>
										<dt>按应用分类</dt>
										<dd>压力传感器、 温湿度传感器、 温度传感器、 PH传感器、 流量传感器、 液位传感器、 超声波传感器、
											浸水传感器、 照度传感器、 差压变送器、 加速度传感器、 位移传感器、 称重传感器、 测距传感器</dd>
									</dl>
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<h4 class="header">实物</h4>
									<div class="divider"></div>
									<br>
									<div class="col s12 m4 l4">
										<div class="card" id="123" data-status="2"
											data-uid="sd_fds_fsdf_ds">
											<div class="card-image waves-effect waves-block waves-green">
												<img class="activator card-image-padding" th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/hex/SHT21_1.png' + #servletContext.getAttribute('vstatic')}}" alt="office">
											</div>
											<div class="card-content card-content-top-border">
												<a class="card-title grey-text text-darken-2 text-ellipsis" >
													<div class="card-title-div-inline">正面</div>
												</a>
											</div>
										</div>
									</div>
									<div class="col s12 m4 l4">
										<div class="card">
											<div class="card-image waves-effect waves-block waves-green">
												<img class="activator card-image-padding" th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/hex/SHT21_2.png' + #servletContext.getAttribute('vstatic')}}" alt="office">
											</div>
											<div class="card-content card-content-top-border">
												<a href="JavaScript:void(0);" class="card-title grey-text text-darken-2 text-ellipsis" >
													<div class="card-title-div-inline">背面</div>
												</a>
											</div>
										</div>
									</div>
									<div class="col s12 m4 l4">
										<div class="card">
											<div class="card-image waves-effect waves-block waves-green">
												<img class="activator card-image-padding" th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/hex/SHT21_3.jpg' + #servletContext.getAttribute('vstatic')}}" alt="office">
											</div>
											<div class="card-content card-content-top-border">
												<a class="card-title grey-text text-darken-2 text-ellipsis" >
													<div class="card-title-div-inline">大小</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<h4 class="header">实验所需实物及对应积木块清单</h4>
									<div class="divider"></div>
									<br>
									<div class="col s12 m4 l4">
										<div class="card" id="123" data-status="2"
											data-uid="sd_fds_fsdf_ds">
											<div class="card-image waves-effect waves-block waves-green">
												<img class="activator" th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/hex/hex_cpu.png' + #servletContext.getAttribute('vstatic')}}" alt="office">
											</div>
											<div class="card-content card-content-top-border">
												<a class="card-title grey-text text-darken-2 text-ellipsis" >
													<div class="card-title-div-inline">1. DTU</div>
												</a>
											</div>
										</div>
									</div>
									<div class="col s12 m4 l4">
										<div class="card" id="123" data-status="2"
											data-uid="sd_fds_fsdf_ds">
											<div class="card-image waves-effect waves-block waves-green">
												<img class="activator" th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/hex/hex_temp.png' + #servletContext.getAttribute('vstatic')}}" alt="office">
											</div>
											<div class="card-content card-content-top-border">
												<a class="card-title grey-text text-darken-2 text-ellipsis" >
													<div class="card-title-div-inline">2. 温度传感器</div>
												</a>
											</div>
										</div>
									</div>
									<div class="col s12 m4 l4">
										<div class="card" id="123" data-status="2"
											data-uid="sd_fds_fsdf_ds">
											<div class="card-image waves-effect waves-block waves-green">
												<img class="activator" th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/hex/hex_fan.png' + #servletContext.getAttribute('vstatic')}}" alt="office">
											</div>
											<div class="card-content card-content-top-border">
												<a class="card-title grey-text text-darken-2 text-ellipsis" >
													<div class="card-title-div-inline">3. 风扇</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<h4 class="header">实验步骤</h4>
									<div class="divider"></div>
									<br>
									<ol>
									    <li>请将上一步实验所需清单中的DTU，温度传感器和风扇拼接在一起</li>
									    <li>将DTU模组通过USB线（或通过Wi-Fi连接至Internet，需要在平台注册账户）连接至电脑</li>
									    <li>打开浏览器，访问https://stem.stepiot.com 登入阶石STEM教育系统</li>
									    <li>进入“我的课程”，点击“认识传感器” 进入Blockly编程界面</li>
									    <li>为方便初学者，界面中已预置简单的积木程序</li>
									    <li>请尝试修改“风扇”的转速，如：将转速设置为“1级”</li>
									    <li>点击“面包屑”上的“下发至设备”按钮</li>
									    <li>观察风扇模组上的风扇是否在转动</li>
									    <li>重复步骤 6、7、8，在步骤6设置不同的转速值，并观察风扇的转速</li>
									</ol>
								</div>
							</div>
							<div class="row">
								<div class="col s12">
									<h4 class="header">动手操作</h4>
									<div class="divider"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<script type="text/javascript"
		th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<form>
	<input type="hidden" id="courseId" th:value="${data.courseId}">
	<input type="hidden" id="courseUid" th:value="${data.courseUid}">
	</form>
</body>
<script th:inline="javascript">
/*<![CDATA[*/
	$(document).ready(function() {
		 $("#btn-doAction").bind("click",function() {
				let ids=[];
				ids.push($("#courseUid").val());
				let x={"id": ids,"courseId":$("#courseId").val()};
				let pson=pro.ps(x);
				$("#gform input[name=k]").val(pson.k);
				$("#gform").attr("action",/*[[@{${baseUri + "/edit"}}]]*/ "/mycourse/edit");
				$("#gform").submit();
			});
	});
	/*]]>*/
</script>
</html>
