<!DOCTYPE html>
<html lang="en">
<head
	th:replace='head :: common_head(~{::title},~{},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<style>
body {
	margin: 0;
}

canvas {
	width: 100%;
	height: 100%;
}

#ccc {
	margin: 1px;
	padding: 0px;
}
.edit-wrapper {
    top: 50px;
}

</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>

</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
				<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="wrapper content-wrapper" style="overflow: scroll;">
				<div class="row">
				    <form class="col s12" th:action="@{/edunotice/update}" id="form-edit">
				    
				    <div class="row">
		                <div class="col s6 m6 l6">
                            <select th:if="${singleClassSelect!=null}" id="levelThird" class="input-field level-select browser-default">
                                <option th:each="item : ${singleClassSelect.data}" th:value="${item.value}" th:text="${item.text}" th:attr="data-icon=${item.icon}" class="left circle" th:selected="(${item.value} == ${singleClassSelect.selectedKey})"> </option>
                            </select>
                        </div>
					</div>
		            
		            
		            <div class="row">
					<div class="col s6 m2 l2" th:each="item : ${data}">
						
		               <div th:id="${item.username}" data-delay="5" th:attr="data-tooltip=${item.name}" class="card min-height-100 white-text" th:classappend="${item.styleClass}">
                        <div class="padding-4">
                          <div class="col s6 m6">
                            <i class="mdi mdi-certificate" style="font-size: x-large;"></i> 
                            <p th:text="${item.name}">Clients</p>
                          </div>
                          <div class="col s6 m6 left-align" style="margin-top: 1em;">
                            <h5 class="mb-0" th:text="${item.score}">1885</h5>
                          </div>
                        </div>
                      </div>
		                  
					</div>
					</div>
					<ul th:replace="${pagination == null} ? ~{} : ~{pagination :: pagination}"></ul>
				    </form>
				  </div>
				</div>
			</section>
		</div>
		<form th:replace="~{form :: gform}"></form>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/list.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>

<script th:inline="javascript">
/*<![CDATA[*/

	$(document).ready(function() {
		$( "a[data-id]" ).click(function() {
			var bd={"pid": $(this).data("id")+""};
			let pson=pro.ps(bd);
	    	window.location.href="/edunotice/downlood?k="+pson.k;
		});
		
		$('.level-select').bind('change', (event) => {
			var fireSelect;
			var bd={};
			bd[''+event.target.id+'']=event.target.value;
			
			if(event.target.id=='levelTop'){
				fireSelect=$("#levelSecond");
				$("#levelThird").empty();
			}else if(event.target.id=='levelSecond'){
				fireSelect=$("#levelThird");
			}else{
				bd['levelTop']=$("#levelTop").val();
				bd['levelSecond']=$("#levelSecond").val();
				let pson=pro.ps(bd);
				$("#gform input[name=k]").val(pson.k);
				$("#gform").attr("action",/*[[@{${baseUri}}]]*/ "/mycourse/edit");
				$("#gform").submit();
			}
			let pson=pro.ps(bd);
			$.post("/select/subItems", pson, function(data) {
				var msg = pro.sp(data);
				if (msg.statusCode == 200) {
					if(msg.msgMap && msg.msgMap.items){
						var ops=JSON.parse(msg.msgMap.items);
						if(ops.data && ops.data.length>0){
							fireSelect.empty();
							for(var i=0;i<ops.data.length;i++){
								var _option=ops.data[i];
								fireSelect.append(new Option(_option['text'], _option['value'], false, false));
							}
						}
						
					}
					
				}else{
					Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
				}
			}, "json");
		});
	});
	/*]]>*/
</script>
</html>