<!DOCTYPE html>
<html lang="en">
<div id="current_level" style="display:none" th:text="${data.currentLevel}"></div>
<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/lib/prism.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/custom/icons.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/js/highlight/styles/googlecode.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<style>
body, html {
	height: 100%
}

body {
	background-color: #fff;
	font-family: sans-serif;
	overflow: hidden
}

h1 {
	font-weight: 400;
	font-size: 140%
}

#blocklyDiv {
	float: right;
	height: 95%;
	width: 70%
}

#importExport {
	font-family: monospace
}

body {
	margin: 0
}

canvas {
	width: 100%;
	height: 100%
}

#ccc {
	margin: 1px;
	padding: 0
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/xblockly/blockly_c.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/xblockly/blocks_c.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/xblockly/python_c.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/third/FileSaver.min.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="#{blockly.msg.js(${#servletContext.getAttribute('dnstatic')},${#servletContext.getAttribute('vstatic')})}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/prism.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/marked.min.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/highlight/highlight.min.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/dap.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/threejs/three.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/threejs/fonts/stepface.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/threejs/controls/OrbitControls.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/threejs/controls/TrackballControls.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/hexagon.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/threejs/renderers/CanvasRenderer.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/threejs/renderers/SVGRenderer.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/threejs/renderers/Projector.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/threejs/loaders/SVGLoader.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/Global.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/third/Color.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/edu/nestcode.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<form th:object="${data}" id="form-edit" th:attr="data-id=123"></form>
	<form th:replace="~{form :: gform}"></form>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
			<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="container" id="workspace" th:object="${data}"  th:attr="data-outlineid=*{outlineId},data-student=*{username},data-xml=*{blockly},data-blockly=*{blockly},data-titlename=*{outlineName}" data-action="/pythoncourse/apdate"  data-faction="flash">
					<div id="blocklyDiv" style="position: absolute"></div>
				</div>
				<div class="container fixedcode card" >
					<div class="card-content">
						<div class="card-title" style="border-bottom: 1px solid rgba(160, 160, 160, 0.2)">
						Python
						</div>
						<pre><code id="code" class="language-python"></code></pre>
					</div>
				</div>
				<div class="fixedsvg card" id="threejsworkspacke">
			   	<script>
              var count=0;
              let workContext = STEPIOT.buildWorkContext($("#threejsworkspacke"));
              var group = new THREE.Group();
              var fac = new HexagonFactory();
              var base = fac.createHexagonByType("stepiot_dtu");
              
              base.setPosition(0, 0, 0);
              group.add(base);
            
              workContext.scene.add(group);
              var render = function () {
                requestAnimationFrame(render);
                //group.rotation.x += 0.0005;
                //group.rotation.y += 0.0005;
                //group.rotation.z += 0.0005;
                workContext.renderer.render(workContext.scene, workContext.camera);
              };
              var mdown = function (hexa) {
            	  
            	  $('#wikiModal .modal-content h5').text(hexa.data.cnname);
            	  loadwikiMd(hexa.data.wiki);
                  $('#wikiModal').modal('open');

              }
              var mover = function (hexa) {
                if (hexa.hasFreeEdge()) {
                }
              }
              document.addEventListener('mousedown', STEPIOT.onMouseDown(workContext.camera, group, mdown), false);
              document.addEventListener('mousemove', STEPIOT.onMouseOver(workContext.camera, group, mover), false);
              render();
              var resize = function () {
              }
              $(document)
                .ready(function () {
                  STEPIOT.updateWorkspaceSize(resize);
                  $('.modal')
                    .modal();
                });
            </script>
			</div>
			</section>
		</div>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	
	<div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
      </div>
      <div class="modal-footer"> <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a> </div>
    </div>
    <div id="wikiModal" class="modal">
        <div class="modal-content">
            <h5>分享到网络</h5>
            <p></p>
        </div>
        <div class="modal-footer"> 
        <button class="btn waves-effect waves-light modal-action modal-close">关闭</button></div>
    </div>
    <div th:if="${bcb.play}" th:replace="~{video :: video}"></div>
</body>
<div style="display:none" id="theme" th:text="${blocklyTheme}"></div>
<div style="display:none" id="tutorialBlockly" th:utext="${data.tutorialBlockly}"></div>
<div style="display:none" id="tutorialCode" th:utext="${data.tutorialCode}"></div>
<div style="display:none" th:utext="${data.toolbox}"></div>

<div id="firmware" style="display: none;" th:attr="data-src=@{${#servletContext.getAttribute('dnstatic') + '/js/nestcode.js' + #servletContext.getAttribute('vstatic')}}">
</div>
<script th:inline="javascript">
/*<![CDATA[*/
Blockly.HSV_SATURATION = 0.79;
Blockly.HSV_VALUE = 0.71;
var toolboxText = document.getElementById('toolbox').outerHTML;
toolboxText = toolboxText.replace(/(^|[^%]){(\w+)}/g,
    function(m, p1, p2) {
        return p1 + Blockly.Msg[p2.toUpperCase()];
    });
var toolboxXml = Blockly.Xml.textToDom(toolboxText);
var options = {
    "toolbox": toolboxXml,
    "comments": true,
    "trashcan": true,
	"scrollbars" : true, 
    "grid": {
        "spacing": 20,
        "length": 30,
        "colour": "#eee",
        "snap": false
    },
    "zoom": {
        "controls": true,
        "wheel": true,
        "startScale": 0.8,
        "maxScale": 1.5,
        "minScale": 0.3,
        "scaleSpeed": 1.1
    },
    "media": /*[[${#servletContext.getAttribute('dnstatic') + '/xblockly/media/'}]]*/ "/xblockly/media/"
    ,"toolboxOptions": {
        "border": true,
        "colour": true,
        "inverted": true,
        "invertedMultiplier": 0.3,
        "disabledOpacity": 0.4
    }
};
options.theme=Blockly.Themes[$("#theme").text()];
var wplayground = Blockly.inject('blocklyDiv', options);

function toLevel(levelNum) {
    var bd = {
        "outlineId": $("#workspace").data("outlineid"),
        "currentLevel": levelNum,
        "username": $("#workspace").data("student")+""
    };
    let pson = pro.ps(bd);
	var location=/*[[@{${baseUri + "/edit"}}]]*/ "/iotproject/edit";
	window.location.href=location+"?k="+pson.k;
};

$(document).ready(function() {
	
    window['nextLevel'] = function(selectedLevel) {
        var current_level = document.getElementById("current_level").innerText;
        toLevel(Number(current_level) + 1);
    }
    wplayground.addChangeListener(nestcode.updateworkspace(wplayground,context,base,group));
    STEPIOT.updateWorkspaceSize(nestcode.resize);
    
    var _downloadAction=/*[[@{${baseUri + "/download"}}]]*/ "/mycourse/download";
    var _staticVersion=/*[[${#servletContext.getAttribute('version')}]]*/ "";
    $("#btn-download").bind("click", nestcode.doDownload(wplayground,_staticVersion,_downloadAction));
    $("#btn-downhex").bind("click", nestcode.doDownload(wplayground,_staticVersion,_downloadAction));
    var showhideCode = function() {
        $(".fixedcode").toggle();
        STEPIOT.updateWorkspaceSize(nestcode.resize);
    }
    $("#btn-code").bind("click", showhideCode);
    var xml_text = $("#workspace").data("xml");
    if (xml_text) {
        Blockly.Xml.domToWorkspace(Blockly.Xml.textToDom(xml_text), wplayground);
    }
    wplayground.zoomToFit();
    window['feedAnswer']=function(_answer){
    	if (_answer) {
    		wplayground.clear();
            Blockly.Xml.domToWorkspace(Blockly.Xml.textToDom(_answer), wplayground);
        }
        wplayground.zoomToFit();
    }
    window['reset']=function(){
    	wplayground.clear();
        Blockly.Xml.domToWorkspace(Blockly.Xml.textToDom($("#tutorialBlockly").html()), wplayground);
    }
    marked.setOptions({renderer:new marked.Renderer,highlight:function(a,b,c){return hljs.highlightAuto(a).value},pedantic:!1,gfm:!0,breaks:!1,sanitize:!1,smartLists:!0,smartypants:!1,xhtml:!1});
    window['loadwikiMd']=function(wikiId){
    	var cache=sessionStorage.getItem('wiki'+wikiId);
    	if(cache){
    		$('#wikiModal .modal-content p').html(cache);
    		try{$( "img[alt*='width']" ).css(JSON.parse($( "img[alt*='width']" ).attr("alt")));}catch(error){};
    	}
    	let ids = [];
        ids.push(wikiId+"");
        let _pson = pro.ps({"id":ids});
        var _action = $("#workspace").data("action");
        $.post("/eduwiki/loadwiki", _pson, function(data) {
            var msg = pro.sp(data);
            if (msg.statusCode == 200) {
                if (msg.msgMap) {
                	$('#wikiModal .modal-content p').html(marked(msg.msgMap.wikiBody));
                	sessionStorage.setItem('wiki'+wikiId, marked(msg.msgMap.wikiBody));
                	try{$("img[alt*='width']" ).css(JSON.parse($("img[alt*='width']" ).attr("alt")));}catch(error){};
                }
            } 
        }, "json");
    }
});
/*]]>*/
</script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</html>
