<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
    <title th:text="#{${titleName}}"></title>
    <link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/lib/prism.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
    <link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/custom/icons.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
    <style>
        body {
            margin: 0;
        }
        canvas {
            width: 100%;
            height: 100%;
        }
        #ccc {
            margin: 1px;
            padding: 0px;
        }
    </style>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/xblockly/blockly_c.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/xblockly/blocks_c.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/xblockly/python_c.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
    <script th:src="#{blockly.msg.js(${#servletContext.getAttribute('dnstatic')},${#servletContext.getAttribute('vstatic')})}" data-info="th"></script>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/prism.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div th:replace="~{header :: head}"></div>
    <div id="main" class="main-full">
        <div class="wrapper">
            <div th:replace="~{laside :: nav}"></div>
            <section id="content" class="section-content">
                <div th:replace="~{breadcrumbs :: crumbs}"></div>
                <div class="wrapper content-wrapper" style="overflow: scroll;">
                    <div class="row">
                        <div class="col s4 m4 l4">
                            <select th:if="${outlineSelector!=null}" id="outlineSelector" class="input-field browser-default">
                                <option th:each="item : ${outlineSelector.data}" th:value="${item.value}" th:text="${item.text}" th:attr="data-icon=${item.icon}" class="left circle" th:selected="(${item.value} == ${outlineSelector.selectedKey})"> </option>
                            </select>
                        </div>
                        <div class="col s8 m8 l8">
                            <select th:if="${singleClassSelect!=null}" id="levelThird" class="input-field level-select browser-default">
                                <option th:each="item : ${singleClassSelect.data}" th:value="${item.value}" th:text="${item.text}" th:attr="data-icon=${item.icon}" class="left circle" th:selected="(${item.value} == ${singleClassSelect.selectedKey})"> </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3 m3 l3" th:each="item : ${data}">
                            <div class="card hoverable tooltipped" th:attr="data-id=${item.username},data-tooltip=${item.name}">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <div th:id="${item.username}" th:attr='data-xml=${item.userBlockly}' class="card-blockly"></div>
                                </div>
                                <div class="card-content card-content-top-border">
                                    <a href="JavaScript:void(0);" class="card-title blue-grey-text text-ellipsis">
                                        <div class="card-title-div-inline turquoise-text text-darken-2 font-weight-400" th:text="${item.name}"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <form th:replace="~{form :: gform}">
        </div>
    </div>
    </div>
    <div th:replace="~{footer :: copy}"></div>
    <script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
    <script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>

<script th:inline="javascript">
    /*<![CDATA[*/
    var options = {
        "comments": false,
        "trashcan": false,
        "scrollbars": true,
        "grid": {
            "spacing": 20,
            "length": 30,
            "colour": "#eee",
            "snap": false
        },
        "zoom": {
            "controls": false,
            "wheel": false,
            "startScale": 0.3,
            "maxScale": 0.5,
            "minScale": 0.3,
            "scaleSpeed": 0.1
        },
        "media": /*[[${#servletContext.getAttribute('dnstatic') + '/xblockly/media/'}]]*/ "/xblockly/media/"
    };
    $(document).ready(function() {
        $(".card-blockly").each(function() {
            let _vid = $(this).attr("id");
            let _xml_text = $(this).data("xml");
            if (!_xml_text || _xml_text.length === 0 || !_xml_text.trim()) {
                return;
            }
            let _workspace = Blockly.inject(_vid, options);
            let _xml = Blockly.Xml.textToDom(atob(_xml_text));
            Blockly.Xml.domToWorkspace(_xml, _workspace);
            _workspace.zoomToFit();
        });
        $("a[data-id]").click(function() {
            let ids = [];
            ids.push($(this).data("id"));
            let pson = pro.ps({
                "id": ids
            });
            $("#gform input[name=k]").val(pson.k);
            $("#gform").attr("action", /*[[@{${baseUri + "/edit"}}]]*/ "/iotproject/edit");
            $("#gform").submit();
        });
        $("div[data-uid]").click(function() {
            if (!$(this).data("uid")) {
                return;
            }
            let ids = [];
            ids.push($(this).data("uid"));
            let pson = pro.ps({
                "id": ids
            });
            $("#gform input[name=k]").val(pson.k);
            $("#gform").attr("action", /*[[@{${baseUri + "/edit"}}]]*/ "/iotproject/edit");
            $("#gform").submit();
        });
        var buildParam = function() {
            var bd = {};
            bd['levelTop'] = $("#levelTop").val();
            bd['levelSecond'] = $("#levelSecond").val();
            bd['levelThird'] = $("#levelThird").val();
            bd['outlineId'] = parseInt($("#outlineSelector").val());
            return bd;
        }
        window['toLevel'] = function(pnum) {
            var bd = buildParam();
            bd['currentLevel'] = pnum;
            let pson = pro.ps(bd);
            $("#gform input[name=k]").val(pson.k);
            $("#gform").attr("action", /*[[@{${baseUri + "/clazz"}}]]*/ "/mycourse/edit");
            $("#gform").submit();
        }
        $("#outlineSelector").bind('change', (event) => {
            if (!$("#levelThird").val()) {
                return;
            }
            var bd = buildParam();
            let pson = pro.ps(bd);
            $("#gform input[name=k]").val(pson.k);
            $("#gform").attr("action", /*[[@{${baseUri + "/clazz"}}]]*/ "/mycourse/edit");
            $("#gform").submit();
        });
        $('.level-select').bind('change', (event) => {
            var fireSelect;
            var bd = {};
            bd['' + event.target.id + ''] = event.target.value;
            if (event.target.id == 'levelTop') {
                fireSelect = $("#levelSecond");
                $("#levelThird").empty();
            } else if (event.target.id == 'levelSecond') {
                fireSelect = $("#levelThird");
            } else {
                bd = buildParam();
                let pson = pro.ps(bd);
                $("#gform input[name=k]").val(pson.k);
                $("#gform").attr("action", /*[[@{${baseUri + "/clazz"}}]]*/ "/mycourse/edit");
                $("#gform").submit();
            }
            let pson = pro.ps(bd);
            $.post("/select/subItems", pson, function(data) {
                var msg = pro.sp(data);
                if (msg.statusCode == 200) {
                    if (msg.msgMap && msg.msgMap.items) {
                        var ops = JSON.parse(msg.msgMap.items);
                        if (ops.data && ops.data.length > 0) {
                            fireSelect.empty();
                            for (var i = 0; i < ops.data.length; i++) {
                                var _option = ops.data[i];
                                fireSelect.append(new Option(_option['text'], _option['value'], false, false));
                            }
                        }
                    }

                } else {
                    Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
                }
            }, "json");
        });

    });
    /*]]>*/
</script>
</html>