<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
    <title th:text="#{${titleName}}"></title>
    <link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/lib/prism.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
    <link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/custom/icons.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
    <style>
        body {
            margin: 0;
        }
        canvas {
            width: 100%;
            height: 100%;
        }
        #ccc {
            margin: 1px;
            padding: 0px;
        }
        .ace_editor {
		    font-size: 12px;
		}
    </style>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/ace/ace.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/prism.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div th:replace="~{header :: head}"></div>
    <div id="main" class="main-full">
        <div class="wrapper">
            <div th:replace="~{laside :: nav}"></div>
            <section id="content" class="section-content">
                <div th:replace="~{breadcrumbs :: crumbs}"></div>
                <div class="wrapper content-wrapper" style="overflow: scroll;">
                    <div class="row">
                        <div class="col s4 m4 l4">
                            <select th:if="${outlineSelector!=null}" id="outlineSelector" class="input-field browser-default">
                                <option th:each="item : ${outlineSelector.data}" th:value="${item.value}" th:text="${item.text}" th:attr="data-icon=${item.icon}" class="left circle" th:selected="(${item.value} == ${outlineSelector.selectedKey})"> </option>
                            </select>
                        </div>
                        <div class="col s8 m8 l8">
                            <select th:if="${singleClassSelect!=null}" id="levelThird" class="input-field level-select browser-default">
                                <option th:each="item : ${singleClassSelect.data}" th:value="${item.value}" th:text="${item.text}" th:attr="data-icon=${item.icon}" class="left circle" th:selected="(${item.value} == ${singleClassSelect.selectedKey})"> </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s3 m3 l3" th:each="item : ${data}">
                            <div class="card hoverable tooltipped" th:attr="data-id=${item.username},data-tooltip=${item.name}">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <div th:id="${item.username}" th:text='${item.code}' class="card-blockly"></div>
                                </div>
                                <div class="card-content card-content-top-border">
                                    <a href="JavaScript:void(0);" class="card-title blue-grey-text text-ellipsis">
                                        <div class="card-title-div-inline turquoise-text text-darken-2 font-weight-400" th:text="${item.name}"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <form th:replace="~{form :: gform}">
        </div>
    </div>
    </div>
    <div th:replace="~{footer :: copy}"></div>
    <script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/assignment/assignment.js' + #servletContext.getAttribute('vstatic')}}"></script>
    <script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
    <script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    
    $(document).ready(function() {
        $(".card-blockly").each(function() {
            let _vid = $(this).attr("id");
            var editor = ace.edit(_vid);
            editor.renderer.setShowGutter(true);
        	editor.setTheme("ace/theme/twilight");
        	editor.session.setMode("ace/mode/python");
        });
    });
    /*]]>*/
</script>



</html>