<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{},~{},~{})'>
  <title th:text="#{${titleName}}"></title>
</head>
<body>
	<!-- Start Page Loading -->
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<!-- End Page Loading -->
	<!-- //////////////////////////////////////////////////////////////////////////// -->
	<!-- START HEADER -->
	<div th:replace="~{header :: head}"></div>
	<!-- END HEADER -->
	<!-- //////////////////////////////////////////////////////////////////////////// -->
	<!-- START MAIN -->
	<div id="main" class="main-full">
		<!-- START WRAPPER -->
		<div class="wrapper">
			<!-- START LEFT SIDEBAR NAV-->
			<div th:replace="~{laside :: nav}"></div>
			<!-- END LEFT SIDEBAR NAV-->
			<!-- //////////////////////////////////////////////////////////////////////////// -->
			<!-- START CONTENT -->
			<section id="content">
				<!--breadcrumbs start-->
				<div id="breadcrumbs-wrapper">
					<!-- Search for small screen -->
					<div
						class="grey lighten-2 hide-on-large-only">
						
					</div>
					<div class="container">
						<div class="row">
							<div class="col s10 m6 l6">
								<h5 class="breadcrumbs-title">
									<p th:text="'Hello, ' + ${name} + '!'" />
								</h5>
								<ol class="breadcrumbs">
									<li>
										<a href="index.html">Dashboard</a>
									</li>
									<li>
										<a href="#">Pages</a>
									</li>
									<li class="active">Blank Page</li>
								</ol>
							</div>
							<div class="col s2 m6 l6">
								<a
									class="btn dropdown-settings waves-effect waves-light breadcrumbs-btn right gradient-45deg-light-blue-cyan gradient-shadow"
									href="#!" data-activates="dropdown1">
									<i class="material-icons hide-on-med-and-up">settings</i>
									<span class="hide-on-small-onl">Settings</span>
									<i class="material-icons right">arrow_drop_down</i>
								</a>
								<ul id="dropdown1" class="dropdown-content">
									<li>
										<a href="#!" class="grey-text text-darken-2">
											Access
											<span class="badge">1</span>
										</a>
									</li>
									<li>
										<a href="#!" class="grey-text text-darken-2">
											Profile
											<span class="new badge">2</span>
										</a>
									</li>
									<li>
										<a href="#!" class="grey-text text-darken-2">Notifications</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!--breadcrumbs end-->
				<!--start container-->
				<div class="container">
					<div class="section">
					
						<p class="caption" th:text="#{lang.en}">A Simple Blank Page to use it for your
							custome design and elements.</p>
						<div class="divider"></div>
					</div>
					<!-- Floating Action Button -->
					<div class="fixed-action-btn " style="bottom: 50px; right: 19px;">
						<a
							class="btn-floating btn-large gradient-45deg-light-blue-cyan gradient-shadow">
							<i class="material-icons">add</i>
						</a>
						<ul>
							<li>
								<a href="css-helpers.html" class="btn-floating blue">
									<i class="material-icons">help_outline</i>
								</a>
							</li>
							<li>
								<a href="cards-extended.html" class="btn-floating green">
									<i class="material-icons">widgets</i>
								</a>
							</li>
							<li>
								<a href="app-calendar.html" class="btn-floating amber">
									<i class="material-icons">today</i>
								</a>
							</li>
							<li>
								<a href="app-email.html" class="btn-floating red">
									<i class="material-icons">mail_outline</i>
								</a>
							</li>
						</ul>
					</div>
					<!-- Floating Action Button -->
				</div>
				<!--end container-->
			</section>
			<!-- END CONTENT -->
			<!-- //////////////////////////////////////////////////////////////////////////// -->
			<!-- START RIGHT SIDEBAR NAV-->
			
			<!-- END RIGHT SIDEBAR NAV-->
		</div>
		<!-- END WRAPPER -->
	</div>
	<!-- END MAIN -->
	<!-- START FOOTER -->
	<div th:replace="~{footer :: copy}"></div>
	<!-- END FOOTER -->
	<!-- ================================================
        Scripts
  ================================================ -->
	<!--scrollbar-->
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<!--plugins.js - Some Specific JS codes for Plugin Settings-->
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<!--custom-script.js - Add your own theme custom JS-->
	
</body>
</html>