<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{},~{::style},~{::[//script[@data-info="th"]]})'>
  <title th:text="#{${titleName}}"></title>
<style>
body {
	margin: 0;
}

canvas {
	width: 100%;
	height: 100%;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/threejs/three.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/threejs/controls/OrbitControls.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/threejs/controls/TrackballControls.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/sockjs-1.0.2.min.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/stomp.min.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/app.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/hexagon.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<!-- Start Page Loading -->
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<!-- End Page Loading -->
	<!-- //////////////////////////////////////////////////////////////////////////// -->
	<!-- START HEADER -->
	<div th:replace="~{header :: head}"></div>
	<!-- END HEADER -->
	<!-- //////////////////////////////////////////////////////////////////////////// -->
	<!-- START MAIN -->
	<div id="main" class="main-full">
		<!-- START WRAPPER -->
		<div class="wrapper">
			<!-- START LEFT SIDEBAR NAV-->
			<div th:replace="~{laside :: nav}"></div>
			<!-- END LEFT SIDEBAR NAV-->
			<!-- //////////////////////////////////////////////////////////////////////////// -->
			<!-- START CONTENT -->
			<section id="content">
				<!-- 			<a id='newWindow' href='./geometry-browser.html' target='_blank'>Open in New Window</a> -->
				<!--start container-->
				<div class="container" id="ccc">
					<script>
						//document.getElementById('newWindow').href += window.location.hash;

						var scene = new THREE.Scene();
						var camera = new THREE.PerspectiveCamera(75,
								window.innerWidth / window.innerHeight, 0.1, 50);
						camera.position.z = 30;

						var renderer = new THREE.WebGLRenderer({
							antialias : true,
							alpha : true
						});
						renderer.setPixelRatio(window.devicePixelRatio);
						renderer.setSize(window.innerWidth, window.innerHeight);
						renderer.setClearColor(0xffffff, 1);
						$("#ccc").append(renderer.domElement);

						var orbit = new THREE.OrbitControls(camera,
								renderer.domElement);
						orbit.enableZoom = true;

						var lights = [];
						lights[0] = new THREE.PointLight(0xffffff, 1, 0, 2);
						lights[1] = new THREE.PointLight(0xffffff, 1, 0, 2);
						lights[2] = new THREE.PointLight(0xffffff, 1, 0, 2);

						lights[0].position.set(0, 200, 0);
						lights[1].position.set(100, 200, 100);
						lights[2].position.set(-100, -200, -100);

						scene.add(lights[0]);
						scene.add(lights[1]);
						scene.add(lights[2]);

						var size = 1000;
						var divisions = 1000;

						var gridHelper = new THREE.GridHelper(size, divisions);
						scene.add(gridHelper);

						var axesHelper = new THREE.AxesHelper(200);
						scene.add(axesHelper);

						var group = new THREE.Group();

						var mesh = new Hexagon();
						mesh.setPosition(0, 0, 0);
						group.add(mesh);

						mesh = new Hexagon();
						mesh.setPosition(17.6, 0, 0);
						group.add(mesh);

						mesh = new Hexagon();
						mesh.setPosition(-17.6, 0, 0);
						group.add(mesh);

						mesh = new Hexagon();
						mesh.setPosition(8.8, 0, 15.2);
						group.add(mesh);

						mesh = new Hexagon();
						mesh.setPosition(8.8, 0, -15.2);
						group.add(mesh);

						mesh = new Hexagon();
						mesh.setPosition(-8.8, 0, -15.2);
						group.add(mesh);

						mesh = new Hexagon();
						mesh.setPosition(-8.8, 0, 15.2);
						group.add(mesh);

						scene.add(group);

						var render = function() {

							requestAnimationFrame(render);

							group.rotation.x += 0.005;
							group.rotation.y += 0.005;
// 							group.rotation.z += 0.005;

							renderer.render(scene, camera);

						};

						window.addEventListener('resize', function() {

							camera.aspect = window.innerWidth
									/ window.innerHeight;
							camera.updateProjectionMatrix();

							renderer.setSize(window.innerWidth,
									window.innerHeight);

						}, false);

						render();
					</script>
				</div>
				<!--end container-->
			</section>
			<!-- END CONTENT -->
			<!-- //////////////////////////////////////////////////////////////////////////// -->
			<!-- START RIGHT SIDEBAR NAV-->
			
			<!-- END RIGHT SIDEBAR NAV-->
		</div>
		<!-- END WRAPPER -->
	</div>
	<!-- END MAIN -->
	<!-- START FOOTER -->
	<div th:replace="~{footer :: copy}"></div>
	<!-- END FOOTER -->
	<!-- ================================================
        Scripts
  ================================================ -->
	<!--scrollbar-->
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<!--plugins.js - Some Specific JS codes for Plugin Settings-->
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<!--custom-script.js - Add your own theme custom JS-->
	
</body>
</html>