<!DOCTYPE html>
<html lang="en">

<head th:replace='head :: common_head(~{::title},~{},~{},~{::[//script[@data-info="th"]]})'>
  <title th:text="#{${titleName}}"></title>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/threejs/three.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/threejs/fonts/stepiot.typeface.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/threejs/controls/OrbitControls.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/threejs/controls/TrackballControls.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/sockjs-1.0.2.min.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/stomp.min.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/app.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/hexagon.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/threejs/renderers/CanvasRenderer.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/threejs/renderers/SVGRenderer.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/threejs/renderers/Projector.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/threejs/loaders/SVGLoader.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/Global.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/third/Color.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/sockjs-1.0.2.min.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/stomp.min.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>

<body>
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START HEADER -->
    <div th:replace="~{header :: head}"></div>
    <!-- END HEADER -->
    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <div id="main" class="main-full">
        <!-- START WRAPPER -->
        <div class="wrapper">
            <!-- START LEFT SIDEBAR NAV-->
            <div th:replace="~{laside :: nav}"></div>
            <!-- END LEFT SIDEBAR NAV-->
            <!-- //////////////////////////////////////////////////////////////////////////// -->
            <!-- START CONTENT -->
            <section id="content">
                <!-- 			<a id='newWindow' href='./geometry-browser.html' target='_blank'>Open in New Window</a> -->
                <!--start container-->
                <div class="container" id="workspace">
                    <script>
                        let workContext = STEPIOT.buildWorkContext($("#workspace"));
                        var group = new THREE.Group();
                        var fac = new HexagonFactory();
                        var base = fac.createRandomHexagon();
                        base.setPosition(0, 0, 0);
                        group.add(base);
                        for (var i = 0; i < 6; i++) {
                            var mesh = fac.createRandomHexagon();
                            if (!base.hasFreeEdge()) {
                                base = context.getFreeHex();
                            }
                            if (base.connect(mesh)) {
                                group.add(mesh);
                            }
                        }
                        workContext.scene.add(group);
                        var render = function() {
                            requestAnimationFrame(render);
                            group.rotation.x += 0.0005;
                            group.rotation.y += 0.0005;
                            group.rotation.z += 0.0005;
                            workContext.renderer.render(workContext.scene, workContext.camera);
                        };
                        var mousedown = function(hexa) {
                        	$('#wikiModal .modal-content h5').text(hexa.data.cnname);
                        	$('#wikiModal .modal-content p').html(hexa.data.wiki);
                            $('#wikiModal').modal('open');
                        }
                        var mouseover = function(hexa) {

                        }
                        document.addEventListener('mousedown', STEPIOT.onMouseDown(workContext.camera, group, mousedown), false);
                        document.addEventListener('mousemove', STEPIOT.onMouseOver(workContext.camera, group, mouseover), false);
                        render();

                        var resize = function() {
                            let ww = window.innerWidth - STEPIOT.size.nav.width - 2;
                            let hh = window.innerHeight - STEPIOT.size.top.height - STEPIOT.size.bottom.height - 2;
                            workContext.camera.aspect = ww / hh;
                            workContext.camera.updateProjectionMatrix();
                            workContext.renderer.setSize(ww, hh, true);
                            $("#workspace")
                                .width(ww);
                            $("#workspace")
                                .height(hh);
                        }
                        $(document)
                            .ready(function() {
                                STEPIOT.updateWorkspaceSize(resize);
                                $('.modal')
                                    .modal();
                            });
                    </script>
                </div>
                <!--end container-->
            </section>
            <!-- END CONTENT -->
            <!-- START RIGHT SIDEBAR NAV-->
            
            <!-- END RIGHT SIDEBAR NAV-->
        </div>
        <!-- END WRAPPER -->
    </div>
    <!-- Modal Structure -->
    <div id="wikiModal" class="modal">
        <div class="modal-content">
            <h5>...</h5>
            <p></p>
        </div>
        <div class="modal-footer"> 
        <button class="btn waves-effect waves-light modal-action modal-close">关闭</button></div>
    </div>
    <!-- END MAIN -->
    <!-- START FOOTER -->
    <div th:replace="~{footer :: copy}"></div>
    <!--scrollbar-->
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<!--plugins.js - Some Specific JS codes for Plugin Settings-->
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<!--custom-script.js - Add your own theme custom JS-->
	
</body>

</html>