<!DOCTYPE html>
<html lang="en">
<head
	th:replace='head :: common_head(~{::title},~{},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<style>
body {
	margin: 0;
}

canvas {
	width: 100%;
	height: 100%;
}

#ccc {
	margin: 1px;
	padding: 0px;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>

</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
				<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="wrapper content-wrapper edit-wrapper" style="overflow: scroll;">
				<div class="row">
				    <form class="col s12" th:action="@{/userprofile/update}" th:object="${data}" id="form-edit" th:attr="data-id=*{username}">
				      <div class="row">
				        <div class="input-field col m6 s6 l6">
				          <input disabled value="I am not editable" id="disabled" type="text" class="validate" th:value="*{username}"/>
				          <label for="disabled" th:text="#{tb.user.item.username}">Disabled</label>
				          <input type="hidden" name="pid" th:value="*{username}">
				        </div>
				        <div class="input-field col m6 s6 l6">
				          <input disabled value="I am not editable" id="name" type="text" class="validate" th:value="*{name}"/>
				          <label for="name" th:text="#{tb.user.item.name}">Disabled</label>
				          <input type="hidden" name="name" th:value="*{name}">
				        </div>
				      </div>
				      <div class="row">
				        <div class="input-field col m6 s6 l6">
				          <input id="telephone" type="text" name="telephone" th:value="*{telephone}">
				          <label for="telephone" id="telephone-label" th:attr="data-success=#{validate.right},data-error=#{validate.telephone.wrong},data-cache=#{validate.telephone.wrong}" th:text="#{tb.user.item.telephone}"></label>
				        </div>
				        <div class="input-field col m6 s6 l6">
				          <input id="email" type="text" name="email" th:value="*{email}">
				          <label for="email" id="email-label" th:attr="data-success=#{validate.right},data-error=#{validate.email.wrong},data-cache=#{validate.email.wrong}" th:text="#{tb.user.item.email}"></label>
				        </div>
				      </div>
				      <div th:if="${className!=null}" class="row">
				        <div class="input-field col s12">
				          <input id="className" type="text" disabled name="className" th:value="${className}">
				          <label for="className" id="className-label" th:text="#{tb.user.item.className}"></label>
				        </div>
				      </div>
				      <div class="row">
				        <div class="input-field col s12">
				          <input id="value" type="password" name="value" autocomplete="off">
				          <label for="value" id="value-label" th:attr="data-success=#{validate.right},data-error=#{validate.password.wrong},data-cache=#{validate.password.wrong}" th:text="#{tb.user.item.origPassword}"></label>
				        </div>
				      </div>
				      <div class="row">
				        <div class="input-field col s12">
				          <input id="newPassword" type="password" name="password" autocomplete="off">
				          <label for="newPassword" id="newPassword-label" th:attr="data-success=#{validate.right},data-error=#{validate.password.wrong},data-cache=#{validate.password.wrong}" th:text="#{tb.user.item.newPassword}"></label>
				        </div>
				      </div>
				      <div class="row">
				        <div class="input-field col s12">
				          <input id="confirmPassword" type="password" name="confirmPassword" autocomplete="off">
				          <label for="confirmPassword" id="confirmPassword-label" th:attr="data-success=#{validate.right},data-error=#{validate.password.wrong},data-cache=#{validate.password.wrong}" th:text="#{tb.user.item.confirmNewPassword}"></label>
				        </div>
				      </div>
				    </form>
				  </div>
				</div>
			</section>
		</div>
		<form th:replace="~{form :: gform}"></form>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>
</html>
