<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{},~{::style},~{::[//script[@data-info="th"]]})'>
    <title th:text="#{${titleName}}"></title>
    <style>
        body {
            margin: 0;
        }
        canvas {
            width: 100%;
            height: 100%;
        }
        #ccc {
            margin: 1px;
            padding: 0px;
        }
    </style>
    <script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div th:replace="~{header :: head}"></div>
    <div id="main" class="main-full">
        <div class="wrapper">
            <div th:replace="~{laside :: nav}"></div>
            <section id="content" class="section-content">
                <div th:replace="~{breadcrumbs :: crumbs}"></div>
                <div class="wrapper content-wrapper edit-wrapper" style="overflow: scroll;">

                    <div class="row">
                        <div class="col s4 m4">
                            <select disabled th:if="${departmentSelector!=null}" id="levelTop" class="level-select browser-default">
                                <option th:each="item : ${departmentSelector.data}" th:value="${item.value}" th:text="${item.text}" th:attr="data-icon=${item.icon}" class="left circle" th:selected="(${item.value} == ${departmentSelector.selectedKey})"> </option>
                            </select>
                        </div>
                        <div class="col s4 m4">
                            <select disabled th:if="${disciplineSelector!=null}" id="levelSecond" class="level-select browser-default">
                                <option th:each="item : ${disciplineSelector.data}" th:value="${item.value}" th:text="${item.text}" th:attr="data-icon=${item.icon}" class="left circle" th:selected="(${item.value} == ${disciplineSelector.selectedKey})"> </option>
                            </select>
                        </div>
                        <div class="col s4 m4">
                            <select disabled th:if="${classSelector!=null}" id="levelThird" class="level-select browser-default">
                                <option th:each="item : ${classSelector.data}" th:value="${item.value}" th:text="${item.text}" th:attr="data-icon=${item.icon}" class="left circle" th:selected="(${item.value} == ${classSelector.selectedKey})"> </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m12 s12 l12">
                            <input disabled value="I am not editable" id="disabled" type="text" class="validate" th:value="${data.username}" />
                            <label for="disabled" th:text="#{tb.user.item.username}"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m12 s12 l12">
                            <input disabled value="I am not editable" id="name" type="text" class="validate" th:value="${data.name}" />
                            <label for="name" th:text="#{tb.user.item.name}"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m12 s12 l12">
                            <input disabled value="I am not editable" id="age" type="text" class="validate" th:value="${data.age}" />
                            <label for="age" th:text="#{tb.user.item.age}"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m12 s12 l12">
                            <input disabled id="telephone" type="text" name="telephone" th:value="${data.telephone}">
                            <label for="telephone" id="telephone-label" th:attr="data-success=#{validate.right},data-error=#{validate.telephone.wrong},data-cache=#{validate.telephone.wrong}" th:text="#{tb.user.item.telephone}"></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col m12 s12 l12">
                            <input disabled id="email" type="text" name="email" th:value="${data.email}">
                            <label for="email" id="email-label" th:attr="data-success=#{validate.right},data-error=#{validate.email.wrong},data-cache=#{validate.email.wrong}" th:text="#{tb.user.item.email}"></label>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <form th:replace="~{form :: gform}"></form>
    </div>
    <div th:replace="~{footer :: copy}"></div>
    <script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
    <script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        $("a[data-id]").click(function() {
            var bd = {
                "pid": $(this).data("id") + ""
            };
            let pson = pro.ps(bd);
            window.location.href = "/edunotice/downlood?k=" + pson.k;
        });
    });
    /*]]>*/
</script>

</html>