<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/lib/prism.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/custom/icons.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<style>
html, body {
  height: 100%;
}
body {
  background-color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}
#blocklyDiv {
  float: right;
  height: 95%;
  width: 70%;
}
#importExport {
  font-family: monospace;
}

body {
	margin: 0;
}
canvas {
	width: 100%;
	height: 100%;
}
#ccc {
	margin: 1px;
	padding: 0px;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/xblockly/blockly_c.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/xblockly/blocks_c.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/xblockly/python_c.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/third/FileSaver.min.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="#{blockly.msg.js(${#servletContext.getAttribute('dnstatic')},${#servletContext.getAttribute('vstatic')})}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/prism.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/python_main.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/dap.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<form th:object="${data}" id="form-edit" th:attr="data-id=*{courseUid}"></form>
	<form th:replace="~{form :: gform}"></form>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
			<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="container" id="workspace" th:object="${data}" data-action="apdate" data-faction="flash" data-caction="complete"  data-haction="history" th:attr="data-id=*{courseUid},data-cid=*{courseId},data-xml=*{courseBlockly}">
					<div id="blocklyDiv" style="position: absolute"></div>
				</div>
				<div class="container fixedcode card" >
					<div class="card-content">
						<div class="card-title" style="border-bottom: 1px solid rgba(160, 160, 160, 0.2)">
						Python
						</div>
						<pre><code id="code" class="language-python" th:text="${data.blocklyCode}"></code></pre>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div th:replace="~{footer :: copy}"></div>

</body>
<div style="display:none" th:utext="${course.blocklyToolbox}">
</div>
<div id="firmware" style="display: none;" th:attr="data-src=@{${#servletContext.getAttribute('dnstatic') + '/js/microbit.js' + #servletContext.getAttribute('vstatic')}}">
</div>
<script th:inline="javascript">
/*<![CDATA[*/
	
$(document).ready(function() {
	
	
	Blockly.HSV_SATURATION = 0.79;
    Blockly.HSV_VALUE = 0.71;
    var toolboxText = document.getElementById('toolbox').outerHTML;
    toolboxText = toolboxText.replace(/(^|[^%]){(\w+)}/g,
            function(m, p1, p2) {
                return p1 + Blockly.Msg[p2.toUpperCase()];
            });
    var toolboxXml = Blockly.Xml.textToDom(toolboxText);
    var options={
    		  "toolbox": toolboxXml,
    		  "trashcan": true,
    	      "scrollbars" : true, 
    		  "comments": true,
    		  "grid": {
    		    "spacing": 20,
    		    "length": 30,
    		    "colour": "#eee",
    		    "snap": false
    		  },
    		  "zoom": {
    		    "controls": true,
    		    "wheel": true,
    		    "startScale": 1,
    		    "maxScale": 2,
    		    "minScale": 0.01,
    		    "scaleSpeed": 1.2
    		  },
    		    "media": /*[[${#servletContext.getAttribute('dnstatic') + '/xblockly/media/'}]]*/ "/xblockly/media/"
    		    ,"toolboxOptions": {
    		    "border": true,
    		    "colour": true,
    		    "inverted": true,
    		    "invertedMultiplier": 0.3,
    		    "disabledOpacity": 0.4
    		  }
    		};
    var workspacePlayground = Blockly.inject('blocklyDiv', options);
    EDITOR=new pythonEditor(workspacePlayground);
	
	
	
    function myUpdateFunction(event) {
        var code = Blockly.Python.workspaceToCode(workspacePlayground);
        $("#code").text(code);
        Prism.highlightElement($("#code")[0]);
    }
    workspacePlayground.addChangeListener(myUpdateFunction);
    var resize = function() {
    	let ww = window.innerWidth - STEPIOT.size.nav.width - 2;
    	let codewidth=0;
    	var codedisplay=$(".fixedcode").css("display");
    	if(codedisplay!='none'){
    		codewidth=$(".fixedcode").width()+20;
    		ww = ww - codewidth -5 ;
    	}
        let hh = window.innerHeight - STEPIOT.size.top.height - 50 - STEPIOT.size.bottom.height - 2;
        $(".fixedcode").height(hh-8);
        $("#workspace").width(ww);
        $("#workspace").height(hh);
        $("#blocklyDiv").offset({
            top: (STEPIOT.size.top.height + 50),
            left: (STEPIOT.size.nav.width + 2)
        });
        $("#blocklyDiv").width(ww);
        $("#blocklyDiv").height(hh);
        $(".fixedcode").offset({
            top: (STEPIOT.size.top.height + 50)+4,
            left: window.innerWidth - codewidth 
        });
        
        Blockly.svgResize(workspacePlayground);
    }
    STEPIOT.updateWorkspaceSize(resize);
    
    function _download(firmware){
    	try {
            var output = EDITOR.getMicrobitHex(firmware);
        } catch(e) {
            return;
        }
        var ua = navigator.userAgent.toLowerCase();
        if((ua.indexOf('safari/') > -1) && (ua.indexOf('chrome') == -1)) {
            window.open('data:application/octet;charset=utf-8,' + encodeURIComponent(output), '_newtab');
        } else {
            var filename = "Microbit".replace(" ", "_");
            var blob = new Blob([output], {type: "application/octet-stream"});
            //support WebUSB
            if(STEPIOT.getChromeVersion()&&STEPIOT.getChromeVersion()>=61){
            	navigator.usb.requestDevice({
                    filters: [{vendorId: 0xD28}]
                })
                .then(device => update(blob,device))
                .catch(error => {
                	console.log(error);
                	saveAs(blob, filename + ".hex");
                });
            }else{
            	saveAs(blob, filename + ".hex");
            }
        }
    }
    function update(blob,device) {
    	let buffer=null;
    	const reader = new FileReader();
        reader.onloadend = function(evt) {
            buffer = evt.target.result;
            const transport = new DAPjs.WebUSB(device);
            const target = new DAPjs.DAPLink(transport);
            target.on(DAPjs.DAPLink.EVENT_PROGRESS, progress => {
            });
            return target.connect()
            .then(() => {
                return target.flash(buffer);
            })
            .then(() => {
                return target.disconnect();
            })
            .then(() => {
            })
            .catch(error => {
            	console.log(error);
            });
        }
        reader.readAsArrayBuffer(blob);
    }
    function doDownload() {
    	var firmware=null;
    	if(pro.storageAvailable('localStorage')){
    		var firmkey='mbit'+/*[[${#servletContext.getAttribute('version')}]]*/'';
    		var mbithex = localStorage.getItem(firmkey);
    		if(mbithex){
    			_download(mbithex);
    		}else{
    			localStorage.clear();
    			$.getScript($("#firmware").data("src"), function(data,textStatus,jqxhr ) {
    			  localStorage.setItem(firmkey, mbit.firmware);
   				  _download(mbit.firmware);
   				});
    		}
    	}else{
    		doDownhex();
    	}
    }
    var doComplete=function(){
		let _pson=pro.ps({"pid":($("#workspace").data("id")+""),"courseId":$("#workspace").data("cid")});
		var _action=$("#workspace").data("caction");
		$.post(_action, _pson, function(data) {
			var msg = pro.sp(data);
			if (msg.statusCode == 200) {
				if(msg.message&&msg.message!=null){
					Materialize.toast('<i class="material-icons">settings_input_antenna</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded success');
				}
			}else{
				Materialize.toast('<i class="material-icons">settings_input_antenna</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
			}
		}, "json");
    }
    $("#btn-complete").bind("click",doComplete);
    function doSave() {
        var output = EDITOR.getCode();
        var ua = navigator.userAgent.toLowerCase();
        if((ua.indexOf('safari/') > -1) && (ua.indexOf('chrome') == -1)) {
            window.open('data:application/octet;charset=utf-8,' + encodeURIComponent(output), '_newtab');
        } else {
            var filename = "Microbit".replace(" ", "_");
            var blob = new Blob([output], {type: "text/plain"});
            saveAs(blob, filename + ".py");
        }
    }
    //from cloud
    function doDownhex(){
    	var _xml = Blockly.Xml.domToText(Blockly.Xml.workspaceToDom(workspacePlayground));
		var _code = Blockly.Python.workspaceToCode(workspacePlayground);
		var _pson=pro.ps({"pid":($("#workspace").data("id")+""),"blocklyXml":_xml,"blocklyCode":_code});
		$("#gform input[name=k]").val(_pson.k);
		$("#gform").attr("action",/*[[@{${baseUri + "/download"}}]]*/ "/mycourse/edit");
		$("#gform").submit();
    }
    $("#btn-download").bind("click",doDownload);
    $("#btn-downhex").bind("click",doDownload);
    var showhideCode=function(){
    	$(".fixedcode").toggle();
    	STEPIOT.updateWorkspaceSize(resize);
    }
    var doShare=function(){
    	var _xml = Blockly.Xml.domToText(Blockly.Xml.workspaceToDom(workspacePlayground));
		let _pson=pro.ps({"blocklyXml":_xml});
		var _action=$("#workspace").data("saction");
		$.post(_action, _pson, function(data) {
			var msg = pro.sp(data);
			if (msg.statusCode == 200) {
				if(msg.message&&msg.message!=null){
					 $('#wikiModal .modal-content p').html(window.location.origin+"/codemicrobit?key="+msg.message);
				     $('#wikiModal').modal('open');
				}
			}else{
				Materialize.toast('<i class="material-icons">settings_input_antenna</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
			}
		}, "json");
    }
    $("#btn-share").bind("click",doShare);
    $("#btn-history").bind("click",function(){
    	let _pson=pro.ps({"pid":($("#workspace").data("id")+"")});
    	let ids=[];
		ids.push($("#workspace").data("id")+"");
		let x={"id": ids};
		let pson=pro.ps(x);
		$("#gform input[name=k]").val(pson.k);
		$("#gform").attr("action",/*[[@{${baseUri + "/history"}}]]*/ "/mycourse/edit");
		$("#gform").submit();
    });
    $("#btn-code").bind("click",showhideCode);
    var xml_text = $("#workspace").data("xml");
    if(xml_text){
    	Blockly.Xml.domToWorkspace(Blockly.Xml.textToDom(xml_text), workspacePlayground);
    }
    workspacePlayground.zoomToFit();
    $('.modal').modal();
});
/*]]>*/
</script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</html>
