<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<style>
body {
	margin: 0;
}
canvas {
	width: 100%;
	height: 100%;
}
#ccc {
	margin: 1px;
	padding: 0px;
}
.card-aiedu {
    min-height: 280px;
    background-size: cover !important;
    background-position: bottom !important;
    background-repeat: no-repeat !important;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
			<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="wrapper content-wrapper" style="overflow: scroll;">
			<div class="row">
			<div class="col s12 m3 l3" th:each="item : ${data}">
				<div class="card hoverable tooltipped" th:id="${item.courseId}" data-position="bottom" data-delay="5" th:attr="data-status=${item.courseStatus},data-uid=${item.courseUid},data-courseid=${item.courseId},data-tooltip=${item.courseName}">
                        <div class="card-image card-course card-aiedu waves-effect waves-block waves-green" th:style="'background:url(' + @{${#servletContext.getAttribute('devestatic') + item.courseImage + #servletContext.getAttribute('vstatic')}} + ');'">
                        </div>
                        <div class="card-content card-content-top-border">
                          <a href="JavaScript:void(0);" class="card-title blue-grey-text text-ellipsis">
                            <div class="card-title-div-inline" th:text="${item.courseName}"></div>
                            <i class="material-icons right"></i>
                          </a>
                        </div>
                  </div>
			</div>
			</div>
			<ul th:replace="${pagination == null} ? ~{} : ~{pagination :: pagination}"></ul>
            </div>
			</section>
			<form th:replace="~{form :: gform}"></div>
		</div>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/list.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>
<script th:inline="javascript">
/*<![CDATA[*/

	$(document).ready(function() {
		$(".card").each(function(){
			if($(this).data("uid")){
				$(this).find("img").removeClass("card-image-disable");
				if($(this).data("status")==1){// 待下发
					$(this).find(".card-content").find(".card-title").removeClass("grey-text text-darken-2");
					//$(this).addClass("card-active");
				}else if($(this).data("status")==2){//已下发
					$(this).find(".card-content").find(".card-title").removeClass("grey-text text-darken-2");
				}else if($(this).data("status")==3){//已完成
					$(this).find(".card-content").addClass("teal accent-1");
					$(this).find(".card-content").find(".card-title").removeClass("grey-text text-darken-2").addClass("teal-text text-darken-1");
				}else{
					$(this).find(".card-content").find(".material-icons").text("");
					$(this).find(".card-content").find(".card-title").removeClass("grey-text text-darken-2");
				}
			}else{
				if(($(this).data("id")=='1') && ($(this).data("status")==0)){
					//$(this).find(".card-content").addClass("gradient-45deg-amber-amber");
				}
				$(this).find(".card-content").find(".card-title").removeClass("text-darken-2").addClass("text-lighten-1");
			}
		});
		$( "div[data-uid]" ).click(function() {
			if(!$(this).data("uid")){
				return;
			}
			
			let ids=[];
			ids.push($(this).data("uid"));
			let pson=pro.ps({"id": ids,"courseId":$(this).data("courseid")});
			$("#gform input[name=k]").val(pson.k);
			$("#gform").attr("action",/*[[@{${baseUri + "/edit"}}]]*/ "/iotproject/edit");
			$("#gform").submit();
		});
		
		
		
	});
	/*]]>*/
</script>
</html>
