<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/lib/prism.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/js/highlight/styles/googlecode.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<style>
body {
	margin: 0;
}

canvas {
	width: 100%;
	height: 100%;
}

#ccc {
	margin: 1px;
	padding: 0px;
}
.mdeditor{
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 12px;
    resize: none;
    margin-top: 5px;
    padding: 0.6em;
    border: 1px solid #ccc;
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
}
.mdiv{
 flex-basis: 50%;display: flex;flex-direction: column;min-width: 50%;
 }
.mdown{
 flex-basis: 50%;display: flex;flex-direction: column;min-width: 50%;
 }

.markdownpre {
    background-color: #f0f0f0;
    border-radius: 5px;
    line-height: 1.45;
    padding: 20px;
}
#markdown code:not([class]), #markdown code[class=""]{
	padding: .2em .4em;
    margin: 0em 0.5em;
    font-size: 85%;
    background-color: #4285f4;
    border-radius: 4px;
    color: white;
}
#markdown{
line-height: 170%;
}
#markdown img{
  filter: drop-shadow(rgb(153, 153, 153) 5px 5px 5px);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}
pre{
      overflow: initial;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/prism.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/marked.min.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/highlight/highlight.min.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<form th:replace="~{form :: gform}"></form>
	<!-- Start Page Loading -->
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
				<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="container">
					<div class="wrapper content-wrapper"
						style="overflow: scroll;">
						<div id="chips" class="section">
							<div class="row" style="display: flex;">
								<div class="col mdiv" style="scroll-behavior: smooth;height: 1024px;overflow: scroll;">
									<textarea id="mdeditor" class="mdeditor" th:text="${data.wikiBody}"></textarea>
								</div>
								<div class="col mdown" id="markdown" style="height: 1024px;scroll-behavior: smooth;overflow: scroll;">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	
	<form>
	<input type="hidden" id="wikiId" th:value="${data.wikiId}">
	</form>
</body>
<script th:inline="javascript">
/*<![CDATA[*/
	$(document).ready(function() {
		
		 marked.setOptions({
			  renderer: new marked.Renderer(),
			  highlight: function(code,lang,callback) {
				  console.log(lang);
				  console.log(callback);
			    return hljs.highlightAuto(code).value;
			  },
			  pedantic: false,
			  gfm: true,
			  breaks: false,
			  sanitize: false,
			  smartLists: true,
			  smartypants: false,
			  xhtml: false
			});
		 
		 
		 $("#markdown").html(marked(/*[[@{${data.wikiBody}}]]*/ '# Marked in the browser\n\nRendered by **marked**.'));
		 try{var imgs=$("img[alt*='width']");if(imgs&&0<imgs.length)for(var i=0;i<imgs.length;i++)$(imgs[i]).css(JSON.parse($(imgs[i]).attr("alt")))}catch(a){};
		 $("[class|='language']").parent().addClass("markdownpre");
		 $("#markdown").find("table").addClass("pure-table pure-table-bordered");
		 var mdeditor=$("#mdeditor");
		 var handleInput = function (){
			 $("#markdown").html(marked(this.value));
			 $("#markdown").find("table").addClass("pure-table pure-table-bordered");
			 $("[class|='language']").parent().addClass("markdownpre");
			 try{var imgs=$("img[alt*='width']");if(imgs&&0<imgs.length)for(var i=0;i<imgs.length;i++)$(imgs[i]).css(JSON.parse($(imgs[i]).attr("alt")))}catch(a){};
		 }
		 
		 mdeditor.bind('change', handleInput);
		 mdeditor.bind('keyup', handleInput);
		 mdeditor.bind('keypress', handleInput);
		 mdeditor.bind('keydown', handleInput);
		 
		 $("#btn-save").bind("click",function(){
			 let ids=[];
			 ids.push($("#wikiId").val()+'');
			 let _pson = pro.ps({"id": ids,"value":mdeditor.val()});
	        $.post("/eduwiki/apdate", _pson, function(data) {
	            var msg = pro.sp(data);
	            if (msg.statusCode == 200) {
	                if (msg.message && msg.message != null) {
	                    Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded success');
	                }

	            } else {
	                Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
	            }
	        }, "json");
		 });
	});
	/*]]>*/
</script>

</html>
