<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="crumbs" id="breadcrumbs-wrapper" class="breadcrumbs-fixed">
		<div class="container">
			<script type="text/javascript" th:inline="javascript">
			/*<![CDATA[*/
			 $(document).ready(function() {
					$('.modal').modal();
					 var areYouSure = function(fun) {
						$("#modal-confirm-btn").bind("click",fun);
						return function(fun){
						 $('#confirmModal').modal('open');
						}
		             }
				});
			 /*]]>*/
			</script>
			<div class="row breadcrumbs-row">
				<div class="col s4 m4 l4">
						<i class="breadcrumbs-icon left mdi" th:classappend="${bcb.subjectIcon}"></i>
					    <h3 class="breadcrumbs" >
							<a th:href="${baseUri}" th:text="#{${bcb.subject}}"></a>
							<div th:if="${bcb.item !=''}" style="display: inline-block;margin-left:3px;">
								<i class="left mdi mdi-chevron-right"></i>
								<span th:text="${bcb.item}" style="position: relative;left:-12px;font-size: 14px;font-size: 14px;"></span>
							</div>
							<div th:if="${bcb.subitem !=''}" style="display: inline-block;margin-left:-10px;">
								<i class="left mdi mdi-chevron-right"></i>
								<span th:text="${bcb.subitem}" style="position: relative;left:-12px;font-size: 14px;"></span>
							</div>
						</h3>
					</a>
				</div>
				<div class="col s2 m2 l2" style="height: 48px;">
				<div th:if="${bcb.levels!=null}" class="breadcrumbs-pagination left">
					<ul class="pagination">
					    <li th:each="level : ${bcb.levels}" th:classappend="${level.active}? 'active' : 'waves-effect'">
							<a class="pagination-page level-btn" data-type="nomal" th:attr="data-pnum=${level.level}" th:text="${level.page}" href="JavaScript:void(0);">...</a>
					    </li>
				  		<li th:if="${bcb.openlevels!=null}" th:each="open : ${bcb.openlevels}" th:classappend="${open.active}? 'active' : 'waves-effect'">
				  		
						<a class="pagination-page level-btn" data-type="open" th:attr="data-pnum=${open.level}" th:text="${open.page}" href="JavaScript:void(0);">...</a>
				  	</li>
					</ul>
					<script type="text/javascript" th:inline="javascript">
						/*<![CDATA[*/
							$(document).ready(function() {
							$(".level-btn").bind("click",function(){
								if(window["toLevel"]){
									toLevel($(this).data("pnum"),$(this).data("type"));
								}
							});
							});
						 /*]]>*/
						</script>
				  </div>
				</div>
				<div class="col s6 m6 l6" style="height: 48px;">
					<a th:if="${bcb.previous}" th:href="@{${'/pythoncourse/edit?k=' + previousLink }}" data-position="bottom" data-delay="50" th:attr="data-tooltip=#{button.tooltip.previous}" class="tooltipped waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left" id="btn-previous">
						<i class="breadcrumbs-btn-icon mdi mdi-skip-previous"></i>
					</a>
		  			<a th:if="${bcb.next}" th:href="@{${'/pythoncourse/edit?k=' + nextLink }}" data-position="bottom" data-delay="50" th:attr="data-tooltip=#{button.tooltip.next}" class="tooltipped waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left" id="btn-next">
						<i class="breadcrumbs-btn-icon mdi mdi-skip-next"></i>
					</a>
					<a th:if="${bcb.back}" th:attr="data-backtourl=${bcb.backToUrl}"  class="waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left" id="btn-back">
						<i class="icon-left left breadcrumbs-btn-icon mdi mdi-chevron-left"></i>
						<span th:text="#{button.back}">Back</span>
						<script type="text/javascript" th:inline="javascript">
						/*<![CDATA[*/
							$(document).ready(function() {
							$("#btn-back").bind("click",function(){
								window.location.href=$("#btn-back").data("backtourl");
							});
							});
						 /*]]>*/
						</script>
					</a>
					<a th:if="${bcb.add}" class="waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left " id="btn-add">
						<i class="icon-left left breadcrumbs-btn-icon mdi mdi-plus-box"></i>
						<span th:text="#{button.create}">Create</span> 
						<script type="text/javascript" th:inline="javascript">
						/*<![CDATA[*/
							$(document).ready(function() {
							$("#btn-add").bind("click",function(){
							    window.location.href = /*[[@{${baseUri + "/add"}}]]*/;
							});
							});
						 /*]]>*/
						</script>
					</a> 
					<a th:if="${bcb.update}"  class="waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left disabled" id="btn-update">
						<i class="icon-left left breadcrumbs-btn-icon mdi mdi-cloud-upload"></i>
						<span th:text="#{button.update}">Update</span>
						<script type="text/javascript">
						$(document).ready(function() {
							formUtils.bindBtnToForm($("#btn-update"),"click",$("#form-edit"),(function(){}));
						});
						</script>
					</a> 
					<a th:if="${bcb.edit}"  class="waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left disabled" id="btn-edit">
						<i class="icon-left left breadcrumbs-btn-icon mdi mdi-circle-edit-outline"></i>
						<span th:text="#{button.edit}">Edit</span>
						<script type="text/javascript" th:inline="javascript">
						    /*<![CDATA[*/
						    	$(document).ready(function() {
							$("#btn-edit").bind("click",function(){
								if($('input[type="checkbox"].item-checkbox').filter(":checked").length!=1){
									console.log("error");
									return;
								}
								let ids=[];
								ids.push($('input[type="checkbox"].item-checkbox').filter(":checked").toArray()[0].dataset.id+"");
								event.preventDefault();
								event.stopImmediatePropagation();
								let pson=pro.ps({"id": ids});
								$("#gform input[name=k]").val(pson.k);
								$("#gform").attr("action",/*[[@{${baseUri + "/edit"}}]]*/ "/iotproject/edit");
								$("#gform").submit();
							});
						    	});
							/*]]>*/
						</script>
					</a>	
					<a th:if="${bcb.delist}"  class="waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin right disabled" id="btn-delist">
						<i class="icon-left left breadcrumbs-btn-icon mdi mdi-delete"></i>
						<span th:text="#{button.delete}">Delete</span>
						<script type="text/javascript" th:inline="javascript">
						/*<![CDATA[*/
							$(document).ready(function() {
							var delfunction=function(){
								event.preventDefault();
								event.stopImmediatePropagation();
								if($('input[type="checkbox"].item-checkbox').length<1){
									console.log("error");
									return;
								}
								let ids=[];
								let ele=$('input[type="checkbox"].item-checkbox').filter(":checked").toArray();
								ele.forEach(function(element){
									ids.push($(element).data("id")+"");
								});
								let pson=pro.ps({"id": ids});
								console.log(ids);
								$("#gform input[name=k]").val(pson.k);
								$("#gform").attr("action",/*[[@{${baseUri + "/delete"}}]]*/ "/iotproject/edit");
								$("#gform").submit();
							}
							$("#btn-delist").bind("click",areYouSure(delfunction));
							});
						 /*]]>*/
						</script>
					</a>
					<a th:if="${bcb.delen}"  class="waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin right" id="btn-delen">
						<i class="icon-left left breadcrumbs-btn-icon mdi mdi-delete"></i>
						<span th:text="#{button.delete}">Delete</span>
						<script type="text/javascript" th:inline="javascript">
						/*<![CDATA[*/
							$(document).ready(function() {
							let delenfunction=function(){
								$(this).addClass("disabled");
								let pson=pro.ps({"pid":($("#form-edit").data("id")+"")});
								$("#gform input[name=k]").val(pson.k);
								$("#gform").attr("action",/*[[@{${baseUri + "/delen"}}]]*/ "/iotproject/delen");
								$("#gform").submit();
							}
							$("#btn-delen").bind("click",areYouSure(delenfunction));
							});
						 /*]]>*/
						</script>
					</a>
					<a th:if="${bcb.setToDefault}" data-position="bottom" data-delay="50" th:attr="data-tooltip=#{button.tooltip.reset}" class="tooltipped waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left" id="btn-setToDefault">
						<i class="breadcrumbs-btn-icon mdi mdi-cog-counterclockwise"></i>
						<script type="text/javascript">
						$(document).ready(function() {
							$("#btn-setToDefault").bind("click",function(){
								if(window['reset'] && typeof window['reset'] === "function"){
									window.reset();
								}
							});
						});
						</script>
					</a>
					<a th:if="${bcb.markAsRead}"  class="waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin right" id="btn-markAsRead">
						<i class="icon-left left breadcrumbs-btn-icon mdi mdi-email-variant"></i>
						<span th:text="#{button.markAsRead}">Mark As Read</span>
					</a>
					<a th:if="${bcb.sove}"  class="waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left disabled" id="btn-sove">
						<i class="icon-left left breadcrumbs-btn-icon mdi mdi-cloud-upload"></i>
						<span th:text="#{button.sove}">Save</span>
						<script type="text/javascript">
						$(document).ready(function() {
							formUtils.bindBtnToForm($("#btn-sove"),"click",$("#form-add"),(function(){}));
						});
						</script>
					</a>
					<a th:if="${bcb.save}"  class="waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left" id="btn-save">
						<i class="icon-left left breadcrumbs-btn-icon mdi mdi-cloud-upload"></i>
						<span th:text="#{button.sove}">Save</span>
					</a>
					<a th:if="${bcb.saveblockly}"  class="waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left" id="btn-saveblockly">
						<i class="icon-left left breadcrumbs-btn-icon mdi mdi-cloud-upload"></i>
						<span th:text="#{button.sove}">Save</span>
						<script type="text/javascript" th:inline="javascript">
						/*<![CDATA[*/
							$(document).ready(function() {
								let saveblocklyfun=function(){
									var _xml = Blockly.Xml.domToText(Blockly.Xml.workspaceToDom(Blockly.getMainWorkspace()));
									var _code = Blockly.Python.workspaceToCode(Blockly.getMainWorkspace());
									var _tname=$("#workspace").data("titlename");
									var _tid=$("#workspace").data("id")+"";
									if(!$("#workspace").data("id")){
										_tid="-1";
									}
									if(!_tname){
										_tname=window.prompt('请输入名称');
										if (_tname === null) {
									        return; //break out of the function early
									    }
										while(!_tname){
											_tname=window.prompt('请输入名称');
										}
									}else{
										_tname=window.prompt('请输入名称',_tname);
									}
									let _pson=pro.ps({"pid":_tid,"blocklyXml":_xml,"titleName":_tname,"blocklyCode":_code});
									var _action=$("#workspace").data("action");
									$.post(_action, _pson, function(data) {
										var msg = pro.sp(data);
										if (msg.statusCode == 200) {
											if(msg.message&&msg.message!=null){
												Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded success');
												$("#workspace").data("id",msg.msgMap.blocklyId);
												$("#workspace").data("titlename",msg.msgMap.titleName);
											}
										}else{
											Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
										}
									}, "json");
								}
								$("#btn-saveblockly").bind("click",saveblocklyfun);
							});
						 /*]]>*/
						</script>
					</a>
					<a th:if="${bcb.doAction}"  class="waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left" id="btn-doAction">
						<i class="icon-left left breadcrumbs-btn-icon mdi mdi-robot-industrial"></i>
						<span th:text="#{button.doAction}">动手操作</span>
					</a>
					<a th:if="${bcb.download}"  class="waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left" id="btn-download">
						<i class="icon-left left breadcrumbs-btn-icon mdi mdi-expansion-card"></i>
						<span th:text="#{button.download}">刷写至设备</span>
					</a>
					<a th:if="${bcb.downhex}"  class="waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left" id="btn-downhex">
						<i class="icon-left left breadcrumbs-btn-icon mdi mdi-download"></i>
						<span th:text="#{button.downhex}">下载</span>
					</a>
					<a th:if="${bcb.complete}"  class="waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left" id="btn-complete">
						<i class="icon-left left breadcrumbs-btn-icon mdi mdi-source-commit"></i>
						<span th:text="#{button.complete}">完成</span>
					</a>
					<a th:if="${bcb.history}"  class="waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left" id="btn-history">
						<i class="icon-left left breadcrumbs-btn-icon mdi mdi-history"></i>
						<span th:text="#{button.history}">操作记录</span>
					</a>
					<a th:if="${bcb.upload}"  class="waves-effect disabled waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left" id="btn-upload">
						<i class="icon-left left breadcrumbs-btn-icon mdi mdi-cloud-upload"></i> 
						<span th:text="#{button.upload}">上传</span>
					</a>
					<a th:if="${bcb.code}" data-position="bottom" data-delay="50" th:attr="data-tooltip=#{button.tooltip.showhide}" class="tooltipped waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin right wetasphalt" id="btn-code">
						<i class="breadcrumbs-btn-icon mdi mdi-dock-right"></i>
						<script type="text/javascript">
						$(document).ready(function() {
							$("#btn-code").bind("click",function(){
								$(this).find("i").toggleClass("mdi-dock-left").toggleClass("mdi-dock-right");
							});
						});
						</script>
					</a>
					<a th:if="${bcb.pair}"  class="waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin right" id="btn-pair">
						<i id="btn-pair-i" class="icon-left left breadcrumbs-btn-icon mdi mdi-pipe-disconnected"></i>
						<span id="btn-pair-span" th:text="#{button.pair}" th:attr="data-pair=#{button.pair},data-paired=#{button.paired}">设备配对</span>
					</a>
					<a th:if="${bcb.share}"  class="waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left"  id="btn-share">
						<i class="icon-left left breadcrumbs-btn-icon mdi mdi-share-variant"></i>
						<span th:text="#{button.share}">分享</span>
					</a>
					<a th:if="${bcb.speed}" class="dropdown-button waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left" id="btn-speed" data-activates="speeddrop">
						<i class="icon-right right breadcrumbs-btn-icon mdi mdi-chevron-down"></i> 
						<span th:text="#{button.speed}">速度</span>
					</a>
					<a th:if="${bcb.runButton}"  class="waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left" id="runButton">
						<i class="icon-left left breadcrumbs-btn-icon mdi mdi-play"></i> 
						<span th:text="#{button.runButton}">运行</span>
					</a>
					<a th:if="${bcb.resetButton}" style="display:none" class="deep-orange waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left" id="resetButton">
						<i class="icon-left left breadcrumbs-btn-icon mdi mdi-restore"></i> 
						<span th:text="#{button.resetButton}">重置</span>
					</a>
					<a th:if="${bcb.play}" class="greensea waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left" id="btn-play">
						<i class="icon-left left breadcrumbs-btn-icon mdi mdi-youtube-tv"></i> 
						<span th:text="#{button.play}">教程</span>
					</a>
					<a th:if="${bcb.downppt}" class="greensea waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left" id="btn-downppt">
						<i class="icon-left left breadcrumbs-btn-icon mdi mdi-file-powerpoint-box"></i> 
						<span th:text="#{button.downppt}">下载PPT</span>
					</a>
					<a th:if="${bcb.send}"  class="waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left" id="btn-send">
						<i class="icon-left left breadcrumbs-btn-icon mdi mdi-send"></i> 
						<span th:text="#{button.send}">发送</span>
					</a>
					<a th:if="${bcb.answer}" class="greensea waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin left" id="btn-answer">
						<i class="icon-left left breadcrumbs-btn-icon mdi mdi-code-braces"></i> 
						<span th:text="#{button.answer}">参考</span>
						<script type="text/javascript">
						$(document).ready(function() {
							$("#btn-answer").bind("click",function(){
								let _outlineId=$("#workspace").data("outlineid");
								let current_level=document.getElementById("current_level").innerText;
						        let _pson = pro.ps({"outlineId":_outlineId,"currentLevel":current_level});
						        $.post("/pythoncourse/answer", _pson, function(data) {
						            var msg = pro.sp(data);
						            if (msg.statusCode == 200) {
						                if (msg.msgMap) {
						                	if(typeof window['feedAnswer'] === 'function'){
						                		window['feedAnswer'](msg.msgMap.answer);
						                	}
						                }
						            }else{
						            	Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
						            }
						        }, "json");
							});
						});
						</script>
					</a>
					<a th:if="${bcb.color}"  class="waves-effect waves-light btn btn-small breadcrumbs-btn breadcrumbs-btn-margin right" id="btn-color">
						<input type="color" value="#f6b73c" style="width: 32px;" id="canvasColor">
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>