<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="注册成功"></title>
<style th:inline="text">
.dbody {
	background-image: url([[@{${#servletContext.getAttribute('dnstatic') + '/images/stem.jpg' + #servletContext.getAttribute('vstatic')}}]]);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
</style>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/layouts/page-center.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
<script type="text/javascript" data-info="th">var STEPIOT;</script>
</head>
<body class="indigo accent-1 dbody">
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div id="login-page" class="row">
		<div class="col s12 z-depth-4 card-panel" style="background-color: #ffffffa6">
			<form class="login-form" th:action="@{/vphone}" method="post" autocomplete="off">
				<div class="row">
					<div class="input-field col s12 center">
					<a href="/">
						<img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/logo/login-logo.png' + #servletContext.getAttribute('vstatic')}}" alt=""
							class="responsive-img valign profile-image-login">
						<p class="center login-form-text" th:text="#{system.verify.phone}">验证您的手机号码</p>
						</a>
					</div>
				</div>
				<div class="row margin">
					<div class="input-field col s12">
						<i class="material-icons prefix pt-5 primary-color">smartphone</i>
						<input id="telephone" disabled name="telephone" type="tel" value="18621215199">
						<label for="telephone" class="center-align" th:text="#{system.telephone}">手机号</label>
					</div>
				</div>
				<div class="row margin">
					<div class="input-field col s12">
						<i class="material-icons prefix pt-5 primary-color">code</i>
						<input id="vcode" class="validate" name="vcode" type="number" autocomplete="nope" 
           pattern="[0-9]{6}" min="0000000" max="999999" required>
						<label for="vcode" class="center-align" th:text="#{system.enter.verification.code}">输入验证码</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
					<input type="submit" class="btn waves-effect waves-light col s12" th:value="#{system.next}" />
					</div>
				</div>
				<div class="row">
					<div class="input-field col s4 m4 l4">
						<p class="margin left-align medium-small">
							<a th:href="@{/login}" th:text="#{system.back}">后退</a>
						</p>
					</div>
					<div class="input-field col s4 m4 l4">
						<p class="margin center-align medium-small">
							<a th:href="@{/}" th:inline="text">
							<i class="mdi mdi-home"></i>[[#{system.homepage}]]
							</a>
						</p>
					</div>
					<div class="input-field col s4 m4 l4">
						<p class="margin right-align medium-small">
							<a th:href="@{/login}" th:text="#{system.login.instead}">登录现有帐号</a>
						</p>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>
</html>