<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
  <title th:text="#{title.signup.done}"></title>
<style th:inline="text">
.dbody {
	background-image: url([[@{${#servletContext.getAttribute('dnstatic') + '/images/stem.jpg' + #servletContext.getAttribute('vstatic')}}]]);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
</style>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/layouts/page-center.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
<script type="text/javascript" data-info="th">var STEPIOT;</script>
</head>
<body class="indigo accent-1 dbody">
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div id="login-page" class="row">
		<div class="col s12 z-depth-4 card-panel" style="background-color: #ffffffa6">
			<form class="login-form" th:action="@{/}" method="get" th:object="${data}" autocomplete="off">
				<div class="row">
					<div class="input-field col center s12">
					<i class="material-icons pt-5 primary-color font-size-8rem">cloud_done</i>
					<p class="center login-form-text" th:text="#{system.signup.congratulations}">恭喜</p>
					<p class="center reg-done" th:utext="#{system.signup.done(*{username})}">帐号注册完成</p>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
					<input type="submit" class="btn waves-effect waves-light col s12" th:value="#{system.login.now}" />
					</div>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>
</html>