<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <header th:fragment="head" id="header" class="page-topbar">
        <div id="confirmModal" class="modal">
            <div class="modal-content">
                <h5 th:text="#{modal.confirm.title}">...</h5>
                <p th:text="#{modal.confirm.body}"></p>
            </div>
            <div class="modal-footer">
                <button id="modal-confirm-btn" class="btn waves-effect waves-light modal-action" th:inline="text">
                    [[#{button.ok}]]<i class="material-icons left">done</i>
                </button>
                <button id="modal-cancel-btn" class="btn waves-effect waves-light modal-action modal-close" th:inline="text">
                    [[#{button.cancel}]]<i class="material-icons left">cancel</i>
                </button>
            </div>
        </div>
        <div class="navbar-fixed">
            <nav class="navbar-color gradient-shadow">
                <div class="nav-wrapper">
                    <span th:text="${#servletContext.getAttribute('sysname')}" class="head-title">我爱编程平台</span>
                    <div class="hide-on-med-and-down sideNav-lock">
                    </div>
                    <ul class="right hide-on-med-and-down right-menu">
                        <li>
                            <a href="/" class="tooltipped waves-effect waves-block waves-light" data-tooltip="首页">
                                <i class="mdi mdi-home"></i>
                            </a>
                        </li>
                        <li id="news" sec:authorize="isAuthenticated()">
                            <a href="javascript:void(0);" style="padding-right: 0px;" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown">
                                <i class="mdi mdi-bell">
                    				<small class="notification-badge totalUnreaded" style="margin: unset;font-size: 0.7rem;    background-color: #ff3c30;    color: #fff;top: -20px;    right: 12px;">...</small>
                  				</i>
                            </a>
                            <ul id="notifications-dropdown" class="dropdown-content" style="white-space: nowrap; opacity: 1; left: 945.906px; position: absolute; top: 64px; display: none;width: 240px;">
                                <li>
                                    <h6>最新消息<span class="new badge totalUnreaded">...</span></h6>
                                </li>
                                <li class="divider" id="placeholder"></li>
                            </ul>
                            <script type="text/javascript">
                        $(document).ready(function() {
                        	$(".totalUnreaded").click(function(){
                    	    	window.location.href="/edunotice";
                        	});
                        	(function(){
                        		let getNotice=function(){
                            		let _pson = pro.ps({"id":Math.random()+""});
                            		$.post('/edunotice/countNews', _pson, function(data) {
                                        var msg = pro.sp(data);
                                        if (msg.statusCode == 200) {
                                            if (msg.msgMap) {
                                            	if(msg.msgMap.counts){
                                            		if(msg.msgMap.counts>0){
                                            			$(".totalUnreaded").text(msg.msgMap.counts);
                                            			$("#news").show();
                                            		}else{
                                            			$("#news").hide();
                                            		}
                                            	}
                                            	if(msg.msgMap.news){
                                            		var _html="";
                                            		var _news=JSON.parse(msg.msgMap.news);
                                            		for(var i=0;i<_news.length;i++){
                                            			_html =  _html+'<li class="dynamicNews" data-noticeid="'+_news[i].noticeId+'">'+
                                                            '<a href="#!" class="font-weight-800 grey-text text-darken-2">'+
    	                                                    '<i class="left mdi mdi-bell red-text" style="margin-right:5px;padding-top:5px"></i>'+
    	                                                    '<span>'+_news[i].noticeSubject+'</span></a>'+
    	                                                	'<time class="media-meta" datetime="'+_news[i].createTime+'" style="margin-left:5px;">'+_news[i].createTime+'</time>'+
    	                                            		'</li>';
                                            		}
                                            		$(".dynamicNews").remove();
                                            		$("#placeholder").after(_html);
                                            		$( "li[data-noticeid]" ).click(function() {
                                            			let ids=[];
                                            			ids.push($(this).data("noticeid")+'');
                                            			var bd={"id": ids};
                                            			let pson=pro.ps(bd);
                                            	    	var location="/edunotice/edit";
                                            	    	window.location.href=location+"?k="+pson.k;
                                            		});
                                            	}
                                            }
                                        }
                                    }, "json");
                            	};
                            	getNotice();
                            	setInterval(getNotice,180000);
                        	})();
                        });
                    </script>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button" data-activates="translation-dropdown">
                            <span class="flag-icon" th:classappend="#{flag.icon}"></span>
                            </a>
                            <script type="text/javascript">
		                        $(document).ready(function() {
		                            $(".change-lang").bind("click", function() {
		                                $.get("/noop", {
		                                    lang: $(this).data("lang")
		                                }).done(function(data) {
		                                    window.location.reload(true);
		                                });
		                            });
		                        });
		                    </script>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <a href="javascript:void(0);" class="waves-effect waves-block waves-light profile-button" data-activates="profile-dropdown"> <span class="avatar-status avatar-online"> <img
									th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/avatar/' + sysTheme + '.png' + #servletContext.getAttribute('vstatic')}}"
									alt="avatar"> <i></i>
							</span>
                            </a>
                        </li>
                        <li sec:authorize="!isAuthenticated()">
                            <a href="/login" class="waves-effect waves-block waves-light profile-button">
                                <i class="icon-left left mdi mdi-login"></i>
                                <span th:text="#{system.login}"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/faq" class="tooltipped waves-effect waves-block waves-light" title="FAQ" data-tooltip="常见问答">
                                <i class="mdi mdi-help-network"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/help" class="tooltipped waves-effect waves-block waves-light" title="HELP" data-tooltip="操作手册">
                                <i class="mdi mdi-file-document-box"></i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="tooltipped waves-effect waves-block waves-light toggle-fullscreen" data-tooltip="全屏">
                                <i class="mdi mdi-fullscreen"></i>
                            </a>
                        </li>
                    </ul>
                    <ul id="translation-dropdown" class="dropdown-content">
                        <li>
                            <a href="javascript:void(0);" data-lang="zh" class="grey-text text-darken-1 change-lang"> <i class="flag-icon flag-icon-cn"></i> <span th:text="#{lang.zh}"></span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-lang="en" class="grey-text text-darken-1 change-lang"> <i class="flag-icon flag-icon-us"></i> <span th:text="#{lang.en}"></span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" data-lang="de" class="grey-text text-darken-1 change-lang"> <i class="flag-icon flag-icon-cn"></i> <span th:text="#{lang.zhen}"></span>
                            </a>
                        </li>
                    </ul>
                    <ul id="profile-dropdown" class="dropdown-content">
                        <li>
                            <a th:href="@{/userprofile}" th:inline="text" class="grey-text text-darken-1"> <i class="mdi mdi-face"></i>
                                <span sec:authentication="name">Bob</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/userprofile}" th:inline="text" class="grey-text text-darken-1"> <i class="mdi mdi-account-settings"></i> [[#{account.settings}]]
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a th:href="@{/logout}" th:inline="text" class="grey-text text-darken-1">
                                <i class="mdi mdi-logout"></i> [[#{account.logout}]]
                            </a>
                        </li>
                    </ul>
                    <div th:replace="~{chrome :: checkversion}"></div>
                </div>
            </nav>
        </div>
    </header>
</body>
</html>