<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<head th:fragment="common_head(title,links,styles,scripts)">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#317EFB"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="msapplication-tap-highlight" content="no">
<meta name="description" content="我爱编程平台">
<meta name="keywords" content="">
<!--<title th:text="${#servletContext.getAttribute('sysname')}">我爱编程平台</title>-->
<title>我爱编程平台-重庆八城科技有限公司</title>
<link rel="icon" th:href="@{${#servletContext.getAttribute('dnstatic') + '/images/favicon/favicon.ico' + #servletContext.getAttribute('vstatic')}}" sizes="64x64">
<link rel="apple-touch-icon" th:href="@{${#servletContext.getAttribute('dnstatic') + '/images/favicon/favicon.png' + #servletContext.getAttribute('vstatic')}}">
<meta name="msapplication-TileColor" content="#00bcd4">
<meta name="msapplication-TileImage" th:content="@{${#servletContext.getAttribute('dnstatic') + '/images/favicon/favicon.png' + #servletContext.getAttribute('vstatic')}}">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/' + sysTheme + '/materialize.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/' + sysTheme + '/style.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/' + sysTheme + '/custom/custom.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/vendors/flag-icon/css/flag-icon.min.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/materialdesignicons/materialdesignicons.min.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
<th:block th:replace="${links}" />
<th:block th:replace="${styles}" />
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/jquery-3.3.1.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/materialize.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/protobuf.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/md5.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/core.js' + #servletContext.getAttribute('vstatic')}}"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/main.js' + #servletContext.getAttribute('vstatic')}}"></script>
<th:block th:replace="${scripts}" />
<script src="https://www.googletagmanager.com/gtag/js?id=UA-150078984-1"></script>
<script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'UA-150078984-1');</script>
</head>           
</body></html>