<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<aside th:fragment="nav" id="left-sidebar-nav" class="nav-collapsible nav-collapsed">
		<div class="brand-sidebar">
			<h1 class="logo-wrapper">
				<a href="/" class="brand-logo darken-1">
					<img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/logo/logo.png' + #servletContext.getAttribute('vstatic')}}" alt="materialize logo">
					<span class="logo-text hide-on-med-and-down" th:text="#{system.name}"></span>
				</a>
<!-- 				<a href="#" class="navbar-toggler"> -->
<!-- 					<i class="material-icons">radio_button_checked</i> -->
<!-- 				</a> -->
			</h1>
		</div>
		<ul id="slide-out" class="side-nav fixed leftside-navigation">
			<li class="no-padding">
				<ul class="collapsible" data-collapsible="accordion">
					<li class="bold" th:each="entity : ${menu.item}">
						<a class="collapsible-header waves-effect waves-cyan"
							th:classappend="${entity.active} ? active : ''">
							<i class="mdi" th:classappend="${entity.mdicon}"></i>
							<span class="nav-text" th:text="#{${entity.name}}">首页</span>
						</a>
						<div class="collapsible-body" th:if="${entity!=null && entity.item!=null}">
							<ul>
								<li th:each="subEntity : ${entity.item}" th:classappend="${subEntity.active} ? active : ''" >
									<a th:href="@{${subEntity.link}}" href="index.html">
										<i class="mdi" th:classappend="${subEntity.mdicon}"></i>
										<span th:text="#{${subEntity.name}}">监控面板</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
				</ul>
			</li>
		</ul>
		<a href="#" data-activates="slide-out"
			class="btn-floating btn-medium hide-on-large-only sidebar-collapse waves-effect white">
			<i class="material-icons primary-color-text">menu</i>
		</a>
	</aside>
</body>
</html>