<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
  <title th:text="登录"></title>
<style th:inline="text">
.dbody {
	background-image: url([[@{${#servletContext.getAttribute('dnstatic') + '/images/bg/'+#servletContext.getAttribute('bgimg') + #servletContext.getAttribute('vstatic')}}]]);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
</style>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/layouts/page-center.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
<script type="text/javascript" data-info="th">var STEPIOT;</script>
</head>
<body class="indigo accent-1 dbody" style="position: relative">
	<div id="login-page" class="row" style="width: fit-content">
		<div class="col s12 z-depth-5 card-panel" style="background-color: #ffffffa6">
			<form class="login-form" id="login-form" th:action="@{/login}" method="post">
				<div class="row">
					<div class="input-field col s12 center">
					<a href="/">
						<img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/logo/login-logo.png' + #servletContext.getAttribute('vstatic')}}" alt=""
							class="responsive-img valign profile-image-login">
<!--						<p class="center login-form-text" th:text="#{system.fullname}">我爱编程平台</p>-->
						</a>
					</div>
				</div>
				<div class="row margin">
					<div class="input-field col s12">
						<i class="material-icons prefix pt-5 primary-color">person</i>
						<input id="username" name="username" type="text" autocomplete="on">
						<label for="username" class="center-align" th:text="#{system.username}">用户名</label>
					</div>
				</div>
				<div class="row margin">
					<div class="input-field col s12">
						<i class="material-icons prefix pt-5  primary-color">lock</i>
						<input id="password" name="password" type="password" autocomplete="current-password">
						<label for="password" th:text="#{system.password}">密码</label>
					</div>
				</div>
				<div class="row">
					<div class="col s12 m12 l12 ml-2 mt-3">
						<input type="checkbox" id="remember-me" name="remember-me" />
						<label for="remember-me" th:text="#{system.remember.me}">记住我</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12" id="subut" >
					<input type="submit" href="javascript:void(0)" class="icon-left left mdi mdi-login btn waves-effect waves-light col s12 letter-spacing-10" th:value="#{system.login}" >
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6 m6 l6">
						<p class="margin left-align medium-small">
							<a th:href="@{/}" th:inline="text">
							<i class="mdi mdi-home"></i>[[#{system.homepage}]]
							</a>
						</p>
					</div>
					<div class="input-field col s6 m6 l6">
						<p class="margin right-align medium-small">
							<a th:href="@{/recovery}"  th:text="#{system.forget.password}">.忘记密码 ?</a>
						</p>
					</div>
				</div>
			</form>
			<div th:replace="~{chrome :: checkversion}"></div>
		</div>

		<script type="text/javascript" th:if="${session.LOGINUSERBEAN != null && session.LOGINUSERBEAN.error != null}" th:inline="javascript">
		/*<![CDATA[*/
			$(document).ready(function() {
			Materialize.toast('<i class="material-icons">error</i> &nbsp;&nbsp;' + /*[[${session.LOGINUSERBEAN.error}]]*/, 4096, 'rounded fail');
			});
		 /*]]>*/
		</script>
	</div>
<!--	<footer class="page-footer footer-fixed" style="background-color: unset;padding-left: unset;font-size: smaller">-->
<!--		&copy; <script type="text/javascript">-->
<!--		document.write(new Date().getFullYear());-->
<!--	</script> Bacheng Tech,LLC. All rights reserved. <a class="grey-text text-lighten-4" target="_blank" href="https://beian.miit.gov.cn/">渝ICP备17011253号-3</a>-->
<!--		&nbsp;&nbsp;<a class="grey-text text-lighten-4" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=50009802000834" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/beian.png' + #servletContext.getAttribute('vstatic')}}" lazysrc="" style="float:left;"/>渝公网安备 50009802000834号</a>-->
<!--	</footer>-->
	<div style="left:0;font-size: smaller;bottom: 0;padding-left: unset;position: fixed;text-align: center;width: 100%">
		<span class="grey-text text-lighten-4">
	<script type="text/javascript">
		document.write(new Date().getFullYear());
	</script> Bacheng Tech,LLC. All rights reserved.重庆八城科技有限公司.</span><a class="grey-text text-lighten-4" target="_blank" href="https://beian.miit.gov.cn/">渝ICP备17011253号-3</a>
	&nbsp;&nbsp;<a class="grey-text text-lighten-4" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=50009802000834" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/beian.png' + #servletContext.getAttribute('vstatic')}}" lazysrc="" style="float:left;"/>渝公网安备 50009802000834号</a>
	</div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$("#subut").on("click",function(){
		    $("#login-form").submit();
		});
		$("#mdi_alert_icon").css("top","0px");
		$("#alert_close_but").css("top","0px");

	})
	</script>
</body>
</html>
