<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<ul th:fragment="pagination" class="pagination" id="paginationId" th:attr="data-cache=${pagination.cache}">
		<li th:classappend="${pagination.previous.enabled}? '' : 'disabled'">
			<a th:attr="data-pnum=${pagination.previous.href}" th:class="${pagination.previous.clazz}" href="JavaScript:void(0);">
				<i class="material-icons" th:text="${pagination.previous.icon}">chevron_left</i>
			</a>
		</li>
		<li th:each="item : ${pagination.items}" th:classappend="${item.active}? 'active' : 'waves-effect'">
			<a class="pagination-page" th:attr="data-pnum=${item.href}" th:text="${item.href}" href="JavaScript:void(0);">...</a>
		</li>
		<li th:classappend="${pagination.next.enabled}? '' : 'disabled'">
			<a th:class="${pagination.next.clazz}" th:attr="data-pnum=${pagination.next.href}" href="JavaScript:void(0);">
				<i class="material-icons" th:text="${pagination.next.icon}">chevron_right</i>
			</a>
		</li>
	</ul>
</body>
</html>