<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
  <title th:text="#{title.signup}"></title>
<style th:inline="text">
.dbody {
	background-image: url([[@{${#servletContext.getAttribute('dnstatic') + '/images/stem.jpg' + #servletContext.getAttribute('vstatic')}}]]);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
</style>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/layouts/page-center.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
<script type="text/javascript" data-info="th">var STEPIOT;</script>
</head>
<body class="indigo accent-1 dbody">
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div id="login-page" class="row">
		<div class="col s12 z-depth-4 card-panel" style="background-color: #ffffffa6">
			<form id="signup-form" class="signup-form" th:action="@{/signup}" method="post" autocomplete="off">
				<div class="row">
					<div class="input-field col s12 center">
					<a href="/">
						<img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/logo/login-logo.png' + #servletContext.getAttribute('vstatic')}}" alt=""
							class="responsive-img valign profile-image-login">
						<p class="center login-form-text" th:text="#{system.create.your.accout}">创建您的STEPIOT帐号</p>
						</a>
					</div>
				</div>
				<div class="row margin">
					<div class="input-field col s12">
						<i class="material-icons prefix pt-5 primary-color">person</i>
						<input id="username" class="validate" name="username" type="text" data-length="64" pattern="[A-Za-z0-9_]{6,64}" value="">
						<label for="username" id="username-label" th:attr="data-success=#{validate.right},data-error=#{validate.username.wrong},data-cache=#{validate.username.wrong}" class="center-align" th:text="#{system.username}">用户名</label>
					</div>
				</div>
				<div class="row margin">
					<div class="input-field col s12">
						<i class="material-icons prefix pt-5  primary-color">lock</i>
						<input id="password" class="validate" name="password" type="password" autocomplete="new-password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,64}">
						<label for="password" id="password-label" th:attr="data-success=#{validate.right},data-error=#{validate.password.wrong},data-cache=#{validate.password.wrong}" th:text="#{system.password}">密码</label>
					</div>
				</div>
				<div class="row margin">
					<div class="input-field col s12">
						<i class="material-icons prefix pt-5  primary-color">lock</i>
						<input id="confirmPassword" class="validate" name="confirmPassword" type="password" autocomplete="new-password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,64}">
						<label for="confirmPassword" id="confirmPassword-label" th:attr="data-success=#{validate.right},data-error=#{validate.password.wrong},data-cache=#{validate.password.wrong}" th:text="#{system.confirm.password}">密码</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
					<a class="waves-effect waves-light btn  left  col s12" id="btn-signup" th:text="#{system.next}"></a>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s6 m6 l6">
						<p class="margin center-align medium-small">
							<a th:href="@{/}" th:inline="text">
							<i class="mdi mdi-home"></i>[[#{system.homepage}]]
							</a>
						</p>
					</div>
					<div class="input-field col s6 m6 l6">
						<p class="margin right-align medium-small">
							<a th:href="@{/login}" th:text="#{system.login.instead}">登录现有帐号</a>
						</p>
					</div>
				</div>
				<script type="text/javascript" th:inline="javascript">
				/*<![CDATA[*/
					$(document).ready(function() {
				formUtils.bindBtnToForm($("#btn-signup"),"click",$("#signup-form"),(function(){}));
					});
				/*]]>*/
				</script>
			</form>
		</div>
	</div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>
</html>