<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
  <title th:text="#{title.signup.telephone}">验证手机号</title>
<style th:inline="text">
.dbody {
	background-image: url([[@{${#servletContext.getAttribute('dnstatic') + '/images/stem.jpg' + #servletContext.getAttribute('vstatic')}}]]);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
</style>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/layouts/page-center.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.css' + #servletContext.getAttribute('vstatic')}}" type="text/css" rel="stylesheet">
<script type="text/javascript" data-info="th">var STEPIOT;</script>
</head>
<body class="indigo accent-1 dbody">
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div id="login-page" class="row">
		<div class="col s12 z-depth-4 card-panel" style="background-color: #ffffffa6">
			<form id="form-tphone" class="signup-form" th:action="@{/tphone}" th:object="${data}" method="post" autocomplete="off">
				<div class="row">
					<div class="input-field col s12 center">
					<a href="/">
						<img th:src="@{${#servletContext.getAttribute('dnstatic') + '/images/logo/login-logo.png' + #servletContext.getAttribute('vstatic')}}" alt=""
							class="responsive-img valign profile-image-login">
						<p class="center login-form-text" th:text="#{system.verify.phone}">验证您的手机号码</p>
						</a>
					</div>
				</div>
				<div class="row margin">
					<div class="input-field col s12">
						<i class="material-icons prefix pt-5 primary-color">person</i>
						<input id="username" name="username" type="text" disabled th:value="*{username}">
						<label for="username" class="center-align" th:text="#{system.username}">用户名</label>
					</div>
				</div>
				<div class="row margin">
					<div class="input-field col s12">
						<i class="mdi mdi-cellphone prefix pt-5 primary-color"></i>
						<input id="telephone" class="validate" name="telephone" type="tel" autocomplete="nope" pattern="[0-9]{11}" required>
						<label for="telephone" id="telephone-label" th:attr="data-success=#{validate.right},data-error=#{validate.telephone.wrong},data-cache=#{validate.telephone.wrong}" class="center-align" th:text="#{system.telephone}">手机号</label>
					</div>
				</div>
				<div class="row margin">
					<div class="input-field col s12">
						<i class="mdi mdi-puzzle prefix pt-5 primary-color"></i>
						<input id="captcha" class="validate" name="captcha" type="text" autocomplete="nope" required>
						<img id="captchaimg" alt="" th:src="@{*{captchaBase64}}" style="position: relative;top: -50px;left: 198px;">
						<label for="captcha" id="captcha-label" th:attr="data-success=#{validate.right},data-error=#{validate.captcha.wrong},data-cache=#{validate.captcha.wrong}" class="center-align" th:text="#{system.captcha}">验证码</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
					<a class="waves-effect waves-light btn  left  col s12" id="btn-tphone" th:text="#{system.next}"></a>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s4 m4 l4">
						<p class="margin left-align medium-small">
							<a th:href="@{/login}" th:text="#{system.back}">后退</a>
						</p>
					</div>
					<div class="input-field col s4 m4 l4">
						<p class="margin center-align medium-small">
							<a th:href="@{/}" th:inline="text">
							<i class="mdi mdi-home"></i>[[#{system.homepage}]]
							</a>
						</p>
					</div>
					<div class="input-field col s4 m4 l4">
						<p class="margin right-align medium-small">
							<a th:href="@{/login}" th:text="#{system.login.instead}">登录现有帐号</a>
						</p>
					</div>
				</div>
				<script type="text/javascript" th:inline="javascript">
				/*<![CDATA[*/
					$(document).ready(function() {
						
						var doRefresh=function(){
							let _pson=pro.ps({"blocklyXml":""});
							$.post("/recaptcha", _pson, function(data) {
								var msg = pro.sp(data);
								console.log(msg);
								if (msg.statusCode == 200) {
									if(msg.msgMap){
										$("#captchaimg").attr("src",msg.msgMap.captchabase64);
										console.log(msg.msgMap);
									}
								}else{
									Materialize.toast('<i class="material-icons">settings_input_antenna</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
								}
							}, "json");
					    }

						formUtils.bindBtnToForm($("#btn-tphone"),"click",$("#form-tphone"),doRefresh);
					    $("#captchaimg").bind("click",doRefresh);
					});
				
				
				
				/*]]>*/
				</script>
			</form>
		</div>
	</div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>
</html>