<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<style>
body {
	margin: 0;
}
canvas {
	width: 100%;
	height: 100%;
}
#ccc {
	margin: 1px;
	padding: 0px;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
			<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="wrapper content-wrapper" style="overflow: scroll;">
			<div class="row">
			
			<table class="bordered responsive-table display dataTable">
						<thead>
							<tr>
								<th class="center">院系名称</th>
								<th class="center">专业名称</th>
								<th class="center">班级名称</th>
								<th class="center">视频教程</th>
								<th class="center">入学日期</th>
								<th class="center">学生数量</th>
							</tr>
						</thead>
						<tbody>
							<tr class="" th:each="item : ${data}">
								<td class="center" th:text="${item.departmentName}"></td>
								<td class="center" th:text="${item.disciplineName}"></td>
								<td class="center" th:text="${item.className}"></td>
								<td class="center">
								    <div class="switch">
								    <label>
								    关闭
								    <input class="openVideo" type="checkbox" th:id="${item.classId}" th:checked="${item.openVideo!=-1}">
								    <span class="lever"></span>
								    开放
								    </label>
								    </div>
								</td>
								<td class="center" th:text="${item.createDate}"></td>
								<td class="center">
								
								<a href="JavaScript:void(0);" th:attr="data-classid=${item.classId},data-disciplineid=${item.disciplineId},data-departmentid=${item.departmentId}" th:text="${item.amount}">
								</a>
								</td>
							</tr>
						</tbody>
					</table>
					
			
						</div>
						<ul th:replace="${pagination == null} ? ~{} : ~{pagination :: pagination}"></ul>
            </div>
			</section>
			<form th:replace="~{form :: gform}"></div>
		</div>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/list.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>
<script th:inline="javascript">
/*<![CDATA[*/
	$(document).ready(
			function() {
				$(".openVideo").change(function(){
					var _checked;
					if(this.checked) {
						_checked="1";
				    }else{
				    	_checked="-1";
				    }
					var dd={"clazzId": [this.id+""],"value":_checked};
					let _pson=pro.ps(dd);
					$.post("/educlass/apdate", _pson, function(data) {
						var msg = pro.sp(data);
						if (msg.statusCode == 200) {
							if(msg.message&&msg.message!=null){
								Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded success');
							}
							
						}else{
							Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
						}
					}, "json");
				});
				$("a[data-classId]").click(
						function() {
							var a = $(this).data("classid") + "", b = $(this)
									.data("disciplineid")
									+ "";
							a = {
								levelTop : $(this).data("departmentid") + "",
								levelSecond : b,
								levelThird : a
							};
							a = pro.ps(a);
							window.location.href = "/edustudent?k=" + a.k
						})
			});
	/*]]>*/
</script>
</html>
