<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/lib/prism.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/custom/icons.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<style>
html, body {
  height: 100%;
}
body {
  background-color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}
h1 {
  font-weight: normal;
  font-size: 140%;
}
#blocklyDiv {
  float: right;
  height: 95%;
  width: 70%;
}
#importExport {
  font-family: monospace;
}

body {
	margin: 0;
}
canvas {
	width: 100%;
	height: 100%;
}
#ccc {
	margin: 1px;
	padding: 0px;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/xblockly/blockly_c.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/xblockly/blocks_c.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/xblockly/python_c.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="#{blockly.msg.js(${#servletContext.getAttribute('dnstatic')},${#servletContext.getAttribute('vstatic')})}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/prism.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
			<form th:object="${data}" id="form-edit" th:attr="data-id=*{blocklyId}"></form>
			<form th:replace="~{form :: gform}"></form>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
			<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="container" id="workspace" th:object="${data}" data-action="apdate" th:attr="data-id=*{blocklyId},data-xml=*{blocklyXml},data-titlename=*{titleName}">
					<div id="blocklyDiv" style="position: absolute"></div>
				</div>
				<div class="container fixedcode card" >
					<div class="card-content">
						<div class="card-title" style="border-bottom: 1px solid rgba(160, 160, 160, 0.2)">
						Python
						</div>
						<pre><code id="code" class="language-python"></code></pre>
						</div>
					</div>
			</section>
		</div>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<script type="text/javascript"
		th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>
<div th:replace="~{toolbox :: toolbox}"></div>
<script th:inline="javascript">
/*<![CDATA[*/
	

	 
		  var toolboxText = document.getElementById('toolbox').outerHTML;
		  toolboxText = toolboxText.replace(/(^|[^%]){(\w+)}/g,
		            function(m, p1, p2) {
		                return p1 + Blockly.Msg[p2.toUpperCase()];
		            });
		  
		  var toolboxXml = Blockly.Xml.textToDom(toolboxText);
	var workspacePlayground = Blockly.inject('blocklyDiv', {
		  "toolbox": toolboxXml,
		  "comments": true,
		    "trashcan": true,
			"scrollbars" : true, 
		  "grid": {
		    "spacing": 20,
		    "length": 30,
		    "colour": "#eee",
		    "snap": false
		  },
		  "zoom": {
		    "controls": true,
		    "wheel": true,
		    "startScale": 1,
		    "maxScale": 1,
		    "minScale": 0.01,
		    "scaleSpeed": 1.2
		  },
		    "media": /*[[${#servletContext.getAttribute('dnstatic') + '/xblockly/media/'}]]*/ "/xblockly/media/"
		        ,"toolboxOptions": {
		    "border": true,
		    "colour": true,
		    "inverted": true,
		    "invertedMultiplier": 0.3,
		    "disabledOpacity": 0.4
		  }
		});
	$(document).ready(function() {
		function myUpdateFunction(event) {
	        var code = Blockly.Python.workspaceToCode(workspacePlayground);
	        $("#code").text(code);
	        Prism.highlightElement($("#code")[0]);
	    }
	    workspacePlayground.addChangeListener(myUpdateFunction);
	    var resize = function() {
	    	let ww = window.innerWidth - STEPIOT.size.nav.width - 2;
	    	let codewidth=0;
	    	var codedisplay=$(".fixedcode").css("display");
	    	if(codedisplay!='none'){
	    		codewidth=$(".fixedcode").width()+20;
	    		ww = ww - codewidth -5 ;
	    	}
	        let hh = window.innerHeight - STEPIOT.size.top.height - 50 - STEPIOT.size.bottom.height - 2;
	        $(".fixedcode").height(hh-8);
	        $("#workspace").width(ww);
	        $("#workspace").height(hh);
	        $("#blocklyDiv").offset({
	            top: (STEPIOT.size.top.height + 50),
	            left: (STEPIOT.size.nav.width + 2)
	        });
	        $("#blocklyDiv").width(ww);
	        $("#blocklyDiv").height(hh);
	        $(".fixedcode").offset({
	            top: (STEPIOT.size.top.height + 50)+4,
	            left: window.innerWidth - codewidth 
	        });
	        Blockly.svgResize(workspacePlayground);
	    }
		STEPIOT.updateWorkspaceSize(resize);
		var xml_text=$("#workspace").data("xml");
		var xml = Blockly.Xml.textToDom(xml_text);
		Blockly.Xml.domToWorkspace(xml, workspacePlayground);
		workspacePlayground.zoomToFit();
		var showhideCode=function(){
	    	$(".fixedcode").toggle();
	    	STEPIOT.updateWorkspaceSize(resize);
	    }
	    $("#btn-code").bind("click",showhideCode);
		myUpdateFunction();
	});
	/*]]>*/
	</script>
</html>
