<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/lib/prism.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/lib/awesome/css/fontawesome-all.min.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<style>
html, body {
	height: 100%;
}

body {
	background-color: #fff;
	font-family: sans-serif;
	overflow: hidden;
}

h1 {
	font-weight: normal;
	font-size: 140%;
}

#importExport {
	font-family: monospace;
}

body {
	margin: 0;
}

canvas {
	width: 100%;
	height: 100%;
}

#ccc {
	margin: 1px;
	padding: 0px;
}
</style>

<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/ace/ace.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/skulpt/skulpt.min.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/skulpt/skulpt-stdlib.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/prism.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<form th:object="${data}" id="form-edit" th:attr="data-id=123"></form>
	<form th:replace="~{form :: gform}"></form>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
				<div th:replace="~{breadcrumbs :: crumbs}"></div>

				<div class="wrapper content-wrapper" style="overflow: scroll;">


<div id="editor" style="height: 100%">
import turtle

t = turtle.Turtle()
colors=['red', 'green', 'blue']
for c in range(200):
    t.color(colors[c%3])
    t.forward(c)
    t.left(60)
</div>

		


				</div>


			<div id="output" class="container fixedconsole card" >
				
			</div>
			<div id="mycanvas" class="container turtlecanvas card">
			   
			</div>

			</section>
		</div>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<div id="wikiModal" class="modal">
		<div class="modal-content">
			<h5>分享到网络</h5>
			<p></p>
		</div>
		<div class="modal-footer">
			<button class="btn waves-effect waves-light modal-action modal-close">关闭</button>
		</div>
	</div>
</body>
</div>
</div>

<script>
	$(document).ready(function() {
		var editor = ace.edit("editor");
		editor.setTheme("ace/theme/twilight");
		editor.session.setMode("ace/mode/python");
		$(".content-wrapper").css({
			"width" : "70%",
			"left" : "35%"
		});
		
		function outf(text) { 
		    var mypre = document.getElementById("output"); 
		    mypre.innerHTML = mypre.innerHTML + text; 
		}
	
    var runit=function(){
    	var prog = editor.getValue();
    	function builtinRead(x) {
    	    if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)
    		    throw "File not found: '" + x + "'";
    	    return Sk.builtinFiles["files"][x];
    	}
        (Sk.TurtleGraphics || (Sk.TurtleGraphics = {})).target = 'mycanvas';

        var mypre = document.getElementById("output"); 
        mypre.innerHTML = ''; 
        Sk.pre = "output";
        
        
        Sk.configure({output:outf, read:builtinRead}); 

        Sk.misceval.asyncToPromise(function() {
          return Sk.importMainWithBody("<stdin>",false,prog,true);
        });
        
        
       
        
    }
		
	$("#runButton").bind("click",runit);
		
	$("#canvasColor").change(function(){
		var color=$(this).val();
		$("#mycanvas").css("background-color", color);
	});
		
		
		
		
	});
	
</script>
<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</html>
