<!DOCTYPE html>
<html lang="en">
<head
	th:replace='head :: common_head(~{::title},~{},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<style>
body {
	margin: 0;
}

canvas {
	width: 100%;
	height: 100%;
}

#ccc {
	margin: 1px;
	padding: 0px;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>

</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
				<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="wrapper content-wrapper edit-wrapper" style="overflow: scroll;">
				 
						
						<div class="row">
				<div class="col s6 m6 l6">
                    <select th:if="${allDepartmentSelector!=null}" id="levelTop" class="level-select browser-default">
                      <option th:each="item : ${allDepartmentSelector.data}" th:value="${item.value}" th:text="${item.text}" th:attr="data-icon=${item.icon}" class="left circle" th:selected="(${item.value} == ${allDepartmentSelector.selectedKey})"> </option>
                    </select>
                </div>
                <div class="col s6 m6 l6">
                  <select th:if="${allDisciplineSelector!=null}" id="levelSecond" class="level-select browser-default">
                      <option th:each="item : ${allDisciplineSelector.data}" th:value="${item.value}" th:text="${item.text}" th:attr="data-icon=${item.icon}" class="left circle" th:selected="(${item.value} == ${allDisciplineSelector.selectedKey})"> </option>
                    </select>
                </div>
							
				     <div class="row">
				        <div class="input-field col s12 m12 l12">
				          <input id="classId" type="text" name="classId">
				          <label for="classId" id="classId-label">班级编号</label>
				        </div>
				      </div>
				      <div class="row">
				        <div class="input-field col s12 m12 l12">
				          <input id="className" type="text" name="className">
				          <label for="className" id="className-label">班级名称</label>
				        </div>
				      </div>
				   
				</div>
			</section>
		</div>
		<form th:replace="~{form :: gform}"></form>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		$(document).ready(function() {
			
			$('.level-select').bind('change', (event) => {
	            var fireSelect;
	            var bd = {};
	            bd['' + event.target.id + ''] = event.target.value;
	            if (event.target.id == 'levelTop') {
	                fireSelect = $("#levelSecond");
	            } else {
	                return;
	            }
	            let pson = pro.ps(bd);
	            $.post("/select/allSubItems", pson, function(data) {
	                var msg = pro.sp(data);
	                if (msg.statusCode == 200) {
	                    if (msg.msgMap && msg.msgMap.items) {
	                        var ops = JSON.parse(msg.msgMap.items);
	                        if (ops.data && ops.data.length > 0) {
	                            fireSelect.empty();
	                            for (var i = 0; i < ops.data.length; i++) {
	                                var _option = ops.data[i];
	                                fireSelect.append(new Option(_option['text'], _option['value'], false, false));
	                            }
	                        }
	                    }

	                } else {
	                    Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
	                }
	            }, "json");
	        });
			
			
			
			
			
			let saveClass=function(){
				let _pson=pro.ps({"levelThird":$("#classId").val(),"value":$("#className").val(),"levelSecond":$("#levelSecond").val()});
				$.post("/educlassman/apdate", _pson, function(data) {
					var msg = pro.sp(data);
					if (msg.statusCode == 200) {
						if(msg.message&&msg.message!=null){
							Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded success');
						}
					}else{
						Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
					}
				}, "json");
			}
			$("#btn-save").bind("click",saveClass);
		});
	 /*]]>*/
	</script>
</body>
</html>
