<!DOCTYPE html>
<html lang="en">
<head
	th:replace='head :: common_head(~{::title},~{},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<style>
body {
	margin: 0;
}

canvas {
	width: 100%;
	height: 100%;
}

#ccc {
	margin: 1px;
	padding: 0px;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>

</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
				<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="wrapper content-wrapper edit-wrapper" style="overflow: scroll;">
				<div class="row">
				    <form class="col s12" th:object="${data}" id="form-edit">
				     
				     <div class="row">
				        <div class="input-field col s12">
				          <input id="departmentId" type="text" name="departmentId">
				          <label for="departmentId" id="departmentId-label">院校编号</label>
				        </div>
				      </div>
				      <div class="row">
				        <div class="input-field col s12">
				          <input id="departmentName" type="text" name="departmentName">
				          <label for="departmentName" id="departmentName-label">院校名称</label>
				        </div>
				      </div>
				    </form>
				  </div>
				</div>
			</section>
		</div>
		<form th:replace="~{form :: gform}"></form>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	
	
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		$(document).ready(function() {
			let savedepartment=function(){
				let _pson=pro.ps({"levelTop":$("#departmentId").val(),"value":$("#departmentName").val()});
				
				$.post("/edudepartment/apdate", _pson, function(data) {
					var msg = pro.sp(data);
					if (msg.statusCode == 200) {
						if(msg.message&&msg.message!=null){
							Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded success');
						}
						
					}else{
						Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
					}
				}, "json");
			}
			
			$("#btn-save").bind("click",savedepartment);
		});
	 /*]]>*/
	</script>
	
	
</body>
</html>
