<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/lib/prism.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/js/highlight/styles/googlecode.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/custom/pure-min.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<style>
body {
	margin: 0;
}
canvas {
	width: 100%;
	height: 100%;
}
#ccc {
	margin: 1px;
	padding: 0px;
}
.markdownpre {
    background-color: #f0f0f0;
    border-radius: 5px;
    line-height: 1.45;
    overflow: auto;
    padding: 20px;
}
#markdown{
line-height: 170%;
}
#markdown img{
  filter: drop-shadow(rgb(153, 153, 153) 5px 5px 5px);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}
#markdown code:not([class]), #markdown code[class=""]{
	padding: .2em .4em;
    margin: 0em 0.5em;
    font-size: 85%;
    background-color: #4285f4;
    border-radius: 4px;
    color: white;
}
.toc{
    z-index: 2;
    position: fixed;
    right: 4%;
    top: 129px;
    padding: 2rem;
    width: 20%;
    height: calc(100% - 180px);
    overflow: scroll;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/prism.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/marked.min.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/highlight/highlight.min.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/jquery.toc.min.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<form th:replace="~{form :: gform}"></form>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
				<div th:replace="~{breadcrumbs :: crumbs}"></div>
				<div class="container">
					<div class="wrapper content-wrapper" style="overflow: scroll;">
						<div id="chips" class="section">
							<div class="margin row">
								<div class="col s9 card" id="markdown" style="padding: 3em;margin-left: 3px;">
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<div class="col l12 m12 s12 card toc" >
	<ul id="toc"></ul>
	</div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<form>
	<input type="hidden" id="outlineId" th:value="${data.outlineId}">
	</form>
</body>
<script th:inline="javascript">
/*<![CDATA[*/
	$(document).ready(function() {
		$("#btn-downppt").bind("click",function() {
			var bd={"outlineId": $("#outlineId").val()};
			let pson=pro.ps(bd);
	    	window.location.href="/pythoncourse/downppt?k="+pson.k;
		});
		 $("#btn-doAction").bind("click",function() {
				let ids=[];
				ids.push($("#outlineId").val()+'');
				let x={"id": ids,"userCourseId":1,"currentLevel":/*[[@{${data.levelFrom}}]]*/ 0};
				let pson=pro.ps(x);
				$("#gform input[name=k]").val(pson.k);
				$("#gform").attr("action",/*[[@{${baseUri + "/edit"}}]]*/ "/mycourse/edit");
				//$("#gform").submit();
				var location=/*[[@{${baseUri + "/edit"}}]]*/ "/iotproject/edit";
				window.location.href=location+"?k="+pson.k;
			});
		 marked.setOptions({
			  renderer: new marked.Renderer(),
			  highlight: function(code,lang,callback) {
			    return hljs.highlightAuto(code).value;
			  },
			  pedantic: false,
			  gfm: true,
			  breaks: false,
			  sanitize: false,
			  smartLists: true,
			  smartypants: false,
			  xhtml: false
			});
		 $("#markdown").html(marked(/*[[@{${md.mdoc}}]]*/ '# Marked in the browser\n\nRendered by **marked**.'));
		 $("[class|='language']").parent().addClass("markdownpre");
		 $("#markdown").find("table").addClass("pure-table pure-table-bordered");
		 try{var imgs=$("img[alt*='width']");if(imgs&&0<imgs.length)for(var i=0;i<imgs.length;i++)$(imgs[i]).css(JSON.parse($(imgs[i]).attr("alt")))}catch(a){};
		 $("#toc").toc({content: "#markdown", headings: "h5,h6"});
	});
	/*]]>*/
</script>
</html>
