<!DOCTYPE html>
<html lang="en">
<div id="current_level" style="display:none" th:text="${data.currentLevel}"></div>
<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/lib/prism.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/custom/icons.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<style>
body, html {
	height: 100%
}

body {
	background-color: #fff;
	font-family: sans-serif;
	overflow: hidden
}

h1 {
	font-weight: 400;
	font-size: 140%
}

#blockly {
	float: right;
	height: 95%;
	width: 70%
}
.blocklyTreeLabel {
    padding-left: 16px;
}

#importExport {
	font-family: monospace
}

body {
	margin: 0
}

canvas {
	width: 100%;
	height: 100%
}

#ccc {
	margin: 1px;
	padding: 0
}

</style>
<script th:src="#{vblockly.maze.js(${#servletContext.getAttribute('dnstatic')},${#servletContext.getAttribute('vstatic')})}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/prism.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<form th:object="${data}" id="form-edit" th:attr="data-id=123"></form>
	<form th:replace="~{form :: gform}"></form>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
			<div th:replace="~{breadcrumbs :: crumbs}"></div>
			<div class="container" id="workspace" th:object="${data}" th:attr="data-outlineid=*{outlineId},data-blockly=*{blockly}" data-action="/pythoncourse/apdate" data-faction="flash" data-caction="complete">
			<div id="blockly" style="position: absolute"></div>
			<div th:switch="${localeStr}">
			  <div th:case="'de'">
			   <div th:replace="~{turtle_zh_HK :: turtle}"></div>
			  </div>
			  <div th:case="'zh'">
			  	<div th:replace="~{turtle_zh_CN :: turtle}"></div></div>
			  <div th:case="*">
			  	<div th:replace="~{turtle :: turtle}"></div>
			  </div>
			</div>
			

			</div>
			<div class="container fixedjs card" >
				<div class="card-content">
					<div class="card-title" style="border-bottom: 1px solid rgba(160, 160, 160, 0.2)">
					Python
					</div>
					<pre><code id="code" class="language-python"></code></pre>
				</div>
			</div>
			<div class="fixedsvg card" id="visualization">
			   	<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="svgMaze" width="360px" height="360px">
			      <g id="look">
			        <path d="M 0,-15 a 15 15 0 0 1 15 15" />
			        <path d="M 0,-35 a 35 35 0 0 1 35 35" />
			        <path d="M 0,-55 a 55 55 0 0 1 55 55" />
			      </g>
			    </svg>
			    <div id="capacityBubble">
			      <div id="capacity"></div>
			    </div>
			</div>
				
			</section>
		</div>
	</div>
	<div th:replace="~{footer :: copy}"></div>
    <div id="wikiModal" class="modal">
        <div class="modal-content">
            <h5>分享到网络</h5>
            <p></p>
        </div>
        <div class="modal-footer"> 
        <button class="btn waves-effect waves-light modal-action modal-close">关闭</button></div>
    </div>
    <div th:if="${bcb.play}" th:replace="~{video :: video}"></div>
</body>
<div style="display:none" id="theme" th:text="${blocklyTheme}"></div>
<div style="display:none" id="tutorialBlockly" th:utext="${data.tutorialBlockly}"></div>
<div style="display:none" id="tutorialCode" th:utext="${data.tutorialCode}"></div>
<div style="display:none" th:utext="${data.toolbox}"></div>
<script th:inline="javascript">
/*<![CDATA[*/
    var options={
    		  "toolbox": document.getElementById('toolbox'),
    		  "trashcan": true,
    		  "scrollbars" : true, 
    		  "comments": true,
    		  "grid": {
    		    "spacing": 20,
    		    "length": 30,
    		    "colour": "#eee",
    		    "snap": false
    		  },
    		  "zoom": {
    		    "controls": true,
    		    "wheel": true,
    		    "startScale": 1,
    		    "maxScale": 2,
    		    "minScale": 0.5,
    		    "scaleSpeed": 1.1
    		  },
    		  "version": /*[[${#servletContext.getAttribute('vstatic') }]]*/ "1"
    		    ,"media": /*[[${#servletContext.getAttribute('dnstatic') + '/xblockly/media/'}]]*/ "/xblockly/media/"
    		        ,"toolboxOptions": {
    		    "border": true,
    		    "colour": true,
    		    "inverted": true,
    		    "invertedMultiplier": 0.3,
    		    "disabledOpacity": 0.4
    		  }
    		};
    
function toLevel(levelNum){
	let ids=[];
	ids.push($("#workspace").data("outlineid")+'');
	var bd={"id": ids,"userCourseId":"1","currentLevel":levelNum};
	let pson=pro.ps(bd);
	$("#gform input[name=k]").val(pson.k);
	$("#gform").attr("action",/*[[@{${baseUri + "/edit"}}]]*/ "/iotproject/edit");
	//$("#gform").submit();
	var location=/*[[@{${baseUri + "/edit"}}]]*/ "/iotproject/edit";
	window.location.href=location+"?k="+pson.k;
}
$(document).ready(function() {
	options.theme=BlocklyInterface.Themes[$("#theme").text()];
	window['nextLevel']=function(selectedLevel){
		var current_level=document.getElementById("current_level").innerText;
		toLevel(Number(current_level)+1);
	}
	
	window['vblocklySave']=function(xml){
		var current_level=document.getElementById("current_level").innerText;
		var _code = BlocklyInterface.getPyCode();
		var _outlineId=$("#workspace").data("outlineid");
		var _blockTypes = BlocklyInterface.getAllBlockTypes();
		var dd={"outlineId":_outlineId,"blockly":xml,"clazzId": _blockTypes,"code":_code,"currentLevel":current_level};
		let _pson=pro.ps(dd);
		var _action=$("#workspace").data("action");
		$.post(_action, _pson, function(data) {
			var msg = pro.sp(data);
			if (msg.statusCode == 200) {
				if(msg.message&&msg.message!=null){
					Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded success');
					BlocklyDialogs.hideDialog();
				}
				
			}else{
				Materialize.toast('<i class="material-icons">cloud_done</i> &nbsp;&nbsp;' + msg.message, 1024, 'rounded fail');
			}
		}, "json");
	}
	
	
	Maze.init('blockly','visualization',options);
	var workspacePlayground = BlocklyInterface.getWorkspace();
    function myUpdateFunction(event) {
        var code = BlocklyInterface.getPyCode();
        $("#code").text(code);
        Prism.highlightElement($("#code")[0]);
    }
    workspacePlayground.addChangeListener(myUpdateFunction);
    var resize = function() {
    	let ww = window.innerWidth - STEPIOT.size.nav.width - 2;
    	let codewidth=0;
    	var codedisplay=$(".fixedjs").css("display");
    	if(codedisplay!='none'){
    		codewidth=$(".fixedjs").width()+20;
    		ww = ww - codewidth -5 ;
    	}
        let hh = window.innerHeight - STEPIOT.size.top.height - 50 - STEPIOT.size.bottom.height - 2;
        $(".fixedsvg").height(360);
        $(".fixedjs").height((hh-8)-360);
        $("#workspace").width(ww);
        $("#workspace").height(hh);
        $("#blockly").offset({
            top: (STEPIOT.size.top.height + 50),
            left: (STEPIOT.size.nav.width + 2)
        });
        $("#blockly").width(ww);
        $("#blockly").height(hh);
        $(".fixedjs").offset({
            top: (STEPIOT.size.top.height + 50)+4,
            left: window.innerWidth - codewidth 
        });
        $(".fixedsvg").offset({
            top: (STEPIOT.size.top.height + 50)+8+$(".fixedjs").height(),
            left: window.innerWidth - codewidth 
        });
        
        BlocklyInterface.svgResize();
    }
    STEPIOT.updateWorkspaceSize(resize);
    
    var showhideCode=function(){
    	$(".fixedjs").toggle();
    	STEPIOT.updateWorkspaceSize(resize);
    }
    $("#btn-code").bind("click",showhideCode);
    var xml_text = $("#workspace").data("blockly");
    if(xml_text){
    	BlocklyInterface.setCode(xml_text+"");
    }
    BlocklyInterface.zoomToFit();
    
    window['feedAnswer']=function(_answer){
    	if (_answer) {
    		BlocklyInterface.getWorkspace().clear();
    		BlocklyInterface.setCode(_answer+"");
        }
    	BlocklyInterface.zoomToFit();
    }
    window['reset']=function(){
    	BlocklyInterface.getWorkspace().clear();
    	BlocklyInterface.setCode($("#tutorialBlockly").html());
    }
    $('.modal').modal();
    
    
});
/*]]>*/
</script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
</html>
