<!DOCTYPE html>
<html lang="en">
<head th:replace='head :: common_head(~{::title},~{::link},~{::style},~{::[//script[@data-info="th"]]})'>
<title th:text="#{${titleName}}"></title>
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/lib/prism.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/js/highlight/styles/googlecode.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<link th:href="@{${#servletContext.getAttribute('dnstatic') + '/css/custom/pure-min.css' + #servletContext.getAttribute('vstatic')}}" rel="stylesheet">
<style>
body {
	margin: 0;
}
canvas {
	width: 100%;
	height: 100%;
}
#ccc {
	margin: 1px;
	padding: 0px;
}
.card-title-div-inline {
    display: inline;
    font-size: 14px;
    font-weight: normal;
}
.card .card-content {
    padding: 8px;
    border-radius: 0 0 5px 5px;
}
.markdownpre {
    background-color: #f0f0f0;
    border-radius: 5px;
    line-height: 1.45;
    overflow: auto;
    padding: 20px;
}
#markdown{
line-height: 170%;
}
#markdown img{
  filter: drop-shadow(rgb(153, 153, 153) 5px 5px 5px);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}
#markdown code:not([class]), #markdown code[class=""]{
	padding: .2em .4em;
    margin: 0em 0.5em;
    font-size: 85%;
    background-color: #4285f4;
    border-radius: 4px;
    color: white;
}
</style>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/stepiot.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/lib/prism.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/marked.min.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
<script th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/highlight/highlight.min.js' + #servletContext.getAttribute('vstatic')}}" data-info="th"></script>
</head>
<body>
	<div id="loader-wrapper">
		<div id="loader"></div>
		<div class="loader-section section-left"></div>
		<div class="loader-section section-right"></div>
	</div>
	<div th:replace="~{header :: head}"></div>
	<div id="main" class="main-full">
		<div class="wrapper">
			<div th:replace="~{laside :: nav}"></div>
			<section id="content" class="section-content">
			<div th:replace="~{breadcrumbs :: crumbs}"></div>
				
				<div class="container">
					<div class="wrapper content-wrapper" style="overflow: scroll;">
						<div id="chips" class="section">
							<div class="margin row">
							<div class="col s12 m12 l12 card" style="padding: 3em;margin-left: 3px;">
							<div class="row" style="margin-bottom: 1rem;">
									<div class="col s7">
										<div style="font-size: 1.625rem;">Python编程认知基础</div>
										<div style="height: 225px;">
											<p th:utext="${course.description}">
											</p>
										</div>
										<div>
										<a class="btn btn-large waves-effect waves-light" th:href="@{/pythoncourse/outline}">立即学习
										<i class="icon-left left breadcrumbs-btn-icon mdi mdi-send"></i></a>
										</div>
									</div>
									<div class="col s4 card">
										<image style="width:100%" th:src="@{${#servletContext.getAttribute('devestatic') + course.coverage + #servletContext.getAttribute('vstatic')}}" ></image>
									</div>
								</div>
								<div class="divider"></div>
								
								<div class="row" style="margin-top: 1rem;">
									<div class="col s7">
										<div style="font-size: 1.625rem;">课程介绍</div>
											<div id="markdown">
											</div>
									</div>
									<div class="col s4" >
										<table class="pure-table pure-table-horizontal" style="border-width:0px;    font-size: large;">
									         <tbody>
									            <tr>
									               <td><i class="icon-left left mdi mdi-clock"></i>时长</td>
									               <td><span th:text="${course.length}"></span></td>
									            </tr>
									            <tr>
									               <td><i class="icon-left left mdi mdi-gauge-low"></i>学分</td>
									               <td><span th:text="${course.credit}"></span></td>
									            </tr>
									            <tr>
									               <td><i class="icon-left left mdi mdi-account-clock"></i>努力</td>
									               <td><span th:text="${course.effort}"></span></td>
									            </tr>
									            <tr>
									               <td><i class="icon-left left mdi mdi-tag"></i>价格</td>
									               <td><span th:text="${course.price}"></span></td>
									            </tr>
									            <tr>
									               <td><i class="icon-left left mdi mdi-school"></i>主题</td>
									               <td><span th:text="${course.subject}"></span></td>
									            </tr>
									            <tr>
									               <td><i class="icon-left left mdi mdi-decagram"></i>级别</td>
									               <td><span th:text="${course.level}"></span></td>
									            </tr>
									            <tr>
									               <td><i class="icon-left left mdi mdi-certificate"></i>证书</td>
									               <td><span th:text="${course.programs}"></span></td>
									            </tr>
									         </tbody>
									      </table>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<form th:replace="~{form :: gform}"></div>
		</div>
	</div>
	<div th:replace="~{footer :: copy}"></div>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/vendors/perfect-scrollbar/perfect-scrollbar.min.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/plugins.js' + #servletContext.getAttribute('vstatic')}}"></script>
	<script type="text/javascript" th:src="@{${#servletContext.getAttribute('dnstatic') + '/js/list.js' + #servletContext.getAttribute('vstatic')}}"></script>
</body>
<script th:inline="javascript">
/*<![CDATA[*/

	$(document).ready(function() {
		$( "div[data-id]" ).click(function() {
			let ids=[];
			ids.push($(this).data("id")+'');
			var bd={"id": ids,"userCourseId":"0","currentLevel":$(this).data("from")};
			let pson=pro.ps(bd);
	    	var location=/*[[@{${baseUri + "/edit"}}]]*/ "/iotproject/edit";
	    	window.location.href=location+"?k="+pson.k;
		});
		
		marked.setOptions({
			  renderer: new marked.Renderer(),
			  highlight: function(code,lang,callback) {
			    return hljs.highlightAuto(code).value;
			  },
			  pedantic: false,
			  gfm: true,
			  breaks: false,
			  sanitize: false,
			  smartLists: true,
			  smartypants: false,
			  xhtml: false
			});
		$("#markdown").html(marked(/*[[@{${wiki.wikiBody}}]]*/ '# Marked in the browser\n\nRendered by **marked**.'));
		 $("[class|='language']").parent().addClass("markdownpre");
		 $("#markdown").find("table").addClass("pure-table pure-table-bordered");
		 try{var imgs=$("img[alt*='width']");if(imgs&&0<imgs.length)for(var i=0;i<imgs.length;i++)$(imgs[i]).css(JSON.parse($(imgs[i]).attr("alt")))}catch(a){};
	});
	/*]]>*/
</script>
</html>
