.ioLabel>.blocklyFlyoutLabelText {
  font-style: italic;
}
.blocklyFlyoutHeading>.blocklyFlyoutLabelText {
  font-size: 1.5rem;
}
line.blocklyFlyoutLine {
  stroke: white;
}
.blocklyFlyoutLabelIcon {
	font-family: 'Material Design Icons';
	font-size: 1.5rem;
	font-weight: 900;
	fill: #575e75
}
.blocklyTreeRow {
  height: 45px !important;
}
.blocklyTreeSelected .blocklyTreeIcon{
 color: #fff;
}
.blocklyTreeIconCustom {
	background: 0 0 !important;
	font-family: 'Material Design Icons';
	font-weight: 900;
	font-size: 1.3rem;
	margin: 0 .25em;
	width: 16px !important;
	height: 100% !important;
	line-height: 45px;
	min-height: 45px;
	vertical-align: middle;
	padding-left: 8px
}
.blocklyTreeIconCustom::before {
  content: "\f12e";
}
.blocklyTreeIconCustom.turtle::before {
	content: "\fd17";
}
.blocklyTreeIconCustom.logic::before {
	content: "\f49f";
}
.blocklyTreeIconCustom.loops::before {
	content: "\f99a";
}
.blocklyTreeIconCustom.math::before {
	content: "\f358";
}
.blocklyTreeIconCustom.text::before {
	content: "\fe15";
}
.blocklyTreeIconCustom.lists::before {
	content: "\fdac";
}
.blocklyTreeIconCustom.colour::before {
	content: "\fe6c";
}
.blocklyTreeIconCustom.variables::before {
	content: "\f66a"
}
.blocklyTreeIconCustom.functions::before {
	content: "\f4a0"
}
.blocklyTreeIconCustom.volume-up::before {
	content: "\f57e"
}
.blocklyTreeIconCustom.wifi::before {
	content: "\f5a9"
}
.blocklyTreeIconCustom.ruler-horizontal::before {
	content: "\f4f4"
}
.blocklyTreeIconCustom.spinner::before {
	content: "\f7fb"
}
.blocklyTreeIconCustom.music::before {
	content: "\f387"
}

.blocklyTreeIconCustom.microchip::before {
	content: "\f61a"
}
.blocklyTreeIconCustom.image::before {
	content: "\f2e9"
}
.blocklyTreeIconCustom.chart-area::before {
	content: "\f1fe"
}
.blocklyTreeIconCustom.compass::before {
	content: "\f18b"
}
.blocklyTreeIconCustom.toggle-on::before {
	content: "\f296"
}
.blocklyTreeIconCustom.console::before {
	content: "\f18d"
}
.blocklyTreeIconCustom.crosshairs::before {
	content: "\fd25"
}
.blocklyTreeIconCustom.square-root-alt::before {
	content: "\f698"
}
.blocklyTreeIconCustom.sliders-h::before {
	content: "\f1de"
}
.blocklyTreeIconCustom.code::before {
	content: "\f169"
}
.blocklyTreeIconCustom.robot::before {
	content: "\f1fa"
}
.blocklyTreeIconCustom.thermometer::before {
	content: "\f3c8"
}