#dragvideo{
position: fixed;
    display: none;
    width: 500px;
    top: 0px;
    left: 0px;
    z-index: 9999;
    min-height: 318px;
    margin: 2%;
    background-color: #ff0000;
    color: red;
    border-radius: 0.75em;
    padding: 1% 0% 0% 0%;
    touch-action: none;
    user-select: none;
    height: 318px;
}
video{
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    cursor: default;
}
.closebutton{
	position: relative;
    top: -6px;
    right: 12px;
    cursor: pointer;
}